extends ~/layouts/UI-kit/UI-kit
include ~/components/colors/colors
include ~/components/types/types

block variables
  -
    const title = 'Toxin colors and type'
    const description = 'Toxin colors and type description'
    const keywords = 'Toxin colors and type keywords'

    const pageParams = require('@pages/colors-types/data/page-data.json')

block content
  main.colors-types
    .colors-types__container
      +colors(pageParams.colors)
      +types(pageParams.types)
