extends ~/layouts/main-layout/main-layout
include ~/components/heading/heading
include ~/components/features/features
include ~/components/bullet-list/bullet-list
include ~/components/comments/comments
include ~/components/booking-card/booking-card
include ~/components/pie-chart/pie-chart

block variables
  -
    const title = 'Toxin room-details'
    const description = 'Toxin room-details description'
    const keywords = 'Toxin room-details keywords'
    const faviconPaths = {
      apple: 'static/favicon/active/apple-touch-icon.png',
      big: 'static/favicon/active/favicon-32x32.png',
      small: 'static/favicon/active/favicon-16x16.png',
      manifest: `static/favicon/active/site.webmanifest`,
      pinned: 'static/favicon/active/safari-pinned-tab.svg',
    }

    const pageParams = require('@pages/room-details/data/page-data.json')

block content
  main.room-details
    .room-details__room-imgs
      .room-details__room-img-main
        img&attributes({
          class: 'room-details__room-img',
          src: require('./img/room-photo/room-details-main.jpg'),
          alt: 'Фото комнаты',
        })
      .room-details__room-img-aside
        .room-details__room-img-aside-top
          img&attributes({
            class: 'room-details__room-img',
            src: require('./img/room-photo/room-details-aside-top.jpg'),
            alt: 'Фото комнаты',
          })  
        .room-details__room-img-aside-bottom
          img&attributes({
            class: 'room-details__room-img',
            src: require('./img/room-photo/room-details-aside-bottom.jpg'),
            alt: 'Фото комнаты',
          })
    .room-details__container
      .room-details__content
        .room-details__information
          section.room-details__features
            .room-details__features-heading
              +heading(pageParams.featuresSection.heading)
            .room-details__features-list
              +features(pageParams.featuresSection.features)
          section.room-details__impressions
            .room-details__impressions-heading
              +heading(pageParams.impressionsSection.heading)
            .room-details__impressions-chart
              +pie-chart(pageParams.impressionsSection.pieChart)
          section.room-details__comments
            .room-details__comments-heading
              h2.room-details__comments-heading-title
                | #{pageParams.commentsSection.title}
              p.room-details__comments-heading-subtitle
                | #{pageParams.commentsSection.count}
            .room-details__comments-list
              +comments(pageParams.commentsSection.comments)
          section.room-details__rules
            .room-details__rules-heading
              +heading(pageParams.rulesSection.heading)
            .room-details__rules-list
              +bullet-list(pageParams.rulesSection.rulesList)
          section.room-details__cancel
            .room-details__cancel-heading
              +heading(pageParams.cancelSection.heading)
            span.room-details__cancel-text
              | #{pageParams.cancelSection.info}
        section.room-details__booking
          +booking-card(pageParams.bookingSection.bookingCard)