extends ~/layouts/main-layout/main-layout
include ~/components/text/text
include ~/components/features/features
include ~/components/bullet-list/bullet-list
include ~/components/comments/comments
include ~/components/booking-card/booking-card
include ~/components/pie-chart/pie-chart

block variables
  -
    const title = 'Toxin room-details'
    const description = 'Toxin room-details description'
    const keywords = 'Toxin room-details keywords'
    const faviconPaths = {
      apple: 'static/favicon/active/apple-touch-icon.png',
      big: 'static/favicon/active/favicon-32x32.png',
      small: 'static/favicon/active/favicon-16x16.png',
      manifest: `static/favicon/active/site.webmanifest`,
      pinned: 'static/favicon/active/safari-pinned-tab.svg',
    }

block content
  main.room-details
    .room-details__room-imgs
      .room-details__room-img-main
        img&attributes({
          class: 'room-details__room-img',
          src: require('./img/room-photo/room-details-main.jpg'),
          alt: 'Фото комнаты',
        })
      .room-details__room-img-aside
        .room-details__room-img-aside-top
          img&attributes({
            class: 'room-details__room-img',
            src: require('./img/room-photo/room-details-aside-top.jpg'),
            alt: 'Фото комнаты',
          })  
        .room-details__room-img-aside-bottom
          img&attributes({
            class: 'room-details__room-img',
            src: require('./img/room-photo/room-details-aside-bottom.jpg'),
            alt: 'Фото комнаты',
          })
    .room-details__container
      .room-details__content
        .room-details__information
          section.room-details__features
            .room-details__features-title
              +text({ text: 'Сведения о номере', type: 'h2', color: 'dark-shade-100', bold: true })
            .room-details__features-list
              +features([
                { icon: 'insert_emoticon', title: 'Комфорт', subtitle: 'Шумопоглощающие стены', hasBottomLine: true },
                { icon: 'location_city', title: 'Удобство', subtitle: 'Окно в каждой из спален', hasBottomLine: true },
                { icon: 'whatshot', title: 'Уют', subtitle: 'Номер оснащён камином' },
              ])
          section.room-details__impressions
            .room-details__impressions-title
              +text({ text: 'Впечатления от номера', type: 'h2', color: 'dark-shade-100', bold: true })
            .room-details__impressions-chart
              +pie-chart({ classForJs: 'js-pie-chart' })
          section.room-details__comments
            .room-details__comments-heading
              +text({ text: 'Отзывы посетителей номера', type: 'h2', color: 'dark-shade-100', bold: true })
              +text({ text: '2 отзыва', type: 'p', color: 'dark-shade-50' })
            .room-details__comments-list
              +comments([
                {
                  imgName: 'murad_sarafanov.jpg',
                  name: 'Мурад Сарафанов',
                  dateOfComment: '5 дней назад',
                  likeCount: '12',
                  likeIsActive: true,
                  text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
                },
                {
                  imgName: 'patricia_steklyshkova.jpg',
                  name: 'Патрисия Стёклышкова',
                  dateOfComment: 'Неделю назад',
                  likeCount: '2',
                  text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'
                },
              ])
          section.room-details__rules
            .room-details__rules-title
              +text({ text: 'Правила', type: 'h2', color: 'dark-shade-100', bold: true })
            .room-details__rules-list
              +bullet-list([
                'Нельзя с питомцами',
                'Без вечеринок и мероприятий',
                `Время прибытия — после 13:00, а\u00A0выезд до 12:00`,
              ])
          section.room-details__cancel
            .room-details__cancel-title
              +text({ text: 'Отмена', type: 'h2', color: 'dark-shade-100', bold: true })
            span.room-details__cancel-text='Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.'
        section.room-details__booking
          +booking-card({
            luxe: true,
            dateDropdownClassForJs: 'js-booking-card-date-dropdown',
            guestsDropdownClassForJs: 'js-booking-card-guests',
            formAction: './error-page.html',
            classForJs: 'js-room-details-booking-card'
          })