.colors-type-container {
  padding-top: 30px;
  padding-left: 30px;
}

.colors-type-layout {
  padding: 64px 0 0 120px;
  display: flex;
}

.colors-container {
  display: flex;
  flex-direction: column;
  margin-right: 415px;
}