@import '~/scss/variables';
@import '~/scss/mixins';

.pagination {
  text-align: center;

  &__list {
    display: flex;
    margin: 0 0 rem(8) 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    color: $darkShade50;
    font-size: rem(12);
    line-height: rem(14.63);
    border-radius: 50%;
    cursor: pointer;

    &-link {
      display: inline-block;
      width: rem(40);
      height: rem(40);
      color: $darkShade50;
      line-height: rem(40);
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
      user-select: none;

      &:focus-visible {
        outline: $thinFocusOutline;
      }
    }

    &:hover {
      background: $primaryGradientTransparent;
    }

    &--active {
      font-weight: bold;
      background: $primaryGradient;

      :hover {
        background: $primaryGradient;
      }

      .pagination {
        &__item-link {
          color: #fff;
        }
      }
    }

    &--disabled {
      &:hover {
        background: transparent;
        cursor: default;
      }
    }

    &--with-arrow {
      font-size: rem(24);
      background: $secondaryGradient;

      &:hover {
        background: $secondaryGradientTransparent;
      }

      .pagination {
        &__item-link {
          color: #fff;
        }
      }
    }
  }
}
