.pagination {
  text-align: center;

  &__list {
    display: flex;
    margin-bottom: rem(8);
  }

  &__item {
    color: $darkShade50;
    font-size: rem(12);
    line-height: rem(14.63);
    border-radius: 22px;
    cursor: pointer;

    &-link {
      display: inline-block;
      width: rem(40);
      height: rem(40);
      color: $darkShade50;
      line-height: rem(40);
      text-align: center;
      border-radius: 22px;
      user-select: none;

      &:focus-visible {
        outline: $thinFocusOutline;
      }
    }

    &:hover {
      background: $primaryGradientTransparent;
    }

    &--active {
      font-weight: bold;
      background: $primaryGradient;

      :hover {
        background: $primaryGradient;
      }

      .pagination {
        &__item-link {
          color: #fff;
        }
      }
    }

    &--disabled {
      &:hover {
        background: transparent;
        cursor: default;
      }
    }

    &--with-arrow {
      font-size: rem(24);
      background: $secondaryGradient;

      &:hover {
        background: $secondaryGradientTransparent;
      }

      .pagination {
        &__item-link {
          color: #fff;
        }
      }
    }
  }
}
