@import '~/scss/montserrat';
@import '~/scss/material-icons';
@import '@fortawesome/fontawesome-free/css/all.css';
@import '~/scss/variables';
@import '~/scss/mixins';
@import '~/scss/settings';
@import '~/layouts/main-layout/main-layout';
@import '~/components/logo/logo';
@import '~/components/text/text';
@import '~/components/text-field/text-field';
@import '~/components/button/button';
@import '~/components/dropdown/dropdown';
@import '~/components/date-dropdown/date-dropdown';
@import '~/components/find-room-card/find-room-card';
@import '~/components/datepicker/datepicker';
@import '~/components/header/header';
@import '~/components/menu/menu';
@import '~/components/sub-menu/sub-menu';
@import '~/components/footer/footer';
@import '~/components/footer-mobile/footer-mobile';
@import '~/components/copyright-bar/copyright-bar';

.landing {
  background: url('./img/landing.jpg') no-repeat;
  background-size: cover;
  background-position: 50% -70px;
  padding: rem(70) rem(30) rem(21) rem(30);

  @media screen and (max-width: 1439px) {
    background-position: center;
  }

  @media screen and (max-width: 767px) {
    padding: rem(70) 0 rem(21) 0;
  }

  &__container {
    max-width: rem(1160);
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  &__presentation {
    margin-top: rem(317);
    text-align: right;

    @media screen and (max-width: 767px) {
      margin-top: rem(160);
    }
  }

  &__presentation-text {
    display: inline-block;
    max-width: rem(297);

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
}
