@import '~normalize.css';
@import '~/scss/montserrat';
@import '~/scss/material-icons';
@import '@fortawesome/fontawesome-free/css/all.css';
@import '~/scss/variables';
@import '~/scss/mixins';
@import '~/scss/settings';
@import '~/components/logo/logo';
@import '~/components/text/text';
@import '@form-elements/text-field/text-field';
@import '@form-elements/button/button';
@import '@form-elements/dropdown/dropdown';
@import '@cards/find-room-card/find-room-card';
@import '@cards/datepicker/datepicker';
@import '~/components/header/header';
@import '~/components/menu/menu';
@import '~/components/footer/footer';
@import '~/components/copyright-bar/copyright-bar';

.main {
  background: url('./img/landing-page-background.jpg') no-repeat;
  background-size: cover;
  background-position: 50% -70px;
}

@media screen and (max-width: 1439px) {
  .main {
    background-position: center;
  }
}

.main-section {
  padding: rem(70) rem(30) rem(21) rem(30);
}

@media screen and (max-width: 767px) {
  .main-section {
    padding: rem(70) 0 rem(21) 0;
  }
}

.main-section__container {
  max-width: rem(1160);
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .main-section__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.main-section__text-wrapper {
  margin-top: rem(317);
  text-align: right;
}

@media screen and (max-width: 767px) {
  .main-section__text-wrapper {
    margin-top: rem(160);
  }
}

.main-section__text {
  display: inline-block;
  max-width: rem(297);
}

@media screen and (max-width: 767px) {
  .main-section__text {
    text-align: center;
  }
}
