extends ~/layouts/main-layout/main-layout
include ~/components/logo/logo
include ~/components/find-room-card/find-room-card
include ~/components/header/header
include ~/components/footer/footer
include ~/components/copyright-bar/copyright-bar

block variables
  -
    const title = 'Toxin landing-page'
    const description = 'Toxin landing-page description'
    const keywords = 'Toxin landing-page keywords'
    const faviconPaths = {
      apple: 'static/favicon/active/apple-touch-icon.png',
      big: 'static/favicon/active/favicon-32x32.png',
      small: 'static/favicon/active/favicon-16x16.png',
      manifest: `static/favicon/active/site.webmanifest`,
      pinned: 'static/favicon/active/safari-pinned-tab.svg',
    }

block content
  main.landing
    .landing__container
      .landing__find-room-card
        +find-room-card({
          title: 'Найдём номера под ваши\u00A0пожелания',
          dateDropdownClassForJs: 'js-find-room-date-dropdown',
          guestsDropdownClassForJs: 'js-find-room-guests',
          formAction: './search-room.html'
        })
      .landing__presentation
        span.landing__presentation-text='Лучшие номера для вашей работы, отдыха и просто вдохновения'


