include ~/components/favicon/favicon
include ~/components/menu/menu

-
  const title = 'Toxin start-page'
  const description = 'Toxin start-page description'
  const keywords = 'Toxin start-page keywords'

  const pageParams = require('@pages/start/data/page-data.json')

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    meta(name="msapplication-TileColor", content="#00aba9")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png")
    meta(name="theme-color", content="#ffffff")
    +favicon({ active: true })
    title #{title}
  body
    main.start
      .start__container
        .start__logo
          a.start__logo-link(href='./landing.html')
            img&attributes({
              class: 'start__logo-img',
              src: require('@pages/start/img/logo.svg'),
              alt: 'logo',
            })
        .start__UI-kit-menu
          h2&attributes({
            class: [
              'start__heading',
              'start__heading--color-primary'
            ]
          })='UI kit'
          +menu(pageParams.menus[0])
        .start__site-menu
          h2&attributes({
            class: [
              'start__heading',
              'start__heading--color-secondary'
            ]
          })='Pages'
          +menu(pageParams.menus[1])
    