.pagination {
  text-align: center;
}

.pagination--size-small {
  max-width: rem(240);
}

.pagination__list {
  display: flex;
  margin-bottom: rem(8);
}

.pagination__item {
  border-radius: 22px;
  color: $darkShade50;
  cursor: pointer;
}

.pagination__item--active {
  font-weight: bold;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

  .pagination__link {
    color: #fff;
  }
}

.pagination__item:hover {
  background: rgba(188, 156, 255, 0.25);
}

.pagination__item--active:hover {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.pagination__item--disabled:hover {
  background: transparent;
  cursor: default;
}

.pagination__link {
  display: inline-block;
  width: rem(40);
  height: rem(40);
  border-radius: 22px;

  color: $darkShade50;
  line-height: rem(40);
  text-align: center;
  user-select: none;
}

.pagination__link:focus-visible {
  outline: 2px solid $purple;
}

.pagination__item--with-arrow {
  font-size: rem(24);
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

  .pagination__link {
    color: #fff;
  }
}

.pagination__item--with-arrow:hover {
  background: rgba(111, 207, 151, 0.5);
}
