mixin pagination(options)
  -
    const { classForJs, smallSize } = options
    let paginationClass = 'pagination'

    if (classForJs) {
      paginationClass += ` ${classForJs}`
    }

    if (smallSize) {
      paginationClass += ' pagination--size-small'
    }

  div(class=paginationClass)