.pagination {
  text-align: center;
}

.pagination--size-small {
  max-width: 240px;
}

.pagination__list {
  display: flex;
  margin-bottom: 8px;
}

.pagination__item {
  border-radius: 22px;
  color: $darkShade50;
  cursor: pointer;
}

.pagination__item--active {
  color: #fff;
  font-weight: bold;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.pagination__item:hover {
  background: rgba(188, 156, 255, 0.25);
}

.pagination__item--disabled:hover {
  background: transparent;
  cursor: default;
}

.pagination__link {
  display: inline-block;
  width: rem(40);
  height: rem(40);
  border-radius: 22px;

  line-height: rem(40);
  text-align: center;
}

.pagination__item--with-arrow {
  font-family: 'Material Icons', Arial, sans-serif;
  font-size: rem(24);
  color: #fff;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.pagination__item--with-arrow:hover {
  background: rgba(111, 207, 151, 0.5);
}
