-
  let textFieldSettings = [
    {type: 'text', placeholder: 'Email', defaultState: 'true'},
    {type: 'text', placeholder: 'Email'}
  ]

mixin textField(textFieldSettings)
  if (textFieldSettings.defaultState)
    .text-field
      input(type=textFieldSettings.type, placeholder=textFieldSettings.placeholder).input
  else
    .text-field
      input(type=textFieldSettings.type, placeholder=textFieldSettings.placeholder).input.input--focus.input--hover


