@import url(./text-field/text-field.scss);
@import url(./dropdown/dropdown.scss);
@import url(./checkbox-button/checkbox-button.scss);
@import url(./radio-button/radio-button.scss);

.form-elements-container {
  max-width: 1440px;
  padding: 143px 140px 140px 140px;
}

.fields-buttons-container {
  display: flex;
}

.fields-container {
  display: flex;
  flex-direction: column;

  max-width: 320px;
  flex-basis: 33%;
  margin-right: 126px;

}

.form-elements__text-field {
  margin-bottom: 20px;
}

.form-elements__text-field-focused {
  margin-bottom: 20px;
}

.form-elements__dropdown {
  margin-bottom: 20px;
}

.form-elements__masked-text-field {
  margin-bottom: 40px;
}

.form-elements__date-dropdown {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.form-elements__filter-date-dropdown {
  margin-bottom: 40px;
}

.buttons-container {
  display: flex;
  flex-direction: column;

  position: relative;

  max-width: 260px;
  flex-basis: 33%;
}

.form-elements__checkbox-buttons {
  margin-bottom: 40px;
}

.form-elements__radio-buttons {
  margin-bottom: 40px;
}