@import '~/scss/variables';
@import '~/scss/mixins';

.radio-buttons {
  &__list {
    display: flex;
    max-width: rem(220);
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    color: $darkShade50;
    line-height: rem(20);

    &:first-child {
      margin-right: rem(20);
    }
  }

  &__item-text {
    &::before {
      position: absolute;
      top: 0;
      left: rem(-30);
      width: rem(20);
      height: rem(20);
      border: $mainBorder;
      border-radius: 10px;
      content: '';
    }

    &::after {
      position: absolute;
      top: rem(4);
      left: rem(-26);
      display: none;
      width: rem(12);
      height: rem(12);
      background: $primaryGradient;
      border-radius: 50%;
      content: '';
    }
  }

  &__item-label {
    position: relative;
    display: inline-block;
    margin-left: rem(30);
    cursor: pointer;

    &:hover {
      color: $darkShade75;

      > .radio-buttons {
        &__item-text {
          &::before {
            border-color: $purple;
          }
        }
      }
    }
  }

  &__item-input {
    position: absolute;
    outline: none;
    appearance: none;

    &:checked + .radio-buttons {
      &__item-text {
        color: $darkShade75;

        &::after {
          display: block;
        }

        &::before {
          border-color: $purple;
        }
      }
    }

    &:focus-visible + .radio-buttons {
      &__item-text {
        &::before {
          border: 0;
          outline: $focusOutline;
        }
      }
    }
  }
}
