-
  let likeButtonSettings = [
    {name: 'like', likes: 2, likeActive: false},
    {name: 'likeEnabled', likes: 12, likeActive: true}
  ]

mixin likeButton(likeButtonSettings)
  if (likeButtonSettings.likeActive)
    .like-button
      button(name=likeButtonSettings.name, value='like').like-button__button.like-button__button--active
        img(src='assets/img/like-button-enabled.svg').like-button__img
        span.like-button__counter=likeButtonSettings.likes
  else
    .like-button 
      button(name=likeButtonSettings.name, value='like').like-button__button
        img(src='assets/img/like-button-disabled.svg').like-button__img
        span.like-button__counter=likeButtonSettings.likes