mixin like-button(name, likes, likeActive)
  if (likeActive)
    block like-button
    .like-button 
      button(name=name, value='like').like.like--active
        img(src='assets/img/like-button-enabled.svg').like__img
        span.like__counter=likes
  else
    block like-button
    .like-button 
      button(name=name, value='like').like
        img(src='assets/img/like-button-disabled.svg').like__img
        span.like__counter=likes