extends ~/layouts/page/page
include ~/components/find-room-card/find-room-card

block variables
  -
    const title = 'Toxin landing-page'
    const description = 'Toxin landing-page description'
    const keywords = 'Toxin landing-page keywords'

    const pageParams = require('@pages/landing/data/page-data.json')

block content
  main.landing
    .landing__container
      .landing__find-room-card
        +find-room-card(pageParams.findRoomCard)
      .landing__presentation
        span.landing__presentation-text
          | Лучшие номера для вашей работы, отдыха и просто вдохновения


