include ~/components/logo/logo
include ~/components/copyright-bar/copyright-bar

mixin footer-mobile({ logoLink } = {})
  footer.footer-mobile
    .footer-mobile__container
      .footer-mobile__logo
        +logo({ active: true, link: logoLink })
      .footer-mobile__copyright-bar
        +copyright-bar({
          options: {
            mobile: true,
          },
          socialItems: [
            { fontAwesomeIconClass: 'fa-twitter', link: './error-page.html' },
            { fontAwesomeIconClass: 'fa-facebook-square', link: './error-page.html' },
            { fontAwesomeIconClass: 'fa-instagram', link: './error-page.html' },
          ]
        })