@import '~/scss/variables';
@import '~/scss/mixins';

.footer-mobile {
  display: none;
  flex: 0 0 auto;
  background: $headerFooterBackground;
  box-shadow: $secondaryBoxShadow;

  @media screen and (max-width: 1023px) {
    display: block;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: rem(120) 0;
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: rem(17);
  }
}
