mixin subscription-text-field()
 block subscription-text-field
  .subscription-text-field
    input(type='text', placeholder='Email').subscription-text-field__input
    button(type='sumbit').subscription-text-field__button
      img(src='assets/img/subscription-text-field-arrow.png')