.copyright-bar {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: rem(1160);
    margin: 0 auto;

    &--column {
      flex-direction: column;

      .copyright-bar {
        &__copyright {
          margin-bottom: rem(21);
        }
      }
    }
  }

  &__socials {
    &-list {
      display: flex;
      padding: 0 rem(1) 0 0;
    }

    &-item {
      display: flex;
      margin-right: rem(23);

      &:last-child {
        margin-right: 0;
      }

      &-link {
        font-size: rem(24);
        line-height: rem(23);
        cursor: pointer;
        @include text-gradient-fill($primaryGradient);

        &:focus-visible {
          outline: $focusOutline;
        }
      }
    }
  }
}
