{
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true,
    "node": true
  },
  "ignorePatterns": ["**/src/**/*.js"],
  "extends": ["airbnb/base", "plugin:fsd/all"],
  "globals": {
    "$": "readonly",
    "jQuery": "readonly"
  },
  "plugins": ["fsd", "pug"],
  "rules": {
    "no-new": "off",
    "import/no-unresolved": "off"
  }
}
