{
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true,
    "node": true
  },
  "extends": ["airbnb/base", "plugin:fsd/all"],
  "globals": {
    "$": "readonly",
    "jQuery": "readonly"
  },
  "plugins": ["fsd", "pug"],
  "rules": {
    "no-unused-expressions": ["error", { "allowTernary": true }],
    "no-underscore-dangle": "off",
    "no-new": "off",
    "import/no-unresolved": "off",
    "import/extensions": 0,
    "no-unused-vars": "off"
  }
}
