{
  "singleQuote": true,
  "overrides": [
    {
      "files": ["**/*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto"
    }
  ]
}
