mixin filter-date-dropdown(heading)
 block filter-date-dropdown
  .dropdown.dropdown--size-m.filter-date-dropdown
    span.dropdown__heading=heading 
    button(type='button').input.input--focus.input--hover.dropdown__button='19 авг - 23 авг'
      .dropdown__arrow
        img(src='assets/img/dropdown-arrow.png')