@import 'air-datepicker/air-datepicker.css';

.air-datepicker {
  width: 100%;
  max-width: rem(320);
  background: #FFFFFF;
  border: 1px solid $darkShade25;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.air-datepicker-nav {
  border: none;
  padding: rem(20) rem(20) rem(30) rem(20);
}

.air-datepicker-nav--title {
  font-size: rem(19);
  line-height: rem(23.16);
  font-weight: bold;
  color: $darkShade100;
  transition: color 0.3s ease;
}

.air-datepicker-nav--title:hover {
  background: transparent;
  color: $purple;
}

.air-datepicker-nav--title:active {
  background: transparent;
  color: $purple;
}

.air-datepicker-body--day-name {
  font-weight: bold;
  font-size: rem(12);
  line-height: rem(14.63);
  text-transform: none;
  color: $purple;
}

.air-datepicker-nav--action {
  transition: opacity 0.3s ease;
}

.air-datepicker-nav--action:hover {
  opacity: 0.5;
  background: transparent;
}

.air-datepicker-nav--action:active {
  opacity: 0.5;
  background: transparent;
}

.air-datepicker-arrow {
  color: $purple;
}

.air-datepicker--content {
  padding: 0 rem(20);
}

.air-datepicker-body--day-names {
  margin: 0;
}

.air-datepicker-body--day-name {
  width: rem(40);
  height: rem(40);
}

.air-datepicker-cell.-year-.-current- {
  color: $green;
  font-weight: bold;
}

.air-datepicker-cell.-year-.-focus- {
  background: transparent;
  color: $purple;
  font-weight: bold;
}

.air-datepicker-cell.-year-.-other-decade-.-focus- {
  color: $purple;
}

.air-datepicker-cell.-month-.-current- {
  color: $green;
  font-weight: bold;
}

.air-datepicker-cell.-month-.-focus- {
  background: transparent;
  color: $purple;
  font-weight: bold;
}

.air-datepicker-cell.-day- {
  width: rem(40);
  height: rem(40);
  font-size: rem(12);
  line-height: rem(14.63);
  color: $darkShade50;
}

.air-datepicker-body--cells.-days- {
  grid-auto-rows: auto;
}

.air-datepicker-cell.-day-.-selected- {
  color: #fff;
  font-weight: bold;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
}

.air-datepicker-cell.-day-.-focus- {
  border: none;
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  font-weight: bold;
  color: #fff;
}

.air-datepicker-cell.-day-.-range-from- {
  position: relative;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #fff;
  font-weight: bold;
  border-radius: 22px;
  border: 0;
  z-index: 2;
}

.air-datepicker-cell.-day-.-range-from-::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
}

.air-datepicker-cell.-day-.-range-to- {
  position: relative;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #fff;
  font-weight: bold;
  border-radius: 22px;
  border: 0;
  z-index: 2;
}

.air-datepicker-cell.-day-.-in-range- {
  position: relative;
  background: transparent;
}

.air-datepicker-cell.-day-.-in-range-::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25;
}

.air-datepicker-cell.-day-.-in-range-.-focus- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.air-datepicker-cell.-day-.-range-from-.-weekend- + .air-datepicker-cell.-day-.-range-to-:not(.-weekend-)::before {
  content: '';
  position: absolute;
  top: rem(-40);
  right: 0;
  bottom: 0;
  left: rem(260);
  width: rem(20);
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25;
}

.air-datepicker-cell.-day-.-range-from-.-weekend- + .air-datepicker-cell.-day-.-in-range-:not(.-weekend-)::before {
  content: '';
  position: absolute;
  top: rem(-40);
  right: 0;
  bottom: 0;
  left: rem(260);
  width: rem(20);
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25;
}

.air-datepicker-cell.-day-.-range-from- + .air-datepicker-cell.-day-.-range-to-::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: rem(-20);
  width: rem(20);
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25;
}

.air-datepicker-cell.-day-.-range-from- + .air-datepicker-cell.-day-.-range-to-::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: rem(20);
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25;
}

.air-datepicker-cell.-day-.-range-from- + .air-datepicker-cell.-day-.-in-range-::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: rem(-20);
  width: rem(20);
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25;
}

.air-datepicker-cell.-day-.-in-range- + .air-datepicker-cell.-day-.-range-to-::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: rem(20);
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25;
}

.air-datepicker-cell.-day-.-current- {
  color: #fff;
  font-weight: bold;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px;
}

.air-datepicker-cell.-day-.-current-.-selected- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.air-datepicker-cell.-day-.-current-.-focus- {
  color: #fff;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.air-datepicker-cell.-day-.-current-.-in-range- {
  position: relative;
  font-weight: normal;
  color: $darkShade50;
  background: transparent;
}

.air-datepicker-cell.-day-.-current-.-in-range-::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25;
}

.air-datepicker-cell.-day-.-current-.-in-range-.-focus- {
  color: #fff;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  font-weight: bold;
}

.air-datepicker-cell.-day-.-other-month- {
  color: $darkShade25;
}

.air-datepicker-cell.-day-.-other-month-.-range-to- {
  color: #fff;
}

.air-datepicker-cell.-day-.-other-month-.-range-from- {
  color: #fff;
}

.air-datepicker-cell.-day-.-other-month-.-selected- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.air-datepicker-cell.-day-.-other-month-.-focus- {
  color: #fff;
}

.air-datepicker-cell.-day-.-other-month-.-selected-.-focus- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.air-datepicker-cell.-day-.-other-month-.-in-range- {
  background: transparent;
  color: $darkShade25;
}

.air-datepicker-cell.-day-.-other-month-.-in-range-.-focus- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #fff;
}

.air-datepicker--buttons {
  padding: rem(20);
  border: none;
}

.air-datepicker-buttons {
  grid-auto-columns: auto;
  justify-content: space-between;
}

.air-datepicker-button {
  height: auto;
  border-radius: 0;
}

.air-datepicker-button:hover {
  opacity: 0.5;
  color: $purple;
  background: transparent;
}

.air-datepicker-button:focus {
  color: $purple;
  background: transparent;
}

.air-datepicker-button:active {
  opacity: 0.5;
  background: transparent;
}