extends ~/layouts/main-layout/main-layout
include ~/components/logo/logo
include ~/components/sign-in-card/sign-in-card
include ~/components/header/header
include ~/components/footer/footer
include ~/components/copyright-bar/copyright-bar

block variables
  -
    const title = 'Toxin headers-footers'
    const description = 'Toxin headers-footers description'
    const keywords = 'Toxin headers-footers keywords'
    const faviconPaths = {
      apple: 'static/favicon/active/apple-touch-icon.png',
      big: 'static/favicon/active/favicon-32x32.png',
      small: 'static/favicon/active/favicon-16x16.png',
      manifest: `static/favicon/active/site.webmanifest`,
      pinned: 'static/favicon/active/safari-pinned-tab.svg',
    }
    const pageClass = 'sign-in'
    const pageContainerClass = 'sign-in__container'

block content
  main.main
    section.main-section
      .main-section__container
        .main-section__sign-in-card
          +signInCard({ formAction: './landing-page.html', signUpButtonLink: './registration.html' })
