extends ~/layouts/main-layout/main-layout
include ~/components/sign-in-card/sign-in-card

block variables
  -
    const title = 'Toxin headers-footers'
    const description = 'Toxin headers-footers description'
    const keywords = 'Toxin headers-footers keywords'

    const pageParams = require('@pages/sign-in/data/page-data.json')

block content
  main.sign-in
    .sign-in__container
      .sign-in__sign-in-card
        +sign-in-card(pageParams.signInCard)
