@import '~/scss/mixins';

.sign-in {
  padding: rem(163) rem(10) rem(163.5) rem(10);
  background: url('./img/sign-in.jpg') no-repeat;
  background-position: 50% -70px;
  background-size: cover;

  @media screen and (max-width: 1439px) {
    background-position: center;
  }

  @media screen and (max-width: 767px) {
    padding: rem(163) 0 rem(163.5) 0;
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  &__sign-in-card {
    max-width: rem(380);
  }
}
