@import '~normalize.css';
@import '~/scss/montserrat';
@import '~/scss/material-icons';
@import '@fortawesome/fontawesome-free/css/all.css';
@import '~/scss/variables';
@import '~/scss/mixins';
@import '~/scss/settings';
@import '~/templates/UI-kit/logo/logo';
@import '~/templates/UI-kit/text/text';
@import '@form-elements/text-field/text-field';
@import '@form-elements/button/button';
@import '@cards/sign-in-card/sign-in-card';
@import '@headers-footers/header/header';
@import '@headers-footers/menu/menu';
@import '@headers-footers/footer/footer';
@import '@headers-footers/copyright-bar/copyright-bar';

.main {
  background: url('./img/sign-in-background.jpg') no-repeat;
  background-size: cover;
  background-position: 50% -70px;
}

@media screen and (max-width: 1439px) {
  .main {
    background-position: center;
  }
}

.main-section {
  padding: rem(163) rem(10) rem(163.5) rem(10);
}

@media screen and (max-width: 767px) {
  .main-section {
    padding: rem(163) 0 rem(163.5) 0;
  }
}

.main-section__container {
  display: flex;
  justify-content: center;
}

.main-section__sign-in-card {
  width: rem(380);
}