@import '~/scss/variables';
@import '~/scss/mixins';

.button {
  display: block;
  width: 100%;
  max-height: 44px;
  padding: 2px;
  font-weight: bold;
  font-size: rem(12);
  font-family: inherit;
  line-height: rem(15);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: $primaryGradient;
  border: none;
  border-radius: 22px;
  outline: none;
  cursor: pointer;

  &__inner {
    display: inline-block;
    width: 100%;
    border-radius: 22px;

    &--size {
      &-small {
        padding: rem(12.5) 0;
      }

      &-medium {
        padding: rem(7) rem(18) rem(8);
      }

      &-large {
        padding: rem(12.5) 0;
      }
    }

    &--fill-white {
      background: #fff;
    }

    &--text-white {
      color: #fff;
    }

    &--text-purple {
      color: $purple;
    }

    &--text-gray {
      color: $darkShade50;
    }
  }

  &:hover {
    background: $primaryGradientTransparent;
  }

  &:focus-visible {
    background: $primaryGradientTransparent;
    outline: $thinFocusOutline;
  }

  &:disabled {
    background: $primaryGradientTransparent;
    cursor: not-allowed;
  }

  &--hidden {
    visibility: hidden;
  }

  &--variant {
    &-with-arrow {
      width: 100%;

      .button {
        &__inner {
          position: relative;

          &::after {
            position: absolute;
            top: 8px;
            right: 8px;
            font-weight: normal;
            font-size: rem(24);
            font-family: 'Material Icons', Arial, sans-serif;
            line-height: rem(24);
            text-transform: none;
            content: 'arrow_forward';
          }
        }
      }
    }

    &-inline {
      width: auto;
      background: none;
      border-radius: 0;

      &:hover,
      &:focus-visible {
        text-decoration: 2px underline $purple;
        background: none;
        outline: none;
      }

      &:disabled {
        background: none;

        &:hover {
          text-decoration: none;
        }

        .button {
          &__inner {
            color: $darkShade50;
          }
        }
      }
    }
  }

  &--size {
    &-small {
      max-width: rem(99);
    }

    &-medium {
      max-width: rem(196);
    }

    &-large {
      max-width: rem(320);
    }
  }
}
