mixin text( options={} )
  -
    const {
      text,
      type,
      color,
      bold,
      hasUpper
    } = options

    const types = ['h1', 'h2', 'h3']
    const colors = [
      'dark-shade-100', 'dark-shade-75', 'dark-shade-50',
      'dark-shade-25', 'dark-shade-5', 'purple', 'green', 'black'
    ]

    const mainClass = 'text'
    const typeModifier = types.includes(type) && `text--with-type-${type}`
    const colorModifier = colors.includes(color) && `text--${color}`
    const boldModifier = bold && 'text--bold'
    const upperModifier = hasUpper && 'text--upper'

    const attrs = {
      class: [
        mainClass,
        typeModifier,
        colorModifier,
        boldModifier,
        upperModifier
      ]
    }

    const typeTag = {
      'h1': 'h1',
      'h2': 'h2',
      'h3': 'h3',
      'span': 'span',
      'p': 'p'
    }

  #{typeTag[type]}&attributes(attrs)= text
