.text {
  &--with-type-h1 {
    font-weight: 400;
    font-size: rem(24);
    line-height: rem(29.26);
  }

  &--with-type-h2 {
    font-weight: 400;
    font-size: rem(19);
    line-height: rem(23.16);
  }

  &--with-type-h3 {
    font-weight: 400;
    font-size: rem(12);
    line-height: rem(14.63);
  }

  &--bold {
    font-weight: 700;
  }

  &--dark-shade-100 {
    color: $darkShade100;
  }

  &--dark-shade-75 {
    color: $darkShade75;
  }

  &--dark-shade-50 {
    color: $darkShade50;
  }

  &--dark-shade-25 {
    color: $darkShade25;
  }

  &--dark-shade-5 {
    color: $darkShade5;
  }

  &--purple {
    color: $purple;
  }

  &--green {
    color: $green;
  }

  &--black {
    color: #000;
  }

  &--upper {
    text-transform: uppercase;
  }
}
