@import '~/scss/variables';
@import '~/scss/mixins';

.pie-chart {
  display: flex;

  &__chart {
    position: relative;
  }

  &__body {
    @keyframes chart-rotation {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(1turn);
      }
    }

    display: block;
    width: 120px;
    height: 120px;
    animation: chart-rotation 60s linear infinite;
    clip-path: circle(50%);
  }

  &__line {
    outline: none;
    cursor: pointer;
    transition: 0.5s stroke-width ease;
    fill: none;

    &--focused {
      stroke-width: 24px;
    }
  }

  &__votes {
    position: absolute;
    top: 48%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

    &--sumptuously {
      color: $yellow;
    }

    &--good {
      color: $green;
    }

    &--satisfactorily {
      color: $purple;
    }

    &--disappointed {
      color: $black;
    }

    &-count {
      margin: 0;
      font-weight: bold;
      font-size: rem(24);
      line-height: rem(29.26);
    }

    &-text {
      margin: 0;
      font-weight: bold;
      font-size: rem(12);
      line-height: rem(14.63);
      text-transform: uppercase;
    }
  }

  &__legend {
    margin-top: rem(26.5);
    margin-left: rem(45);

    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &-item {
      position: relative;
      cursor: pointer;

      &::before {
        position: absolute;
        top: 50%;
        left: -15px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: translate(0, -50%);
        content: '';
      }

      &:focus-visible {
        color: $darkShade100;
        outline: none;
      }

      &:hover {
        color: $darkShade100;
      }

      &--sumptuously {
        &::before {
          background: $yellowGradient;
        }
      }

      &--good {
        &::before {
          background: $secondaryGradient;
        }
      }

      &--satisfactorily {
        &::before {
          background: $primaryGradient;
        }
      }

      &--disappointed {
        &::before {
          background: $blackGradient;
        }
      }
    }
  }
}
