.menu {
  &__list {
    display: flex;

    @media screen and (max-width: 1023px) {
      display: block;
      text-align: center;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
    }

    &--column {
      display: block;
    }
  }

  &__item {
    position: relative;
    margin-right: rem(20.5);
    font-size: rem(14);
    line-height: rem(17.07);
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &:focus-visible {
      outline: $thinFocusOutline;
    }

    &--column {
      margin-right: 0;
      margin-bottom: rem(21);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-link {
      color: $darkShade50;

      &:focus-visible {
        outline: none;
      }

      &--active {
        color: $darkShade75;
        font-weight: bold;
      }
    }

    &-arrow {
      margin-left: rem(0.5);
      vertical-align: middle;
      font-size: rem(24);
      line-height: rem(20);
      color: $darkShade50;
      transition: transform 0.4s ease;

      &--expanded {
        transform: rotateX(180deg);
      }
    }

    @media screen and (max-width: 1023px) {
      margin-right: 0;
      padding: rem(10) 0;
      border-bottom: 1px solid #f4f4f6;

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .menu__item-link-wrapper {
    margin-left: rem(24);
  }
}
