include ~/components/sub-menu/sub-menu

mixin menu({ items = [], options = {} })
  -
    const { column } = options 

    const listColumnModifier = column && 'menu__list--column'
    const itemColumnModifier = column && 'menu__item--column'

  .menu 
    nav.menu__menu
      ul.menu__list(class=listColumnModifier)
        each item in items 
          -
            const { text, link, isActive, subMenu, subMenuItems = [] } = item
            const itemModifier = subMenu && 'menu__item--with-arrow js-menu__item'
            const activeLinkClass = isActive && 'menu__item-link--active'

          li.menu__item(class=[itemModifier, itemColumnModifier] data-type='item')
            a&attributes({
              class: ['menu__item-link', activeLinkClass],
              href: link,
              tabindex: 0,
              'data-type': 'link'
            })=text 
            if subMenu 
              span&attributes({
                class: ['menu__item-arrow', 'material-icons', 'js-menu__item-arrow'],
                'data-type': 'arrow'
              })='expand_more'
              .menu__sub-menu.js-menu__sub-menu
                +sub-menu({ subItems: subMenuItems })
