.menu-list {
  display: flex;
}

.menu-list--column {
  flex-direction: column;
}

.menu-list__item {
  position: relative;
  margin-right: rem(20.5);
  font-size: rem(14);
  line-height: rem(17.07);
  cursor: pointer;
}

.menu-list__item:last-child {
  margin-right: 0;
}

.menu-list__item--column {
  margin-right: 0;
  margin-bottom: rem(21);
}

.menu-list__item--column:last-child {
  margin-bottom: 0;
}

.menu-list__link {
  color: $darkShade50;
}

.menu-list__link--active {
  color: $darkShade75;
  font-weight: bold;
}

.menu-list__arrow {
  margin-left: rem(0.5);
  vertical-align: middle;
  font-size: rem(24);
  line-height: rem(20);
  color: $darkShade50;
}

.sub-menu-list {
  opacity: 0;
  position: absolute;
  top: rem(22);
  left: rem(-3);
  padding: rem(10);
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.menu-list__item:hover > .sub-menu-list {
  opacity: 1;
}

.sub-menu-list__item {
  position: relative;
  margin-bottom: rem(3);
}

.sub-menu-list__link {
  color: $darkShade50;
}