.dropdown__title {
  margin-bottom: 5px;
}

.dropdown__wrap {
  position: relative;
}

.dropdown__input {
  width: 100%;
  padding: rem(12) rem(15);

  font-size: rem(14);
  color: $darkShade75;
  border: 1px solid $darkShade25;
  border-radius: 4px;

  outline: none;
  cursor: pointer;
}

.dropdown__input--focused:focus, .dropdown__input--hovered:hover {
  border: 1px solid $darkShade50;
}

.dropdown__button {
  position: absolute;
  top: 0;
  right: 0;
  margin: rem(10);
  
  border: none;
  background-color: transparent;
  cursor: pointer;

  font-family: 'Material Icons', Arial, sans-serif;
  font-size: rem(24);
  line-height: rem(24);
  color: $darkShade50;
}

.dropdown--size-small {
  max-width: rem(150);
}