mixin likeButton({ count=0, isActive } = {})
  - const activeModifier = isActive && 'like-button__button--active'

  .like-button
    button&attributes({
      class: [
        'like-button__button',
        'js-like-button__button',
        activeModifier,
      ],
      type: 'button',
      name: 'likes',
      value: count,
    })= count
