.like-button {
  display: flex;

  &__button {
    position: relative;
    width: rem(40);
    height: rem(20);
    padding-bottom: rem(1);
    padding-left: rem(10);
    color: $darkShade25;
    font-size: rem(10);
    font-family: inherit;
    line-height: rem(12);
    background: transparent;
    border: $mainBorder;
    border-radius: 10px;
    outline: none;
    cursor: pointer;

    &:focus-visible {
      border: 0;
      outline: $focusOutline;
    }

    &:hover {
      border-color: $purple;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 11%;
      font-size: rem(10);
      font-family: 'Material Icons', Arial, sans-serif;
      line-height: rem(8.5);
      transform: translate(0, -50%);
      content: 'favorite_border';
    }

    &--active {
      color: $purple;
      border-color: $purple;

      &::before {
        color: transparent;
        background: $primaryGradient;
        background-clip: text;
        content: 'favorite';
      }
    }
  }
}
