@import '~/scss/variables';
@import '~/scss/mixins';
@import '~/components/datepicker/datepicker';
@import '@libs/swiper/swiper';

.search-room {
  position: relative;
  display: flex;
  padding: rem(30) rem(30) rem(72) rem(30);
  border-bottom: $mainBorder;

  &__container {
    display: flex;
    max-width: rem(1160);
    margin: 0 auto;
  }

  &__sidebar {
    margin-right: rem(60);

    @media screen and (max-width: 1399px) {
      margin-right: rem(40);
    }

    @media screen and (max-width: 1023px) {
      margin-right: 0;
    }
  }
}
