extends ~/layouts/main-layout/main-layout
include ~/components/logo/logo
include ~/components/sidebar/sidebar
include ~/components/room-selection/room-selection

block variables
  -
    const title = 'Toxin search-room'
    const description = 'Toxin search-room description'
    const keywords = 'Toxin search-room keywords'
    const faviconPaths = {
      apple: 'static/favicon/active/apple-touch-icon.png',
      big: 'static/favicon/active/favicon-32x32.png',
      small: 'static/favicon/active/favicon-16x16.png',
      manifest: `static/favicon/active/site.webmanifest`,
      pinned: 'static/favicon/active/safari-pinned-tab.svg',
    }

block content
  main.search-room
    .search-room__container
      .search-room__sidebar
        +sidebar
      .search-room__rooms
        +room-selection({
          title: 'Номера, которые мы для вас подобрали',
          rooms: [
            {
              number: '888',
              price: '9 990₽',
              rating: 5,
              luxe: true,
              reviews: {
                count: '145',
                text: 'Отзывов',
              },
              imgs: [
                'room-888.jpg',
                'room-888.jpg',
                'room-888.jpg',
                'room-888.jpg',
              ]
            },
            {
              number: '840',
              price: '9 900₽',
              rating: 4,
              reviews: {
                count: '65',
                text: 'Отзывов',
              },
              imgs: [
                'room-840.jpg',
                'room-840.jpg',
                'room-840.jpg',
                'room-840.jpg',
              ]
            },
            {
              number: '980',
              price: '8 500₽',
              rating: 3,
              luxe: true,
              reviews: {
                count: '35',
                text: 'Отзывов',
              },
              imgs: [
                'room-980.jpg',
                'room-980.jpg',
                'room-980.jpg',
                'room-980.jpg',
              ]
            },
            {
              number: '856',
              price: '7 300₽',
              rating: 5,
              reviews: {
                count: '19',
                text: 'Отзывов',
              },
              imgs: [
                'room-856.jpg',
                'room-856.jpg',
                'room-856.jpg',
                'room-856.jpg',
              ]
            },
            {
              number: '740',
              price: '6 000₽',
              rating: 4,
              reviews: {
                count: '44',
                text: 'Отзывов',
              },
              imgs: [
                'room-740.jpg',
                'room-740.jpg',
                'room-740.jpg',
                'room-740.jpg',
              ]
            },
            {
              number: '982',
              price: '5 800₽',
              rating: 3,
              reviews: {
                count: '56',
                text: 'Отзывов',
              },
              imgs: [
                'room-982.jpg',
                'room-982.jpg',
                'room-982.jpg',
                'room-982.jpg',
              ]
            },
            {
              number: '678',
              price: '5 500₽',
              rating: 5,
              reviews: {
                count: '45',
                text: 'Отзывов',
              },
              imgs: [
                'room-678.jpg',
                'room-678.jpg',
                'room-678.jpg',
                'room-678.jpg',
              ]
            },
            {
              number: '450',
              price: '5 300₽',
              rating: 4,
              reviews: {
                count: '39',
                text: 'Отзывов',
              },
              imgs: [
                'room-450.jpg',
                'room-450.jpg',
                'room-450.jpg',
                'room-450.jpg',
              ]
            },
            {
              number: '350',
              price: '5 000₽',
              rating: 3,
              reviews: {
                count: '77',
                text: 'Отзывов',
              },
              imgs: [
                'room-350.jpg',
                'room-350.jpg',
                'room-350.jpg',
                'room-350.jpg',
              ]
            },
            {
              number: '666',
              price: '5 000₽',
              rating: 5,
              reviews: {
                count: '25',
                text: 'Отзывов',
              },
              imgs: [
                'room-666.jpg',
                'room-666.jpg',
                'room-666.jpg',
                'room-666.jpg',
              ]
            },
            {
              number: '444',
              price: '5 000₽',
              rating: 3,
              reviews: {
                count: '15',
                text: 'Отзывов',
              },
              imgs: [
                'room-444.jpg',
                'room-444.jpg',
                'room-444.jpg',
                'room-444.jpg',
              ]
            },
            {
              number: '352',
              price: '5 000₽',
              rating: 3,
              reviews: {
                count: '55',
                text: 'Отзывов',
              },
              imgs: [
                'room-352.jpg',
                'room-352.jpg',
                'room-352.jpg',
                'room-352.jpg',
              ]
            },
          ]
        })
