@import '~/scss/montserrat';
@import '~/scss/material-icons';
@import '@fortawesome/fontawesome-free/css/all.css';
@import '~/scss/variables';
@import '~/scss/mixins';
@import '~/scss/settings';
@import '~/components/logo/logo';
@import '~/components/text/text';
@import '~/components/text-field/text-field';
@import '~/components/button/button';
@import '~/components/dropdown/dropdown';
@import '~/components/date-dropdown/date-dropdown';
@import '~/components/star-rating/star-rating';
@import '~/components/range-slider/range-slider';
@import '~/components/pagination/pagination';
@import '~/components/checkbox-list/checkbox-list';
@import '~/components/datepicker/datepicker';
@import '~/components/room-card/room-card';
@import '~/components/header/header';
@import '~/components/menu/menu';
@import '~/components/sub-menu/sub-menu';
@import '~/components/footer/footer';
@import '~/components/footer-mobile/footer-mobile';
@import '~/components/copyright-bar/copyright-bar';
@import '@libs/swiper/swiper';
@import '~/components/sidebar/sidebar';
@import '~/components/room-selection/room-selection';

.search-room {
  display: flex;
  position: relative;
  padding: rem(30) rem(30) rem(72) rem(30);
  border-bottom: $mainBorder;

  &__container {
    display: flex;
    margin: 0 auto;
    max-width: rem(1160);
  }

  &__sidebar {
    margin-right: rem(60);

    @media screen and (max-width: 1399px) {
      margin-right: rem(40);
    }

    @media screen and (max-width: 1023px) {
      margin-right: 0;
    }
  }
}
