extends ~/layouts/main-layout/main-layout
include ~/components/sidebar/sidebar
include ~/components/room-selection/room-selection

block variables
  -
    const title = 'Toxin search-room'
    const description = 'Toxin search-room description'
    const keywords = 'Toxin search-room keywords'

    const pagesParams = require('@pages/search-room/data/page-data.json')

block content
  main.search-room
    .search-room__container
      .search-room__sidebar
        +sidebar
      .search-room__rooms
        +room-selection(pagesParams.roomSelection)
