extends ~/components/pages/base/base
include ~/components/logo/logo
include ~/components/header/header
include ~/components/footer/footer
include ~/components/copyright-bar/copyright-bar
include ~/components/pages/sidebar/sidebar
include ~/components/pages/rooms/rooms

block variables
  -
    const title = 'Toxin search-room'
    const description = 'Toxin search-room description'
    const keywords = 'Toxin search-room keywords'
    const faviconPaths = {
      apple: 'static/favicon/active/apple-touch-icon.png',
      big: 'static/favicon/active/favicon-32x32.png',
      small: 'static/favicon/active/favicon-16x16.png',
      manifest: `static/favicon/active/site.webmanifest`,
      pinned: 'static/favicon/active/safari-pinned-tab.svg',
    }
    const pageClass = 'search-room'
    const pageContainerClass = 'search-room__container'

block content
  main.main
    .content
      .content__container
        .content__sidebar.js-sidebar
          +sidebar({})
          .content__sidebar-button.js-sidebar-button
        .content__rooms-wrapper
          +rooms

