.pie-chart {
  display: flex;

  &__chart {
    position: relative;
  }

  &__body {
    @keyframes chartRotation {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(1turn);
      }
    }

    display: block;
    width: 120px;
    height: 120px;
    clip-path: circle(50%);
    animation: chartRotation 60s linear infinite;
  }

  &__line {
    fill: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s stroke-width ease;

    &--focused {
      stroke-width: 24px;
    }
  }

  &__votes {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    &--sumptuously {
      color: $yellow;
    }

    &--good {
      color: $green;
    }

    &--satisfactorily {
      color: $purple;
    }

    &--disappointed {
      color: $black;
    }

    &-count {
      font-size: rem(24);
      line-height: rem(29.26);
      font-weight: bold;
      margin-bottom: 0;
    }

    &-text {
      font-size: rem(12);
      line-height: rem(14.63);
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__legend {
    margin-top: rem(26.5);
    margin-left: rem(45);

    &-item {
      position: relative;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -15px;
        transform: translate(0, -50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }

      &--sumptuously {
        &::before {
          background: $yellowGradient;
        }
      }

      &--good {
        &::before {
          background: $secondaryGradient;
        }
      }

      &--satisfactorily {
        &::before {
          background: $primaryGradient;
        }
      }

      &--disappointed {
        &::before {
          background: $blackGradient;
        }
      }
    }
  }
}
