mixin toggle-button({ text, name, value, isChecked } = {})
  .toggle-button
    label.toggle-button__label
      input&attributes({
        class: 'toggle-button__input',
        type: 'checkbox',
        name: name,
        value: value,
        checked: isChecked
      })
      span.toggle-button__text=text
