.toggle-button {
  color: $darkShade50;
  line-height: rem(20);

  &__text {
    &::before {
      position: absolute;
      top: 0;
      left: rem(-50);
      width: rem(40);
      height: rem(20);
      border: 1px solid $darkShade25;
      border-radius: 10px;
      content: '';
    }

    &::after {
      position: absolute;
      top: rem(4);
      left: rem(-46);
      width: rem(12);
      height: rem(12);
      background: $darkShade25;
      border-radius: 50%;
      transition-duration: 0.5s;
      transition-property: left;
      content: '';
    }
  }

  &__label {
    position: relative;
    display: inline-block;
    margin-left: rem(50);
    cursor: pointer;

    &:hover {
      color: $darkShade75;

      > .toggle-button {
        &__text {
          &::before {
            border-color: $purple;
          }
        }
      }
    }
  }

  &__input {
    position: absolute;
    outline: none;
    appearance: none;

    &:checked + .toggle-button {
      &__text {
        color: $darkShade75;

        &::before {
          border-color: $purple;
        }

        &::after {
          left: rem(-26);
          background: $primaryGradient;
        }
      }
    }

    &:focus-visible + .toggle-button {
      &__text {
        color: $darkShade75;

        &::before {
          border: 0;
          outline: 2px solid $purple;
        }
      }
    }
  }
}
