include ~/components/text-field/text-field

mixin date-dropdown(options={})
  -
    const {
      type,
      dataType,
      dataTypeEnd,
      placeholder,
      name='date',
      nameEnd,
      hasArrow,
      autocomplete,
      isReadonly,
      hasTwoInputs=false,
      title,
      titleEnd,
    } = options

  if hasTwoInputs
    .date-dropdown.js-date-dropdown
      .date-dropdown__wrapper 
        .date-dropdown__start 
          +textField({
            hasTitle: true,
            title,
            type,
            dataType,
            placeholder,
            name,
            hasArrow,
            autocomplete,
            isReadonly,
          })
        .date-dropdown__end 
          +textField({
            hasTitle: true,
            title: titleEnd,
            type,
            dataType: dataTypeEnd,
            placeholder,
            name: nameEnd,
            hasArrow,
            autocomplete,
            isReadonly,
          })
  else
    .date-dropdown.js-date-dropdown
      +textField({
        hasTitle: true,
        title,
        type,
        dataType,
        placeholder,
        name,
        hasArrow,
        autocomplete,
        isReadonly,
      })