.booking-card {
  @include card;

  &__container {
    padding: rem(39) rem(29) rem(31) rem(29);
  }

  &__room-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: rem(21);
  }

  &__room-number {
    margin-right: rem(8);
    font-size: rem(24);
    line-height: rem(29.26);
    font-weight: bold;
    color: $darkShade100;

    &-details {
      display: flex;
      align-items: flex-end;

      > .text {
        padding-bottom: rem(2);
      }
    }

    &-symbol {
      font-size: rem(14);
      line-height: rem(17.07);
      margin-right: rem(4);
    }
  }

  &__room-price {
    &-info {
      font-size: rem(12);
      line-height: rem(18);
      color: $darkShade50;
    }

    &-value {
      font-size: rem(14);
      font-weight: bold;
      margin-right: rem(4);
    }
  }

  &__datepicker {
    margin-bottom: rem(21);
  }

  &__dropdown-guests {
    margin-bottom: rem(18.5);
  }

  &__calculation {
    margin-bottom: rem(30);

    &-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: rem(10);

      &:nth-child(2) {
        margin-bottom: rem(12);
      }

      &:last-child {
        margin-bottom: 0;
        line-height: rem(18);
      }
    }

    &-icon {
      position: relative;
      width: rem(20);
      height: rem(20);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: rem(12);
      line-height: rem(14);
      color: $darkShade25;
      border: $mainBorder;
      border-radius: 50%;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        border: $focusBorder;
        color: $darkShade50;

        &::after {
          top: 25px;
          opacity: 1;
          visibility: visible;
        }
      }

      &::after {
        position: absolute;
        content: 'Здесь будет подсказка';
        width: rem(200);
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 0;
        transform: translate(-50%, 0);
        padding: rem(6);
        border-radius: $mainBorderRadius;
        text-align: center;
        background: $uiKitPagesBackground;
        box-shadow: $secondaryBoxShadow;
        color: $darkShade50;
        z-index: 1;
        transition: all ease 0.3s;
        pointer-events: none;
      }

      &-wrapper {
        margin: 0 auto 0 rem(5);
      }
    }
  }

  &__additional-services-value {
    max-width: rem(214);
  }

  &__total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(21);
    margin-left: rem(1);

    &-text {
      font-size: rem(19);
      line-height: rem(23.16);
      font-weight: bold;
      color: $darkShade100;
    }

    &-separator {
      position: relative;
      flex-grow: 1;

      &::after {
        position: absolute;
        bottom: 5px;
        content: '';
        width: 100%;
        border-bottom: 1px dotted $darkShade25;
      }
    }

    &-sum {
      font-size: rem(19);
      line-height: rem(23.16);
      font-weight: bold;
      color: $darkShade100;
    }
  }
}
