@import '~/scss/variables';
@import '~/scss/mixins';

.booking-card {
  @include card;

  &__container {
    padding: rem(39) rem(29) rem(31) rem(29);
  }

  &__room-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: rem(21);
  }

  &__room-number {
    margin: 0 rem(8) 0 0;
    color: $darkShade100;
    font-weight: bold;
    font-size: rem(24);
    line-height: rem(29.26);

    &-details {
      display: flex;
      align-items: flex-end;
    }

    &-symbol {
      margin-right: rem(4);
      font-size: rem(14);
      line-height: rem(17.07);
    }
  }

  &__luxe {
    padding-bottom: rem(2);
  }

  &__room-price {
    &-info {
      color: $darkShade50;
      font-size: rem(12);
      line-height: rem(18);
    }

    &-value {
      margin-right: rem(4);
      font-weight: bold;
      font-size: rem(14);
    }
  }

  &__datepicker {
    margin-bottom: rem(21);
  }

  &__dropdown-guests {
    margin-bottom: rem(18.5);
  }

  &__calculation {
    margin-bottom: rem(30);

    &-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: rem(10);

      &:nth-child(2) {
        margin-bottom: rem(12);
      }

      &:last-child {
        margin-bottom: 0;
        line-height: rem(18);
      }
    }

    &-icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(20);
      height: rem(20);
      color: $darkShade25;
      font-weight: bold;
      font-size: rem(12);
      line-height: rem(14);
      border: $mainBorder;
      border-radius: 50%;
      cursor: pointer;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: rem(200);
        padding: rem(6);
        color: $darkShade50;
        text-align: center;
        background: $uiKitPagesBackground;
        border-radius: $mainBorderRadius;
        box-shadow: $secondaryBoxShadow;
        transform: translate(-50%, 0);
        visibility: hidden;
        opacity: 0;
        transition: all ease 0.3s;
        content: 'Здесь будет подсказка';
        pointer-events: none;
      }

      &:hover {
        color: $darkShade50;
        border: $focusBorder;

        &::after {
          top: 25px;
          visibility: visible;
          opacity: 1;
        }
      }

      &-wrapper {
        margin: 0 auto 0 rem(5);
      }
    }
  }

  &__days-value,
  &__days-sum,
  &__services-value,
  &__services-sum,
  &__additional-services-sum {
    margin: 0;
  }

  &__additional-services-value {
    margin: 0;
    max-width: rem(214);
  }

  &__total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(21);
    margin-left: rem(1);

    &-text {
      margin: 0;
      color: $darkShade100;
      font-weight: bold;
      font-size: rem(19);
      line-height: rem(23.16);
    }

    &-separator {
      position: relative;
      flex-grow: 1;

      &::after {
        position: absolute;
        bottom: 5px;
        width: 100%;
        border-bottom: 1px dotted $darkShade25;
        content: '';
      }
    }

    &-sum {
      margin: 0;
      color: $darkShade100;
      font-weight: bold;
      font-size: rem(19);
      line-height: rem(23.16);
    }
  }
}
