- 
  let colorsArray = [
    {colorClass: 'color__dark-shade-100', colorName: 'Dark Shade 100%', hex: '#1F2041'},
    {colorClass: 'color__dark-shade-75', colorName: 'Dark Shade 75%', hex: '#1F2041'}, 
    {colorClass: 'color__dark-shade-50', colorName: 'Dark Shade 50%', hex: '#1F2041'}, 
    {colorClass: 'color__dark-shade-25', colorName: 'Dark Shade 25%', hex: '#1F2041'}, 
    {colorClass: 'color__dark-shade-5', colorName: 'Dark Shade 5%', hex: '#1F2041'},
    {colorClass: 'color__purple', colorName: 'Purple', hex: '#BC9CFF'}, 
    {colorClass: 'color__green', colorName: 'Green', hex: '#6FCF97'}
    ]

mixin colors(colorClass, colorName, hex)
  .color.colors__color-margin
    div.color__img(class=colorClass)
    .color__description
      p.color__name=colorName
      p.color__hex=hex
