.rate-button__group {
  position: relative;
  width: 120px;
  height: 24px;
  background-image: url(form-elements/rate-button/star.svg);
  background-size: 24px auto;
  background-repeat: repeat-x;
}

.rate-button__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-size: 24px auto;
  background-repeat: repeat-x;
  appearance: none;
  cursor: pointer;
}

.rate-button__input:checked,
.rate-button__input:hover { 
  background-image: url(form-elements/rate-button/star-checked.svg);
}

.rate-button__input:hover ~ .rate-button__input {
  background-image: none;
}

.rate-button__input:nth-of-type(1) {
  z-index: 5;
  width: 24px;
}

.rate-button__input:nth-of-type(2) {
  z-index: 4;
  width: 48px;
}

.rate-button__input:nth-of-type(3) {
  z-index: 3;
  width: 72px;
}

.rate-button__input:nth-of-type(4) {
  z-index: 2;
  width: 96px;
}

.rate-button__input:nth-of-type(5) {
  z-index: 1;
  width: 120px;
}