.rate-button {
  display: flex;
  align-items: center;
}

.rate-button__wrap {
  position: relative;
  width: 116px;
  height: 20px;
  
  background-image: url(form-elements/rate-button/star.svg);
  background-size: 20px auto;
  background-repeat: space;
}

.rate-button__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-size: 20px auto;
  background-repeat: space;
  appearance: none;
  cursor: pointer;
}

.rate-button__input:checked,
.rate-button__input:hover { 
  background-image: url(form-elements/rate-button/star-checked.svg);
}

.rate-button__input:hover ~ .rate-button__input {
  background-image: none;
}

.rate-button__input:focus-visible {
  outline-style: solid;
  outline-color: $purple;
}

.rate-button__input:nth-of-type(1) {
  z-index: 5;
  width: 20px;
}

.rate-button__input:nth-of-type(2) {
  z-index: 4;
  width: 44px;
}

.rate-button__input:nth-of-type(3) {
  z-index: 3;
  width: 68px;
}

.rate-button__input:nth-of-type(4) {
  z-index: 2;
  width: 92px;
}

.rate-button__input:nth-of-type(5) {
  z-index: 1;
  width: 116px;
}