.type {
  display: flex;
}

.type__margin {
  margin-bottom: 50.5px;
}

.type__margin:last-child {
  margin-bottom: 0;
}

.type__font {
  width: 37px;
  margin-right: 30px;

  text-align: right;
  font-weight: normal;
  color: $darkShade25;
}

.h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.3px;
  letter-spacing: 0.25px;
  word-spacing: 1.3px;
  color: $darkShade100;
}

.type__h1-text {
  max-width: 370px;
}

.h2 {
  font-size: 19px;
  font-weight: 700;
  line-height: 23.3px;
  word-spacing: 1.5px;
  color: $darkShade100;
}

.type__h2-text {
  max-width: 312px;
}

.h3 {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  word-spacing: 0.9px;
  color: $darkShade100;
}

.type__body-text {
  max-width: 301px;
}
