include ~/components/heading/heading
include ~/components/checkbox-list/checkbox-list
include ~/components/radio-buttons/radio-buttons
include ~/components/toggle-button/toggle-button
include ~/components/like-button/like-button
include ~/components/star-rating/star-rating

mixin controls(controls = {})
  .controls
    .controls__container
      .controls__checkbox-buttons
        +checkbox-list(controls.checkboxList)
      .controls__radio-buttons
        .controls__heading
          +heading(controls.radioButtons.heading)
        +radio-buttons(controls.radioButtons.buttons)
      .controls__toggle-buttons
        .controls__heading
          +heading(controls.toggleButtons.heading)
        .controls__toggle-buttons-wrapper
          each button in controls.toggleButtons.buttons
            .controls__toggle-button
              +toggle-button(button)
      .controls__like-buttons
        .controls__heading
          +heading(controls.likeButtons.heading)
        .controls__like-buttons-wrapper
          each button in controls.likeButtons.buttons
            +like-button(button)
      .controls__rate-buttons
        .controls__heading
          +heading(controls.rateButtons.heading)
        .controls__rate-buttons-wrapper
          each rating in controls.rateButtons.ratings
            +star-rating(rating)