include ~/components/text/text
include ~/components/checkbox-list/checkbox-list
include ~/components/radio-buttons/radio-buttons
include ~/components/toggle-button/toggle-button
include ~/components/like-button/like-button
include ~/components/star-rating/star-rating

mixin controls()
  .controls
    .controls__container
      .controls__checkbox-buttons
        +checkbox-list({
          title: 'checkbox buttons',
          items: [
            { title: 'Можно курить', name: 'smoke'},
            { title: 'Можно с питомцами', name: 'pets', isChecked: true},
            { title: 'Можно пригласить гостей (до\u00A010\u00A0человек)', name: 'guests', isChecked: true }
          ],
        })
      .controls__radio-buttons
        .controls__title
          +text({ text: 'radio buttons', type: 'h3', color: 'dark-shade-100', bold: true, hasUpper: true })
        +radio-buttons({
          group: 'gender',
          items: [
            { text: 'Мужчина', value: 'man', isChecked: true},
            { text: 'Женщина', value: 'woman'}
          ],
        })
      .controls__toggle-buttons
        .controls__title
          +text({ text: 'toggle', type: 'h3', color: 'dark-shade-100', bold: true, hasUpper: true })
        .controls__toggle-buttons-wrapper
          +toggle-button({ text: 'Получать спецпредложения', name: 'offers1', isChecked: true })
          +toggle-button({ text: 'Получать спецпредложения', name: 'offers2' })
      .controls__like-buttons
        .controls__title
          +text({ text: 'like button', type: 'h3', color: 'dark-shade-100', bold: true, hasUpper: true })
        .controls__like-buttons-wrapper
          +like-button({ count: 2 })
          +like-button({ count: 12, isActive: true })
      .controls__rate-buttons
        .controls__title
          +text({ text: 'rate button', type: 'h3', color: 'dark-shade-100', bold: true, hasUpper: true })
        .controls__rate-buttons-wrapper
          +star-rating(4)
          +star-rating(5)
