@import '~/components/checkbox-list/checkbox-list.scss';
@import '~/components/radio-button/radio-button';
@import '~/components/toggle-button/toggle-button';
@import '~/components/like-button/like-button';
@import '~/components/star-rating/star-rating';

.controls__container {
  max-width: rem(260);
  margin-right: rem(133);
}

.controls__checkbox-buttons {
  margin-bottom: rem(40);
}

.controls__title {
  margin-bottom: rem(16);
}

.controls__radio-buttons {
  margin-bottom: rem(40);
}

.controls__toggle-buttons {
  margin-bottom: rem(45);
}

.controls__toggle-buttons-wrapper > .toggle-button:first-child {
  margin-bottom: rem(14);
}

.controls__like-buttons {
  margin-bottom: rem(41);
}

.controls__like-buttons-wrapper {
  display: flex;
}

.controls__like-buttons-wrapper > .like-button:first-child {
  margin-right: rem(10);
}

.controls__rate-buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

