include ~/templates/UI-kit/form-elements/checkbox-button/checkbox-button
include ~/templates/UI-kit/form-elements/radio-button/radio-button
include ~/templates/UI-kit/form-elements/toggle-button/toggle-button
include ~/templates/UI-kit/form-elements/like-button/like-button
include ~/templates/UI-kit/form-elements/rate-button/rate-button

mixin controls()
  .controls-container
    .controls-wrap 
      
      //- блок checkbox-buttons
      .controls__checkbox-buttons 
        .controls__title
          +text({ text: 'checkbox buttons', type: 'h3', color: 'dark-shade-100', bold: true, hasUpper: true })
        +checkboxButtons({ 
          items: [
            { text: 'Можно курить', name: 'smoke'},
            { text: 'Можно с питомцами', name: 'pets', isChecked: true},
            { text: 'Можно пригласить гостей (до 10 человек)', name: 'guests', isChecked: true }
          ],
        })
      
      //- блок radio-buttons
      .controls__radio-buttons
        .controls__title 
          +text({ text: 'radio buttons', type: 'h3', color: 'dark-shade-100', bold: true, hasUpper: true })
        +radioButtons({ 
          items: [
            { text: 'Мужчина', name: 'sex', value: 'man', isChecked: true},
            { text: 'Женщина', name: 'sex', value: 'woman'}
          ],
        })

      //- блок toggle-buttons
      .controls__toggle-buttons
        .controls__title 
          +text({ text: 'toggle', type: 'h3', color: 'dark-shade-100', bold: true, hasUpper: true })
        .controls__toggle-buttons-wrap
          +toggleButton({ text: 'Получать спецпредложения', name: 'offers1', isChecked: true })
          +toggleButton({ text: 'Получать спецпредложения', name: 'offers2' })
      
      //- блок like-buttons
      .controls__like-buttons
        .controls__title
          +text({ text: 'like button', type: 'h3', color: 'dark-shade-100', bold: true, hasUpper: true })
        .controls__like-buttons-wrap
          +likeButtonNew({ count: 2, classForJs: 'js-like-button' })
          +likeButtonNew({ count: 12, isActived: true, classForJs: 'js-like-button' })
        
      //- блок rate-buttons
      .controls__rate-buttons
        .controls__title
          +text({ text: 'rate button', type: 'h3', color: 'dark-shade-100', bold: true, hasUpper: true })
        .controls__rate-buttons-wrap
          +rateButton({ raitingName: 'firtsRaiting', 
            items: [
              { value: '1', ariaLabel: 'одна звезда' },
              { value: '2', ariaLabel: 'две звезды' },
              { value: '3', ariaLabel: 'три звезды' },
              { value: '4', ariaLabel: 'четыре звезды', isChecked: true },
              { value: '5', ariaLabel: 'пять звезд' }
            ],
          })
          +rateButton({ raitingName: 'secondRaiting', 
            items: [
              { value: '1', ariaLabel: 'одна звезда' },
              { value: '2', ariaLabel: 'две звезды' },
              { value: '3', ariaLabel: 'три звезды' },
              { value: '4', ariaLabel: 'четыре звезды' },
              { value: '5', ariaLabel: 'пять звезд', isChecked: true }
            ],
          })