.footer {
  background: #fff;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}

.footer__widgets {
  display: flex;
  padding: rem(100) rem(140);
}

.footer__company {
  max-width: rem(260);
  margin-right: rem(40);
}

.footer__company-achievment {
  margin-top: rem(17);
}

.footer__menu {
  margin-top: rem(4);
}

.footer__menu > .text {
  margin-bottom: rem(22);
}

.footer__menu:nth-child(2) {
  margin-right: rem(57.5);
}

.footer__menu:nth-child(3) {
  margin-right: rem(93);
}

.footer__menu:nth-child(4) {
  margin-right: rem(51.8);
}

.footer__subscription {
  margin-top: rem(4);
  max-width: rem(260);
}

.footer__subscription > .text {
  margin-bottom: rem(18);
}

.footer__subscription-text {
  margin-bottom: rem(23.5);
}

.footer-mobile {
  display: none;
  background: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.footer-mobile--visible {
  display: block;
}

.footer-mobile__container {
  display: flex;
  flex-direction: column;
  padding: rem(120) 0;
}

.footer-mobile__logo {
  display: flex;
  justify-content: center;
  margin-bottom: rem(17);
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .footer__widgets {
    justify-content: space-between;
  }

  .footer__company {
    font-size: rem(13);
    margin-right: 0;
  }

  .footer__menu > .text {
    font-size: rem(11);
  }

  .footer__menu:nth-child(2) {
    margin-right: 0;
  }
  
  .footer__menu:nth-child(3) {
    margin-right: 0;
  }
  
  .footer__menu:nth-child(4) {
    margin-right: 0;
  }

  .footer__subscription > .text {
    font-size: rem(11);
  }

  .footer__subscription-text {
    font-size: rem(13);
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    display: none;
  }

  .footer-mobile {
    display: block;
  }
}