include ~/components/text/text

mixin rangeSlider({ title='', description='', classForJs='' } = {} )
  div(class=['range-slider', classForJs])
    .range-slider__heading
      +text({
        text: title,
        type: 'h3',
        color: 'dark-shade-100',
        bold: true,
        hasUpper: true
      })
      input&attributes({
        class: "range-slider__value js-range-slider__value",
        type: "text",
        readonly: "readonly",
        name: 'rangeSliderValue',
        tabindex: -1,
      })
    .range-slider__wrapper
      .range-slider__slider.js-range-slider__slider
    if description
      span.range-slider__description=description
