@import '~/scss/variables';
@import '~/scss/mixins';

.range-slider {
  &__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(23);
  }

  &__value {
    max-width: 50%;
    color: $darkShade50;
    font-size: rem(12);
    font-family: inherit;
    line-height: rem(14.63);
    text-align: right;
    text-transform: uppercase;
    border: 0;
    outline: 0;
  }

  &__slider {
    cursor: pointer;
  }

  &__description {
    display: inline-block;
    margin-top: rem(15);
    color: $darkShade50;
    font-size: rem(12);
    line-height: rem(14);
  }
}
