extends ~/layouts/UI-kit-layout/UI-kit-layout
include ~/components/logo/logo
include ~/components/text/text
include ~/pages/form-elements/sections/fields/fields
include ~/pages/form-elements/sections/controls/controls
include ~/pages/form-elements/sections/buttons/buttons
include ~/pages/form-elements/sections/dropdowns/dropdowns
include ~/pages/form-elements/sections/checkboxs/checkboxs
include ~/pages/form-elements/sections/room-info/room-info

block variables
  -
    const title = 'Toxin form-elements'
    const description = 'Toxin form-elements description'
    const keywords = 'Toxin form-elements keywords'
    const faviconPaths = {
      apple: 'static/favicon/inactive/apple-touch-icon.png',
      big: 'static/favicon/inactive/favicon-32x32.png',
      small: 'static/favicon/inactive/favicon-16x16.png',
      manifest: `static/favicon/inactive/site.webmanifest`,
      pinned: 'static/favicon/inactive/safari-pinned-tab.svg',
    }

block content
  main.form-elements
    .form-elements__container
      .form-elements__fields-controls-buttons-wrapper
        .form-elements__fields
          +fields
        .form-elements__controls
          +controls
        .form-elements__buttons
          +buttons
      .form-elements__dropdowns-checkboxs-room-wrapper
        .form-elements__dropdowns
          +dropdowns
        .form-elements__checkboxs
          +checkboxs
        .form-elements__room-info
          +room-info
