extends ~/templates/UI-kit/base-UI-kit/base-UI-kit
include ~/templates/UI-kit/logo/logo
include ~/templates/UI-kit/text/text
include ~/pages/form-elements/sections/fields/fields
include ~/pages/form-elements/sections/controls/controls
include ~/pages/form-elements/sections/buttons/buttons

block variables
  -
    const title = 'Toxin form-elemts'
    const description = 'Toxin form-elements description'
    const keyWords = 'Toxin form-elements keywords'
    const faviconPaths = {
      apple: 'static/favicon/inactive/apple-touch-icon.png',
      big: 'static/favicon/inactive/favicon-32x32.png',
      small: 'static/favicon/inactive/favicon-16x16.png',
      manifest: `static/favicon/inactive/site.webmanifest`,
      pinned: 'static/favicon/inactive/safari-pinned-tab.svg',
    }

block content  
  .form-elements
    +logo({ active: false })

    //- containers
    .form-elements-container
      .fields-controls-buttons-container

        //- блок fields
        +fields()

        //- блок controls
        +controls()

        //- блок buttons
        +buttons()
          