mixin bulletList(options)
  -
    const { items } = options

  .bullet-list 
    ul.bullet-list__list
      each item in items 
        -
          const { text } = item
          let bulletItemClass = 'bullet-list__item'
          let bulletItemTextClass = 'bullet-item__text'
          
        li(class=bulletItemClass)
          span(class=bulletItemTextClass)=text
      