@import '~/scss/mixins';

.sign-up {
  padding: rem(19) rem(10) rem(19) rem(10);
  background: url('./img/registration.jpg') no-repeat;
  background-position: 50% -70px;
  background-size: cover;

  @media screen and (max-width: 1439px) {
    background-position: center;
  }

  @media screen and (max-width: 767px) {
    padding: rem(19) 0 rem(18) 0;
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  &__sign-up-card {
    max-width: rem(380);
  }
}
