extends ~/layouts/page/page
include ~/components/sign-up-card/sign-up-card

block variables
  -
    const title = 'Toxin headers-footers'
    const description = 'Toxin headers-footers description'
    const keywords = 'Toxin headers-footers keywords'

    const pageParams = require('@pages/registration/data/page-data.json')

block content
  main.registration
    .registration__container
      .registration__sign-up-card
        +sign-up-card(pageParams.signUpCard)
