@import '~normalize.css';
@import '~/scss/montserrat';
@import '~/scss/material-icons';
@import '@fortawesome/fontawesome-free/css/all.css';
@import '~/scss/variables';
@import '~/scss/mixins';
@import '~/scss/settings';
@import '~/components/logo/logo';
@import '~/components/text/text';
@import '~/components/text-field/text-field';
@import '~/components/button/button';
@import '~/components/radio-button/radio-button';
@import '~/components/toggle-button/toggle-button';
@import '~/components/sign-up-card/sign-up-card';
@import '~/components/header/header';
@import '~/components/menu/menu';
@import '~/components/footer/footer';
@import '~/components/copyright-bar/copyright-bar';

.main {
  background: url('./img/registration-background.jpg') no-repeat;
  background-size: cover;
  background-position: 50% -70px;
}

@media screen and (max-width: 1439px) {
  .main {
    background-position: center;
  }
}

.main-section {
  padding: rem(19) rem(10) rem(19) rem(10);
}

@media screen and (max-width: 767px) {
  .main-section {
    padding: rem(19) 0 rem(18) 0;
  }
}

.main-section__container {
  display: flex;
  justify-content: center;
}

.main-section__sign-up-card {
  width: rem(380);
}
