extends ~/layouts/main-layout/main-layout
include ~/components/sign-up-card/sign-up-card

block variables
  -
    const title = 'Toxin headers-footers'
    const description = 'Toxin headers-footers description'
    const keywords = 'Toxin headers-footers keywords'

    const pageParams = require('@pages/registration/data/page-data.json')

block content
  main.sign-up
    .sign-up__container
      .sign-up__sign-up-card
        +sign-up-card(pageParams.signUpCard)
