extends ~/layouts/main-layout/main-layout
include ~/components/sign-up-card/sign-up-card

block variables
  -
    const title = 'Toxin headers-footers'
    const description = 'Toxin headers-footers description'
    const keywords = 'Toxin headers-footers keywords'
    const faviconPaths = {
      apple: 'static/favicon/active/apple-touch-icon.png',
      big: 'static/favicon/active/favicon-32x32.png',
      small: 'static/favicon/active/favicon-16x16.png',
      manifest: `static/favicon/active/site.webmanifest`,
      pinned: 'static/favicon/active/safari-pinned-tab.svg',
    }

block content
  main.sign-up
    .sign-up__container
      .sign-up__sign-up-card
        +sign-up-card({
          title: 'Регистрация аккаунта',
          logInlink: './sign-in.html',
          formAction: './landing-page.html'
        })
