mixin logo(options = {})
  -
    const { active, link } = options

  if (active)
    .logo.logo--active
      a.logo__link(href=link)
        img&attributes({
          class: 'logo__img',
          src: require('~/components/logo/img/logo-active.svg'),
          alt: 'logo',
        })
  else
    .logo.logo--inactive
      img&attributes({
        class: 'logo__img',
        src: require('~/components/logo/img/logo-inactive.svg'),
        alt: 'logo',
      })