@import '~/scss/variables';
@import '~/scss/mixins';

.logo {
  display: flex;

  &--active {
    cursor: pointer;
  }

  &--inactive {
    position: absolute;
    top: rem(30);
    left: rem(30);
  }

  &__link {
    display: flex;
    text-decoration: none;

    &:focus-visible {
      outline: $thinFocusOutline;
    }
  }

  &__img {
    max-width: 100%;
  }
}
