.copyright-bar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: rem(1440);
  margin: 0 auto;
}

.copyright-bar__container--column {
  flex-direction: column;
  padding: 0;
}

.copyright-bar__container--without-border {
  border-top: none;
}

.copyright-bar__copyright--mobile {
  margin-bottom: rem(21);
}

.copyright-bar__copyright-text {
  line-height: rem(17.07);
}

.copyright-bar__socials-list {
  padding: 0 rem(1) 0 0;
  display: flex;
}

.copyright-bar__socials-item {
  display: flex;
  margin-right: rem(22.5);
}

.copyright-bar__socials-item:last-child {
  margin-right: 0;
}

.copyright-bar__socials-item-link {
  font-size: rem(24);
  line-height: rem(23);
  color: transparent;
  background: $primaryGradient;
  background-clip: text;
  cursor: pointer;
}

.copyright-bar__socials-item-link:focus-visible {
  outline: 2px solid $purple;
}