include ~/components/heading/heading
include ~/components/text-field/text-field
include ~/components/button/button

mixin sign-in-card(options)
  -
    const {
      title,
      signUpLink,
      formAction,
      formMethod
    } = options

  .sign-in-card
    .sign-in-card__container
      .sign-in-card__heading
        +heading({
          title: title,
          titleType: 'h1',
          titleColor: 'dark-shade-100',
          titleBold: true
        })
      form(class='sign-up-card__form' action=formAction method=formMethod)
        .sign-in-card__login-details
          .sign-in-card__email
            +text-field({
              type: 'email',
              placeholder: 'Email',
              name: 'email',
              autocomplete: 'on'
            })
          .sign-in-card__password
            +text-field({
              type: 'password',
              placeholder: 'Пароль',
              name: 'password',
              autocomplete: 'on'
            })
        .sign-in-card__button
          +button({
            text: 'Войти',
            type: 'submit',
            variant: 'with-arrow',
            color: 'white',
            size: 'large'
          })
        .sign-in-card__sign-up
          .sign-in-card__sign-up-question='Нет аккаунта на Toxin?'
          +button({
            text: 'Создать',
            link: signUpLink,
            variant: 'fill-white',
            color: 'purple',
            size: 'small'
          })
