include ~/components/text/text
include ~/components/text-field/text-field
include ~/components/button/button

mixin sign-in-card(options)
  -
    const {
      title,
      signUpLink,
      formAction,
      formMethod
    } = options

  .sign-in-card
    .sign-in-card__container
      .sign-in-card__title
        +text({ text: title, type: 'h1', color: 'dark-shade-100', bold: true })
      form(class='sign-up-card__form' action=formAction method=formMethod)
        .sign-in-card__login-details
          .sign-in-card__email
            +textField({
              type: 'email',
              placeholder: 'Email',
              name: 'email',
              autocomplete: 'on'
            })
          .sign-in-card__password
            +textField({
              type: 'password',
              placeholder: 'Пароль',
              name: 'password',
              autocomplete: 'on'
            })
        .sign-in-card__button
          +button({
            text: 'Войти',
            type: 'submit',
            variant: 'with-arrow',
            color: 'white',
            size: 'large'
          })
        .sign-in-card__sign-up
          +text({ text: 'Нет аккаунта на Toxin?', type: 'p', color: 'black' })
          +button({
            text: 'Создать',
            link: signUpLink,
            variant: 'fill-white',
            color: 'purple',
            size: 'small'
          })
