@import '~/scss/mixins';

.sign-in-card {
  @include card;

  &__container {
    padding: rem(39) rem(29) rem(31) rem(29);
  }

  &__heading {
    margin-bottom: rem(20);
  }

  &__login-details {
    margin-bottom: rem(20.5);
  }

  &__email {
    margin-bottom: rem(10);
  }

  &__button {
    margin-bottom: rem(30);
  }

  &__sign-up {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-question {
      color: $black;
    }
  }
}
