include ~/components/checkbox/checkbox

mixin checkbox-list(options={})
  -
    const {
      expandable,
      title,
      isOpened,
      isRich,
      items=[]
    } = options

    const expandableClassForJs = expandable && 'js-checkbox-list'
    const hiddenModifier
      = expandable && !isOpened && 'checkbox-list__list--hidden'
    const rotateModifier
      = expandable && isOpened && 'checkbox-list__button--rotate'
    const richModifier = isRich && 'checkbox-list__list--rich'

  .checkbox-list(class=expandableClassForJs)
    if (expandable)
      .checkbox-list__dropdown.js-checkbox-list__dropdown(tabindex=0)
        h3.checkbox-list__dropdown-title=title
        button&attributes({
        class: [
          'checkbox-list__dropdown-button',
          'material-icons',
          'js-checkbox-list__dropdown-button',
          rotateModifier
        ],
        type: 'button'
        })='expand_more'
    else
      h3.checkbox-list__title=title
        
    ul&attributes({
      class: [
        'checkbox-list__list',
        'js-checkbox-list__list',
        hiddenModifier,
        richModifier
      ]
    })
      each item in items
        -
          item.isRich = isRich

        li.checkbox-list__item
          +checkbox(item)
