@import '~/scss/variables';
@import '~/scss/mixins';

.checkbox-list {
  &__title {
    margin: 0 0 rem(17) 0;
    font-size: rem(12);
    line-height: rem(14.63);
    font-weight: 700;
    text-transform: uppercase;
    color: $darkShade100;
  }

  &__dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(13);
    cursor: pointer;

    &:focus-visible {
      outline: $focusOutline;
    }

    &-title {
      margin: 0;
      font-size: rem(12);
      line-height: rem(14.63);
      font-weight: 700;
      text-transform: uppercase;
      color: $darkShade100;
    }

    &-button {
      margin-right: rem(10);
      padding: 0;
      color: $darkShade50;
      background: transparent;
      border: none;
      cursor: pointer;
      transition: transform 0.4s ease;
  
      &:focus-visible {
        outline: $focusOutline;
      }
  
      &--rotate {
        transform: rotateX(180deg);
      }
    }
  }

  &__item {
    margin-bottom: rem(10);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &--hidden {
      display: none;
    }

    &--rich {
      .checkbox-list {
        &__item {
          margin-bottom: rem(7);
        }
      }
    }
  }
}
