.checkbox-list {
  width: 100%;

  &__heading {
    margin-bottom: rem(17);
  }

  &__dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(13);
    cursor: pointer;

    &:focus-visible {
      outline: $focusOutline;
    }
  }

  &__button {
    margin-right: rem(10);
    color: $darkShade50;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.4s ease;

    &:focus-visible {
      outline: $focusOutline;
    }

    &--rotate {
      transform: rotateX(180deg);
    }
  }

  &__item {
    margin-bottom: rem(10);
    color: $darkShade50;
    line-height: rem(20);

    &:last-child {
      margin-bottom: 0;
    }

    &--rich {
      .checkbox-list {
        &__item-text {
          color: $darkShade75;
          font-weight: bold;
        }
      }
    }
  }

  &__list {
    &--hidden {
      display: none;
    }

    &--rich {
      .checkbox-list {
        &__item {
          margin-bottom: rem(7);
        }
      }
    }
  }

  &__item-description {
    display: inline-block;
    margin-top: rem(3);
    font-size: rem(12);
    line-height: rem(14.63);
    white-space: pre-line;
  }

  &__item-text::before {
    position: absolute;
    top: 0;
    left: rem(-30);
    width: rem(20);
    height: rem(20);
    border: $mainBorder;
    border-radius: $mainBorderRadius;
    content: '';
  }

  &__item-label {
    position: relative;
    display: inline-block;
    margin-left: rem(30);
    cursor: pointer;

    &:hover {
      color: $darkShade75;

      > .checkbox-list {
        &__item-text::before {
          border-color: $purple;
        }
      }
    }
  }

  &__item-input {
    position: absolute;
    outline: none;
    appearance: none;

    &:checked + .checkbox-list {
      &__item-text {
        &::before {
          background: url('~/components/checkbox-list/img/checkbox-checked.svg')
            no-repeat center;
          border-color: $purple;
        }
      }
    }

    &:focus-visible + .checkbox-list {
      &__item-text {
        color: $darkShade75;

        &::before {
          border: 0;
          outline: $focusOutline;
        }

        + .checkbox-list {
          &__item-description {
            color: $darkShade75;
          }
        }
      }
    }
  }
}
