include ~/pages/UI-kit/colors-type/colors/colors
include ~/pages/UI-kit/colors-type/type/type.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title UI-kit
  body

    //- Добавление лого
    include ~/pages/UI-kit/logo-colorless/logo-colorless

    //- Общий контейнер
    .colors-type-container

      //- блок colors
      .colors-container
        each color in colorsArray
          +colors(color.color, color.name, color.hex)

      //- Блок type
      .type-container
        +type('h1', 'H1', 'type__h1-text', 'This one is the sub-section or widget title')
        +type('h2', 'H2', 'type__h2-text', 'Next one is the item title inside widgets')
        +type('h3', 'H3', 'type__h3-text', 'This is a label or CTA text')
        +type('body-text', 'Body', 'type__body-text', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.')