include ~/pages/UI-kit/colors-type/colors/colors
include ~/pages/UI-kit/colors-type/type/type

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title UI-kit
  body

    //- Добавление лого
    include ~/pages/UI-kit/logo-colorless/logo-colorless

    //- Общий контейнер
    .colors-types-container

      //- блок colors
      .colors
        .colors-container
          each color in colorsArray
            +colors(color.colorClass, color.colorName, color.hex)

      //- Блок types
      .types
        .types-container
          each type in typeInfo
            +type(type.typeClass, type.typeContent, type.typeDescriptionClass, type.typeDescription)