doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title UI-kit
  body
    include ~/pages/UI-kit/logo-colorless/logo-colorless.pug
    .colors-type-container
      .colors-container
        include ~/pages/UI-kit/colors-type/colors/colors.pug
        block primary-colors
        for i in colorsArray
          +colors(i.color, i.name, i.hex, i.last)
      .type-container
        include ~/pages/UI-kit/colors-type/type/type.pug
        block type 
        +type('type-H1', 'H1', 'type-H1__description', 'This one is the sub-section or widget title')
        +type('type-H2', 'H2', 'type-H2__description', 'Next one is the item title inside widgets')
        +type('type-H3', 'H3', 'type-H3__description', 'This is a label or CTA text')
        +type('type-body', 'Body', 'type-body__description', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', true)