doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form elements
  body 
    include ../common.blocks/UI-kit/logo-colorless/logo-colorless
    .form-elements-container
      .fields-buttons-container
        .fields-container
          include ../common.blocks/UI-kit/form-elements/text-field/text-field.pug
          include ../common.blocks/UI-kit/form-elements/dropdown/dropdown.pug