@import '~/scss/variables';
@import '~/scss/mixins';

.comment {
  &__header {
    display: flex;

    @media screen and (max-width: 568px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__avatar {
    width: rem(48);
    height: rem(48);
    max-width: 100%;
    object-fit: cover;
    border: $avatarBorder;
    border-radius: 50%;
    filter: drop-shadow($avatarBoxShadow);

    &-wrapper {
      margin-right: rem(10);

      @media screen and (max-width: 568px) {
        margin-right: 0;
      }
    }
  }

  &__name {
    margin: 0;
    font-weight: bold;
  }

  &__date-of-comment {
    margin: 0;
  }

  &__body {
    display: flex;
    margin-top: rem(3);
    margin-left: rem(4);

    @media screen and (max-width: 568px) {
      flex-direction: column;
      margin-top: 0;
      margin-left: 0;
    }
  }

  &__like-wrapper {
    margin-top: rem(2);
    margin-right: rem(15);

    @media screen and (max-width: 568px) {
      order: 1;
      margin-top: rem(6);
      margin-right: 0;
    }
  }
}