mixin subscriptionTextField()
  .subscription-text-field
    input(type='text', placeholder='Email').subscription-text-field__input
    button(type='sumbit').subscription-text-field__button
      img(src=require('form-elements/subscription-text-field/subscription-text-field-arrow.png') alt='Кнопка')