mixin radioButtons(options={})
  -
    const { items=[], group } = options

  .radio-buttons
    ul.radio-buttons__list
      each item in items
        -
          const { text, value, isChecked } = item

        li.radio-buttons__item
          label.radio-buttons__item-label
            input&attributes({
              class: 'radio-buttons__item-input',
              type: 'radio',
              name: group,
              value: value,
              checked: isChecked,
            })
            span.radio-buttons__item-text=text

