mixin type({ type, typeDescriptionClass, typeDescription, typeContentHasUpper })
  -
    let typeClass = 'type' + ' types__type'

    typeClass += ` type--with-type-${type}`

    let typeContentClass = 'type__type'

    if (typeContentHasUpper) {typeContentClass += ' type__type--upper'}

  div(class=typeClass)
    p(class=typeContentClass)=type
    p(class=typeDescriptionClass)=typeDescription
