@import '~/scss/variables';
@import '~/scss/mixins';

.colors {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: rem(20);
    color: $darkShade100;

    &:last-child {
      margin-bottom: rem(0);
    }

    &-img {
      width: 70px;
      height: 70px;
      margin-right: rem(40);
      border-radius: 6px;

      &--dark-shade-100 {
        background-color: $darkShade100;
      }

      &--dark-shade-75 {
        background-color: $darkShade75;
      }

      &--dark-shade-50 {
        background-color: $darkShade50;
      }

      &--dark-shade-25 {
        background-color: $darkShade25;
      }

      &--dark-shade-5 {
        background-color: $darkShade5;
      }

      &--purple {
        background-color: $purple;
      }

      &--green {
        background-color: $green;
      }
    }

    &-description {
      font-size: rem(19);
      line-height: rem(27.8);
    }

    &-name {
      margin: 0;
      font-weight: 700;
    }

    &-hex {
      margin: 0;
    }
  }
}
