mixin colors( colorList=[] )
  -
    const colors = [
      'dark-shade-100', 'dark-shade-75', 'dark-shade-50',
      'dark-shade-25', 'dark-shade-5', 'purple', 'green'
    ]

  .colors
    .colors__container
      ul.colors__list

        each item in colorList
          -
            const { color } = item
            const colorModifier = colors.includes(color) && color

          li(class=`color colors__item`)
            div(class=`color__img color--${colorModifier}`)
            .color__description
              p.color__name=item.name
              p.color__hex=item.hex
