mixin colors( colorList=[] )
  -
    const colors = [
      'dark-shade-100', 'dark-shade-75', 'dark-shade-50',
      'dark-shade-25', 'dark-shade-5', 'purple', 'green'
    ]

  .colors
    .colors__container
      ul.colors__list

        each item in colorList
          -
            const { color } = item
            const colorModifier = colors.includes(color) && color

          li(class=`colors__item`)
            div(class=`colors__item-img colors__item-img--${colorModifier}`)
            .colors__item-description
              p.colors__item-name=item.name
              p.colors__item-hex=item.hex
