@import '~/scss/mixins';

.find-room-card {
  @include card;

  &__container {
    padding: rem(39) rem(29) rem(29) rem(29);
  }

  &__title {
    margin-bottom: rem(22);
  }

  &__datepicker {
    margin-bottom: rem(21);
  }

  &__dropdown-guests {
    margin-bottom: rem(31.5);
  }
}
