include ~/components/text/text
include ~/components/dropdown/dropdown
include ~/components/date-dropdown/date-dropdown
include ~/components/button/button

mixin find-room-card(options={})
  -
    const {
      title,
      dateDropdownClassForJs,
      guestsDropdownClassForJs,
      formAction='./error-page.html',
      formMethod
    } = options

  .find-room-card
    .find-room-card__container
      .find-room-card__title
        +text({ text: title, type: 'h1', color: 'dark-shade-100', bold: true })
      form(class='find-room-card__form' action=formAction method=formMethod)
        .find-room-card__datepicker 
          +date-dropdown({
            type: 'text',
            dataType: 'date-dropdown-start',
            dataTypeEnd: 'date-dropdown-end',
            placeholder: 'ДД.ММ.ГГГГ',
            name: 'date',
            hasTwoInputs: true,
            hasArrow: true,
            isReadonly: true,
            title: 'Прибытие',
            titleEnd: 'Выезд',
            classForJs: dateDropdownClassForJs
          })
        .find-room-card__dropdown-guests
          +dropdown({
            hasTitle: true,
            withButtons: true,
            title: 'Гости',
            placeholder: 'Сколько гостей',
            name: 'guests',
            classForJs: guestsDropdownClassForJs,
            items: [
              { text: 'Взрослые', counter: '0', dataId: 'adults' },
              { text: 'Дети', counter: '0', dataId: 'children' },
              { text: 'Младенцы', counter: '0', dataId: 'babies' },
            ]
          })
        .find-room-card__button
          +button({
            text: 'Подобрать номер',
            variant: 'with-arrow',
            color: 'white',
            size: 'large',
          })
