extends ~/components/UI-kit/base-UI-kit/base-UI-kit
include ~/components/UI-kit/colors-type/colors/colors
include ~/components/UI-kit/colors-type/type/type

block variables
  -
    const title = 'Toxin colors and type'
    const description = 'Toxin colors and type description'
    const keyWords = 'Toxin colors and type keywords'
    const faviconPaths = {
      apple: 'static/favicon/inactive/apple-touch-icon.png',
      big: 'static/favicon/inactive/favicon-32x32.png',
      small: 'static/favicon/inactive/favicon-16x16.png',
      manifest: `static/favicon/inactive/site.webmanifest`,
      pinned: 'static/favicon/inactive/safari-pinned-tab.svg',
    }

block content
  +logo({ active: false, posAbsolute: true })
  .colors-types__container
    .colors
      .colors__container
        +color({ color: 'dark-shade-100', name: 'Dark Shade 100%', hex: '#1F2041', hasMargin: true })
        +color({ color: 'dark-shade-75', name: 'Dark Shade 75%', hex: '#1F2041', hasMargin: true })
        +color({ color: 'dark-shade-50', name: 'Dark Shade 50%', hex: '#1F2041', hasMargin: true })
        +color({ color: 'dark-shade-25', name: 'Dark Shade 25%', hex: '#1F2041', hasMargin: true })
        +color({ color: 'dark-shade-5', name: 'Dark Shade 5%', hex: '#1F2041', hasMargin: true })
        +color({ color: 'purple', name: 'Purple', hex: '#BC9CFF', hasMargin: true })
        +color({ color: 'green', name: 'Green', hex: '#6FCF97' })
    .types
      .types__container
        +type({ type: 'h1', typeDescriptionClass: 'type__h1-text', typeDescription: 'This one is the sub-section or widget title', typeContentHasUpper: true })
        +type({ type: 'h2', typeDescriptionClass: 'type__h2-text', typeDescription: 'Next one is the item title inside widgets', typeContentHasUpper: true })
        +type({ type: 'h3', typeDescriptionClass: 'type__h3-text', typeDescription: 'This is a label or CTA text', typeContentHasUpper: true })
        +type({ type: 'body', typeDescriptionClass: 'type__body-text', typeDescription: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.' })
