.colors-types {
  &__container {
    display: flex;
    padding: 145px 158px 145px 150px;
  }
}

.colors {
  &__container {
    display: flex;
    flex-direction: column;
    margin-right: 415px;
  }
}
