extends ~/layouts/UI-kit-layout/UI-kit-layout
include ~/components/colors/colors
include ~/components/types/types

block variables
  -
    const title = 'Toxin colors and type'
    const description = 'Toxin colors and type description'
    const keywords = 'Toxin colors and type keywords'
    const faviconPaths = {
      apple: 'static/favicon/inactive/apple-touch-icon.png',
      big: 'static/favicon/inactive/favicon-32x32.png',
      small: 'static/favicon/inactive/favicon-16x16.png',
      manifest: `static/favicon/inactive/site.webmanifest`,
      pinned: 'static/favicon/inactive/safari-pinned-tab.svg',
    }

    const pageParams = require('@pages/colors-type/data/page-data.json')

block content
  main.colors-types
    .colors-types__container
      +colors(pageParams.colors)
      +types(pageParams.types)
