@import '~normalize.css';
@import '~/scss/montserrat';
@import '~/scss/variables';
@import '~/scss/mixins';
@import '~/scss/settings';

.colors-types__container {
  padding: 145px 158px 145px 150px;
  display: flex;
}

.colors__container {
  display: flex;
  flex-direction: column;
  margin-right: 415px;
}

@import '~/components/logo/logo';
@import '~/components/colors/colors';
@import '~/components/type/type';
