mixin text-field(type, placeholder, defaultState)
  if (defaultState)
    block text-field
    .text-field
      input(type=type, placeholder=placeholder).input
  else
    block text-field
    .text-field
      input(type=type, placeholder=placeholder).input.input--focus.input--hover


