.radio-button {
  display: flex;
}

.radio-button__label {
  display: flex;
  
  max-width: 98px;

  cursor: pointer;
  font-size: 14px;
  line-height: 18px;  
  color: rgba(31, 32, 65, 0.75);
}

.radio-button__label::before {
  flex-shrink: 0;
  content: '';
  width: 18px;
  height: 18px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  margin-right: 10px;
}

.radio-button__input {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;
}

.radio-button__input:checked ~ .radio-button__label::before {
  background: url(./radio-checked.svg) no-repeat center;
  border-color: #BC9CFF;
}

.radio-button__group:first-child {
  margin-right: 20px;
}

