include ~/components/text/text
include ~/components/text-field/text-field
include ~/components/radio-button/radio-button
include ~/components/toggle-button/toggle-button
include ~/components/button/button

mixin signUpCard(options={})
  -
    const {
      title,
      logInlink,
      formAction,
      formMethod
    } = options

  .sign-up-card
    .sign-up-card__container
      .sign-up-card__title
        +text({ text: title, type: 'h1', color: 'dark-shade-100', bold: true })
      form(class='sign-up-card__form' action=formAction method=formMethod)
        .sign-up-card__person
          .sign-up-card__person-first-name
            +textField({ type: 'text', placeholder: 'Имя', name: 'first-name', autocomplete: 'on' })
          .sign-up-card__person-last-name
            +textField({ type: 'text', placeholder: 'Фамилия', name: 'last-name', autocomplete: 'on' })
          .sign-up-card__person-sex
            +radioButtons({
              group: 'gender',
              items: [
                { text: 'Мужчина', value: 'man', isChecked: true },
                { text: 'Женщина', value: 'woman' }
              ]
            })
        .sign-up-card__date-birth
          +textField({
            hasTitle: true,
            title: 'Дата рождения',
            type: 'text',
            placeholder: 'ДД.ММ.ГГГГ',
            name: 'birthday',
            autocomplete: 'on',
            classForJs: 'js-masked-text-field'
          })
        .sign-up-card__login-details
          .sign-up-card__email
            +textField({
              hasTitle: true,
              title: 'Данные для входа в сервис',
              type: 'email',
              placeholder: 'Email',
              name: 'email',
              autocomplete: 'on'
            })
          .sign-up-card__password
            +textField({
              type: 'password',
              placeholder: 'Пароль',
              name: 'password',
              autocomplete: 'on'
            })
          .sign-up-card__special-offers
            +toggleButton({ text: 'Получать спецпредложения', name: 'special-offers' })
        .sign-up-card__button
          +button({
            text: 'зарегистрироваться',
            type: 'submit',
            variant: 'with-arrow',
            color: 'white',
            size: 'large',
          })
        .sign-up-card__log-in
          +text({ text: 'Уже есть аккаунт на Toxin', type: 'p', color: 'black' })
          +button({
            text: 'Войти',
            variant: 'fill-white',
            color: 'purple',
            size: 'small',
            link: logInlink,
          })
