@import '~/scss/variables';
@import '~/scss/mixins';

.sign-up-card {
  @include card;

  &__container {
    padding: rem(39) rem(29) rem(29) rem(29);
  }

  &__title {
    margin-bottom: rem(21);
  }

  &__person {
    margin-bottom: rem(24);

    &-first-name {
      margin-bottom: rem(10);
    }

    &-last-name {
      margin-bottom: rem(10);
    }
  }

  &__date-birth {
    margin-bottom: rem(20);
  }

  &__login-details {
    margin-bottom: rem(24);
  }

  &__email {
    margin-bottom: rem(10);
  }

  &__password {
    margin-bottom: rem(10);
  }

  &__button {
    margin-bottom: rem(30.5);
  }

  &__log-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
