include ~/components/heading/heading
include ~/components/text-field/text-field
include ~/components/radio-buttons/radio-buttons
include ~/components/toggle-button/toggle-button
include ~/components/button/button

mixin sign-up-card(options={})
  -
    const {
      title,
      logInlink,
      formAction,
      formMethod
    } = options

  .sign-up-card
    .sign-up-card__container
      .sign-up-card__heading
        +heading({
          title: title,
          titleType: 'h1',
          titleColor: 'dark-shade-100',
          titleBold: true
        })
      form(class='sign-up-card__form' action=formAction method=formMethod)
        .sign-up-card__person
          .sign-up-card__person-first-name
            +text-field({
              type: 'text',
              placeholder: 'Имя',
              name: 'first-name',
              autocomplete: 'on'
            })
          .sign-up-card__person-last-name
            +text-field({
              type: 'text',
              placeholder: 'Фамилия',
              name: 'last-name',
              autocomplete: 'on'
            })
          .sign-up-card__person-sex
            +radio-buttons({
              group: 'gender',
              items: [
                { text: 'Мужчина', value: 'man', isChecked: true },
                { text: 'Женщина', value: 'woman' }
              ]
            })
        .sign-up-card__date-birth
          +text-field({
            hasHeading: true,
            title: 'Дата рождения',
            type: 'text',
            placeholder: 'ДД.ММ.ГГГГ',
            name: 'birthday',
            autocomplete: 'on',
            isMasked: true,
          })
        .sign-up-card__login-details
          .sign-up-card__email
            +text-field({
              hasHeading: true,
              title: 'Данные для входа в сервис',
              type: 'email',
              placeholder: 'Email',
              name: 'email',
              autocomplete: 'on'
            })
          .sign-up-card__password
            +text-field({
              type: 'password',
              placeholder: 'Пароль',
              name: 'password',
              autocomplete: 'on'
            })
          .sign-up-card__special-offers
            +toggle-button({
              text: 'Получать спецпредложения',
              name: 'special-offers'
            })
        .sign-up-card__button
          +button({
            text: 'зарегистрироваться',
            type: 'submit',
            variant: 'with-arrow',
            color: 'white',
            size: 'large',
          })
        .sign-up-card__log-in
          .sign-up-card__log-in-question='Уже есть аккаунт на Toxin?'
          +button({
            text: 'Войти',
            variant: 'fill-white',
            color: 'purple',
            size: 'small',
            link: logInlink,
          })
