mixin dropdown(heading, info)
  block dropdown
  .dropdown
    span.dropdown__heading=heading 
    button(type='button').input.dropdown__button=info
      .dropdown__arrow
        img(src='assets/img/dropdown-arrow.png')
