-
  let dropdownSettings = [
    {heading: 'dropdown', text: 'Сколько гостей'}
  ]

mixin dropdown(dropdownSettings)
  .dropdown
    span.dropdown__heading=dropdownSettings.heading 
    button(type='button').input.input--focus.input--hover.dropdown__button=dropdownSettings.text
      .dropdown__arrow
        img(src=require('form-elements/dropdown/dropdown-arrow.png') alt='Кнопка')
