mixin dropdown(heading, info)
  block dropdown-UI
  .dropdown.dropdown__UI-margin
    span.dropdown__heading=heading 
    button(type='button').dropdown__button=info
      .dropdown__arrow
        img(src='assets/img/dropdown-arrow.png')
