.dropdowns {
  width: 100%;

  &__container {
    display: flex;
  }

  &__services {
    min-width: rem(266);
    margin-right: rem(180);
  }

  &__dropdown-default {
    margin-bottom: rem(20.5);
  }

  &__guests {
    display: flex;
  }

  &__dropdown-guests {
    min-width: rem(320);
    margin-right: 72.5px;
  }

  &__dropdown-guests-selected {
    min-width: rem(320);
  }
}
