include ~/components/dropdown/dropdown

mixin dropdowns(dropdowns = {})
  .dropdowns
    .dropdowns__container
      .dropdowns__services
        .dropdowns__dropdown-default
          +dropdown(dropdowns.dropdownDefault)
        .dropdowns__dropdown-expanded
        +dropdown(dropdowns.dropdownExpanded)
      .dropdowns__guests
        .dropdowns__dropdown-guests
          +dropdown(dropdowns.dropdownGuests)
        .dropdowns__dropdown-guests-selected
          +dropdown(dropdowns.dropdownGuestsSelected)
          