include ~/components/dropdown/dropdown

mixin dropdowns()
  .dropdowns
    .dropdowns__container
      .dropdowns__services
        .dropdowns__dropdown-default
          +dropdown({
            hasTitle: true,
            title: 'dropdown',
            subtitle: 'default',
            value: '2 спальни, 2 кровати...',
            placeholder: 'Удобства номера',
            items: [
              { text: 'Спальни', counter: '2', dataId: 'bedrooms' },
              { text: 'Кровати', counter: '2', dataId: 'beds' },
              { text: 'Ванные комнаты', counter: '0', dataId: 'bathrooms' },
            ]
          },
          {
            type: 'comfort',
            maxLengthItems: {
              item0: 10,
              item1: 15,
              item2: 6,
            },
            plurals: {
              bedrooms: ['спальня', 'спальни', 'спален'],
              beds: ['кровать', 'кровати', 'кроватей'],
              bathrooms: ['ванная комната', 'ванные комнаты', 'ванных комнат'],
            },
          })
        .dropdowns__dropdown-expanded
          +dropdown({
            hasTitle: true,
            title: 'dropdown',
            subtitle: 'expanded',
            isOpened: true,
            value: '2 спальни, 2 кровати...',
            placeholder: 'Удобства номера',
            items: [
              { text: 'Спальни', counter: '2', dataId: 'bedrooms' },
              { text: 'Кровати', counter: '2', dataId: 'beds' },
              { text: 'Ванные комнаты', counter: '0', dataId: 'bathrooms' },
            ]
          },
          {
            type: 'comfort',
            maxLengthItems: {
              item0: 10,
              item1: 15,
              item2: 6,
            },
            plurals: {
              bedrooms: ['спальня', 'спальни', 'спален'],
              beds: ['кровать', 'кровати', 'кроватей'],
              bathrooms: ['ванная комната', 'ванные комнаты', 'ванных комнат'],
            },
          })
      .dropdowns__guests
        .dropdowns__dropdown-guests
          +dropdown({
            hasTitle: true,
            title: 'dropdown',
            isOpened: true,
            withButtons: true,
            placeholder: 'Сколько гостей',
            items: [
              { text: 'Взрослые', counter: '0', dataId: 'adults' },
              { text: 'Дети', counter: '0', dataId: 'children' },
              { text: 'Младенцы', counter: '0', dataId: 'babies' },
            ]
          },
          {
            type: 'guests',
            maxLengthItems: {
              item0: 10,
              item1: 15,
              item2: 6,
            },
            plurals: {
              guests: ['гость', 'гостя', 'гостей'],
              babies: ['младенец', 'младенца', 'младенцев'],
            },
          })
        .dropdowns__dropdown-guests-selected
          +dropdown({
            hasTitle: true,
            title: 'dropdown',
            isOpened: true,
            withButtons: true,
            value: '3 гостя',
            placeholder: 'Сколько гостей',
            items: [
              { text: 'Взрослые', counter: '2', dataId: 'adults' },
              { text: 'Дети', counter: '1', dataId: 'children' },
              { text: 'Младенцы', counter: '0', dataId: 'babies' },
            ]
          },
          {
            type: 'guests',
            maxLengthItems: {
              item0: 10,
              item1: 15,
              item2: 6,
            },
            plurals: {
              guests: ['гость', 'гостя', 'гостей'],
              babies: ['младенец', 'младенца', 'младенцев'],
            },
          })
