include ~/templates/UI-kit/form-elements/like-button/like-button

mixin comments(options)
  -
    const { items } = options

  .comments

  each item in items 
    -
      const { name, avatar, time, text, likeButtonCount, likeButtonClassForJs, likeButtonIsActived, likeButtonName } = item 
    
    .comment.comments__comment
      .profile
        .profile__avatar-wrapper
          img(class='profile__avatar' src=avatar alt='Аватарка пользователя')
        .profile__text-wrapper
          span.profile__name=name
          span.profile__comment-time=time
      .comment__description 
        .comment__like-wrapper
          +likeButton({ count: likeButtonCount, classForJs: likeButtonClassForJs, isActived: likeButtonIsActived, name: likeButtonName })
        .comment__text-wrap
          span.comment__text=text
        
  