mixin star-rating(rating=0)
  .star-rating
    if rating <= 5
      - const empty = 5 - rating;
      - for (let i = 0; i < rating; i++)
        span.star-rating__star
      - for (let i = 0; i < empty; i++)
        span.star-rating__empty-star
