@import '~/scss/variables';
@import '~/scss/mixins';

.star-rating {
  font-size: rem(24);
  font-family: 'Material Icons', sans-serif;
  line-height: rem(24);
  user-select: none;
  @include text-gradient-fill($primaryGradient);

  &__star {
    &--empty {
      &::before {
        content: '\e83a';
      }
    }

    &--fill {
      &::before {
        content: '\e838';
      }
    }

    &--button {
      cursor: pointer;

      &:focus-visible {
        outline: $thinFocusOutline;
      }
    }
  }
}
