mixin starRating( options={} )
  -
    const { classForJs } = options

    let starRatingClass = 'star-rating'

    if (classForJs) {
      starRatingClass += ` ${classForJs}`
    }

  div(class=starRatingClass)
