block dropdown-UI
.dropdown.dropdown__UI-margin
  span.dropdown__heading dropdown 
  button(type='button').dropdown__button Сколько гостей
    .dropdown__arrow
      img(src='assets/img/dropdown-arrow.png')