.header {
  background: $headerFooterBackground;
  box-shadow: $secondaryBoxShadow;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: rem(1160);
    margin: 0 auto;
    padding: rem(15) 0;

    @media screen and (max-width: 1023px) {
      padding: rem(15) rem(30);
    }

    @media screen and (max-width: 767px) {
      justify-content: center;
    }
  }

  &__menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__menu {
    margin-right: rem(20);

    @media screen and (max-width: 1023px) {
      display: none;
    }
  }

  &__authorization {
    display: flex;
    justify-content: space-between;

    > .button {
      &:first-child {
        margin-right: rem(19.5);
      }
    }

    &-complete {
      position: relative;
      margin-left: rem(21.5);

      @media screen and (max-width: 1023px) {
        margin: 0;
      }

      &::before {
        position: absolute;
        top: 0;
        left: rem(-21);
        width: 1px;
        height: rem(30);
        background: $darkShade10;
        transform: translateY(-10%);
        content: '';

        @media screen and (max-width: 1023px) {
          display: none;
        }
      }
    }
  }

  &__user {
    color: $darkShade50;
    line-height: rem(17.07);
  }

  &__burger {
    &-menu {
      &-container {
        position: relative;
        display: none;

        @media screen and (max-width: 1023px) {
          display: block;
        }
      }

      &-wrapper {
        position: absolute;
        z-index: 3;
        width: 100%;
        padding-top: 1px;
        background: $headerFooterBackground;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s all;

        &--visible {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &-button {
      position: relative;
      height: 32px;
      border-top: 1px solid $uiKitPagesBackground;
      border-bottom: 1px solid $uiKitPagesBackground;
      cursor: pointer;

      &:focus-visible {
        border-top: $focusBurgerButton;
        border-bottom: $focusBurgerButton;
        outline: none;
      }

      &-line {
        position: absolute;
        right: 50%;
        width: 30px;
        height: 2px;
        background-color: $purple;
        border-radius: 25px;
        transform: translate(50%, 0);
        transition: all 0.5s ease;

        &:first-child {
          top: 6px;
        }

        &:nth-child(2),
        &:nth-child(3) {
          top: 14px;
        }

        &:last-child {
          top: 22px;
        }
      }

      &--active {
        .header {
          &__burger-button-line {
            &:first-child {
              opacity: 0;
            }

            &:nth-child(2) {
              height: 3px;
              border-radius: 30%;
              transform: translate(50%, 0) rotate(45deg);
            }

            &:nth-child(3) {
              height: 3px;
              border-radius: 30%;
              transform: translate(50%, 0) rotate(-45deg);
            }

            &:last-child {
              opacity: 0;
            }
          }
        }
      }
    }

    &-authorization {
      @media screen and (max-width: 1023px) {
        display: none;
      }

      @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: rem(15) 0;

        & > .button {
          &:first-child {
            margin-bottom: rem(10);
          }
        }
      }

      &-complete {
        @media screen and (max-width: 1023px) {
          display: none;
        }

        @media screen and (max-width: 767px) {
          display: block;
          padding: rem(30) 0;
          font-size: rem(19);
          line-height: rem(23.16);
          text-align: center;
        }
      }
    }
  }
}
