include ~/components/logo/logo
include ~/components/menu/menu
include ~/components/button/button

mixin header(options = {})
  -
    const { logIn, logoLink, firstItemMenuActive } = options

  header.header
    .header__container
      +logo({ active: true, link: logoLink })
      .header__menu-wrapper
        .header__menu
          +menu({
              items: [
                {
                  text: 'О нас',
                  link: './error-page.html',
                  isActive: firstItemMenuActive,
                },
                {
                  text: 'Услуги',
                  subMenu: true,
                  subMenuItems: [
                    { text: 'Услуги', link: './error-page.html' },
                    { text: 'Услуги', link: './error-page.html' }
                  ]
                },
                {
                  text: 'Вакансии',
                  link: './error-page.html',
                },
                {
                  text: 'Новости',
                  link: './error-page.html',
                },
                {
                  text: 'Соглашения',
                  subMenu: true,
                  subMenuItems: [
                    { text: 'Соглашения', link: './error-page.html' },
                    { text: 'Соглашения', link: './error-page.html' }
                  ]
                }
              ],
              options: { isNavigation: true }
            })
        if (!logIn)
          .header__authorization
            +button({ text: 'Войти', variant: 'fill-white', color: 'purple', size: 'medium', link: './sign-in.html' })
            +button({ text: 'Зарегистрироваться', color: 'white', size: 'medium', link: './registration.html' })
        else
          .header__authorization-complete
            span.header__user='Юлий Цезарь'
    .header__burger-menu-container.js-header__burger-menu-container
      .header__burger-button.js-header__burger-button(tabindex='0')
        .header__burger-button-line
        .header__burger-button-line
        .header__burger-button-line
        .header__burger-button-line
      .header__burger-menu-wrapper.js-header__burger-menu-wrapper
        .header__burger-menu
          +menu({
              items: [
                {
                  text: 'О нас',
                  link: './error-page.html',
                  isActive: true,
                },
                {
                  text: 'Услуги',
                  subMenu: true,
                  subMenuItems: [
                    { text: 'Услуги', link: './error-page.html' },
                    { text: 'Услуги', link: './error-page.html' }
                  ]
                },
                {
                  text: 'Вакансии',
                  link: './error-page.html',
                },
                {
                  text: 'Новости',
                  link: './error-page.html',
                },
                {
                  text: 'Соглашения',
                  subMenu: true,
                  subMenuItems: [
                    { text: 'Соглашения', link: './error-page.html' },
                    { text: 'Соглашения', link: './error-page.html' }
                  ]
                }
              ]
            })
        if (!logIn)
          .header__burger-authorization
            +button({ text: 'Войти', variant: 'fill-white', color: 'purple', size: 'medium', link: './sign-in.html' })
            +button({ text: 'Зарегистрироваться', color: 'white', size: 'medium', link: './registration.html' })
        else
          .header__burger-authorization-complete
            span.header__user='Юлий Цезарь'



