@import '~/scss/variables';
@import '~/scss/mixins';

.headers-footers {
  background: $uiKitPagesBackground;

  &__container {
    padding: rem(140) 0;
  }

  &__header {
    margin-bottom: rem(40);

    &-logged-in {
      margin-bottom: rem(40);
    }
  }

  &__footer-mobile {
    max-width: rem(768);
    margin: rem(40) auto;
  }
}
