extends ~/layouts/UI-kit-layout/UI-kit-layout
include ~/components/logo/logo
include ~/components/header/header
include ~/components/footer/footer
include ~/components/copyright-bar/copyright-bar

block variables
  -
    const title = 'Toxin headers-footers'
    const description = 'Toxin headers-footers description'
    const keywords = 'Toxin headers-footers keywords'
    const faviconPaths = {
      apple: 'static/favicon/inactive/apple-touch-icon.png',
      big: 'static/favicon/inactive/favicon-32x32.png',
      small: 'static/favicon/inactive/favicon-16x16.png',
      manifest: `static/favicon/inactive/site.webmanifest`,
      pinned: 'static/favicon/inactive/safari-pinned-tab.svg',
    }

block content
  .headers-footers
    +logo({ active: false, posAbsolute: true })
    .headers-footers__container
      .headers-footers__header-not-logged
        +header({ logoLink: 'change-me', firstMenuItemActive: true })
      .headers-footers__header-logged-in
        +header({ logIn: true, logoLink: 'change-me', firstMenuItemActive: true })
      .headers-footers__footer
        +footer({})
      .headers-footers__footer-mobile
        +footer({ mobile: true, mobileVisibile: true })
