@import '~normalize.css';
@import '~/scss/montserrat';
@import '~/scss/material-icons';
@import '@fortawesome/fontawesome-free/css/all.css';
@import '~/scss/variables';
@import '~/scss/mixins';
@import '~/scss/settings';
@import '~/components/logo/logo';
@import '~/components/text/text';
@import '@form-elements/text-field/text-field';
@import '@form-elements/button/button';
@import '~/components/menu/menu';
@import '~/components/header/header';
@import '~/components/copyright-bar/copyright-bar';
@import '~/components/footer/footer';

.headers-footers {
  background: #F4F4F6;
}

.headers-footers__container {
  padding-top: rem(140);
}

.headers-footers__header-not-logged {
  margin-bottom: rem(40);
}

.headers-footers__header-logged-in {
  margin-bottom: rem(40);
}

.headers-footers__footer-mobile {
  margin: rem(40) auto 0 auto;
  max-width: rem(768);
}
