extends ~/templates/UI-kit/base-UI-kit/base-UI-kit
include ~/templates/UI-kit/logo/logo
include ~/templates/UI-kit/headers-footers/header-not-logged/header-not-logged
include ~/templates/UI-kit/headers-footers/header-logged-in/header-logged-in
include ~/templates/UI-kit/headers-footers/footer/footer
include ~/templates/UI-kit/headers-footers/copyright-bar/copyright-bar

block variables
  -
    const title = 'Toxin headers-footers'
    const description = 'Toxin headers-footers description'
    const keywords = 'Toxin headers-footers keywords'
    const faviconPaths = {
      apple: 'static/favicon/inactive/apple-touch-icon.png',
      big: 'static/favicon/inactive/favicon-32x32.png',
      small: 'static/favicon/inactive/favicon-16x16.png',
      manifest: `static/favicon/inactive/site.webmanifest`,
      pinned: 'static/favicon/inactive/safari-pinned-tab.svg',
    }

block content 
  .headers-footers 
    +logo({ active: false, posAbsolute: true })
    .headers-footers__container
      .headers-footers__header-not-logged
        +headerNotLogged()
      .headers-footers__header-logged-in 
        +headerLoggedIn()
      .headers-footers__footer
        +footer()
      .headers-footers__footer-mobile
        .headers-footers__footer-mobile-logo
          +logo({ active: true })
        .headers-footers__footer-mobile-copyright-bar
          +copyrightBar({ mobile: true,
            items: [
              { fontAwesomeIconClass: 'fa-twitter' },
              { fontAwesomeIconClass: 'fa-facebook-square' },
              { fontAwesomeIconClass: 'fa-instagram' },
            ]
          })
