extends ~/layouts/UI-kit/UI-kit
include ~/components/header/header
include ~/components/footer/footer
include ~/components/footer-mobile/footer-mobile

block variables
  -
    const title = 'Toxin headers-footers'
    const description = 'Toxin headers-footers description'
    const keywords = 'Toxin headers-footers keywords'

    const pageParams = require('@pages/headers-footers/data/page-data.json')

block content
  .headers-footers
    .headers-footers__container
      .headers-footers__header
        +header(pageParams.header)
      .headers-footers__header-logged-in
        +header(pageParams.headerLoggedIn)
      .headers-footers__footer
        +footer(pageParams.footer)
      .headers-footers__footer-mobile
        +footer-mobile(pageParams.footerMobile)
