
block text-field-UI 
.text-field-UI
  .field-UI__description.text-field-UI__description 
    span.text-field-UI__heading text field
    span.text-field-UI__state default 
  block text-field
  input(type='text', placeholder='Email').text-field