.logo {
  display: flex;
}

.logo__link {
  display: flex;
}

.logo__link:focus-visible {
  outline: 2px solid $purple;
}

.logo--pos-absolute {
  position: absolute;
  left: rem(30);
  top: rem(30);
}

.logo--active {
  cursor: pointer;
}