@import '../../../node_modules/air-datepicker/air-datepicker.css';

.air-datepicker {
  visibility: hidden;
  min-width: rem(320);
  font-family: 'Montserrat', Arial, sans-serif;
  color: $darkShade50;
  font-size: rem(12);
  line-height: rem(14.63);
  border: 1px solid $darkShade25;
  border-radius: $mainBorderRadius;
  box-shadow: $secondaryBoxShadow;
  box-sizing: border-box;

  &:hover {
    border: $focusBorder;
  }

  &.-active- {
    visibility: visible;

    &:not(.-custom-position-) {
      transform: translate(0, 5px);
    }
  }

  &--pointer {
    display: none;
  }

  &-nav {
    border: none;
    padding: rem(15) rem(20) 0 rem(19);
  
    &--title {
      font-size: rem(19);
      line-height: rem(23.16);
      font-weight: bold;
      color: $darkShade100;
      transition: color 0.3s ease;
  
      &:active,
      &:hover {
        background: transparent;
        color: $purple;
      }
    }

    &--action {
      transition: opacity 0.3s ease;
    
      &:first-child {
        justify-content: flex-start;
      }
    
      &:last-child {
        justify-content: flex-end;
      }
    
      &:active,
      &:hover {
        opacity: 0.5;
        background: transparent;
      }
    }
  }

  &-body {
    &--day-name {
      height: rem(40);
      font-size: rem(12);
      line-height: rem(14.63);
      font-weight: bold;
      text-transform: none;
      color: $purple;
    }
  
    &--day-names {
      margin: 0;
    }

    &--cells {
      &.-days- {
        grid-auto-rows: auto;
      }
    }
  }

  &-arrow {
    color: $purple;
  }

  &--content {
    padding: rem(21) rem(19) rem(25) rem(20);
  }

  &-cell {
    &.-year- {
      &.-current- {
        background: $secondaryGradient;
        color: #fff;
        font-weight: bold;
      }

      &.-focus- {
        background: $primaryGradient;
        font-weight: bold;
        color: #fff;
      }

      &.-selected- {
        background: $primaryGradient;
        font-weight: bold;
        color: #fff;
      }

      &.-other-decade- {
        &.-focus- {
          color: #fff;
        }

        &.-selected- {
          background: $primaryGradient;
        }

        &.-in-range- {
          color: $darkShade25;
          background: $primaryGradientTransparent25;

          &.-focus- {
            color: #fff;
          }  
        }
      }

      &.-in-range- {
        background: $primaryGradientTransparent25;

        &.-current- {
          background: $secondaryGradientTransparent;
        }

        &.-focus- {
          background: $primaryGradient;
        }
      }

      &.-range-from-,
      &.-range-to- {
        background: $primaryGradient;
        border: none;
      }
    }

    &.-month- {
      &.-current- {
        background: $secondaryGradient;
        color: #fff;
        font-weight: bold;
      }

      &.-focus- {
        background: $primaryGradient;
        color: #fff;
        font-weight: bold;
      }
      &.-selected- {
        background: $primaryGradient;
        font-weight: bold;
        color: #fff;
      }

      &.-other-decade- {
        &.-focus- {
          color: #fff;
        }

        &.-selected- {
          background: $primaryGradient;
        }

        &.-in-range- {
          color: $darkShade25;
          background: $primaryGradientTransparent25;

          &.-focus- {
            color: #fff;
          }  
        }
      }

      &.-in-range- {
        background: $primaryGradientTransparent25;

        &.-current- {
          background: $secondaryGradientTransparent;
        }

        &.-focus- {
          background: $primaryGradient;
        }
      }

      &.-range-from-,
      &.-range-to- {
        background: $primaryGradient;
        border: none;
      }
    }

    &.-day- {
      height: rem(40);
      border-radius: 22px;
    
      &.-focus- {
        background: $primaryGradient;
        color: #fff;
        font-weight: bold;
      }
    
      &.-current- {
        color: #fff;
        font-weight: bold;
        background: $secondaryGradient;
    
        &.-in-range- {
          font-weight: normal;
          color: $darkShade50;
        }
    
        &.-focus- {
          background: $primaryGradient;
        }
      }
    
      &.-in-range- {
        background: none;
    
        &::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          background: $primaryGradientTransparent25;
          content: '';
        }
    
        &.-focus- {
          color: #fff;
          background: $primaryGradient;
          border-radius: 22px;
        }
      }
    
      &.-range-from- {
        background: $primaryGradient;
        border: none;
        border-radius: 22px;
        color: #fff;
        font-weight: bold;
    
        &::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          background: $primaryGradientTransparent25;
          border-radius: 50% 0 0 50%;
          content: '';
        }
      }
    
      &.-range-to- {
        background: $primaryGradient;
        border: none;
        border-radius: 22px;
        color: #fff;
        font-weight: bold;
    
        &::before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          background: $primaryGradientTransparent25;
          border-radius: 0 50% 50% 0;
          content: '';
        }
      }
    
      &.-range-from-.-range-to- {
        border-radius: 22px;
      }
    
      &.-selected- {
        color: #fff;
        font-weight: bold;
        background: $primaryGradient;
        border: none;
    
        &.-current- {
          color: #fff;
          background: $primaryGradient;
        }
    
        &.-focus- {
          background: $primaryGradientTransparent25;
        }
    
        &.-range-from-{
          &.-range-to- {
            &::after {
              border-radius: 22px;
            }
    
            &::before {
              border-radius: 22px;
            }
          }
        }
      }
    
      &.-other-month- {
        color: $darkShade25;
    
        &.-range-from-,
        &.-range-to- {
          color: #fff;
          background: $primaryGradientTransparent;
        }
    
        &.-focus- {
          color: #fff;
          background: $primaryGradientTransparent;
        }
    
        &.-in-range- {
          background: none;
          color: $darkShade25;
    
          &.-focus- {
            background: $primaryGradientTransparent;
            color: #fff;
          }
        }
    
        &.-selected-  {
          &.-focus- {
            background: $primaryGradientTransparent;
          }
        }
      }
    }
  }

  &--buttons {
    padding: 0 rem(19) rem(19) rem(19);
    border: none;
  }

  &-buttons {
    grid-auto-columns: auto;
    justify-content: space-between;
  }

  &-button {
    height: auto;
    width: auto;
    border-radius: 0;
    cursor: pointer;
    outline: none;
    font-size: rem(12);
    line-height: rem(15);
    font-family: inherit;
    font-weight: bold;
    color: $purple;
    text-transform: uppercase;
  
    &:focus,
    &:hover {
      text-decoration: $focusUnderline;
      color: $purple;
      background: none;
    }
  
    &:active {
      opacity: 0.5;
      background: none;
    }

    &--hidden {
      visibility: hidden;
    }
  }
}
