@import '../../../node_modules/air-datepicker/air-datepicker.css';

.air-datepicker {
  box-sizing: border-box;
  min-width: rem(320);
  color: $darkShade50;
  font-size: rem(12);
  font-family: Montserrat, Arial, sans-serif;
  line-height: rem(14.63);
  border: 1px solid $darkShade25;
  border-radius: $mainBorderRadius;
  box-shadow: $secondaryBoxShadow;
  visibility: hidden;

  &:hover {
    border: $focusBorder;
  }

  &.-active- {
    visibility: visible;

    &:not(.-custom-position-) {
      transform: translate(0, 5px);
    }
  }

  &.-inline- {
    visibility: visible;
  }

  &--pointer {
    display: none;
  }

  &-nav {
    padding: rem(15) rem(20) 0 rem(19);
    border: none;

    &--title {
      color: $darkShade100;
      font-weight: bold;
      font-size: rem(19);
      line-height: rem(23.16);
      transition: color 0.3s ease;

      &:active,
      &:hover {
        color: $purple;
        background: transparent;
      }
    }

    &--action {
      transition: opacity 0.3s ease;

      &:first-child {
        justify-content: flex-start;
      }

      &:last-child {
        justify-content: flex-end;
      }

      &:active,
      &:hover {
        background: transparent;
        opacity: 0.5;
      }
    }
  }

  &-body {
    &--day-name {
      height: rem(40);
      color: $purple;
      font-weight: bold;
      font-size: rem(12);
      line-height: rem(14.63);
      text-transform: none;
    }

    &--day-names {
      margin: 0;
    }

    &--cells {
      &.-days- {
        grid-auto-rows: auto;
      }
    }
  }

  &-arrow {
    color: $purple;
  }

  &--content {
    padding: rem(25) rem(19) rem(21) rem(20);
  }

  &-cell {
    &.-year- {
      &.-current- {
        color: #fff;
        font-weight: bold;
        background: $secondaryGradient;
      }

      &.-focus- {
        color: #fff;
        font-weight: bold;
        background: $primaryGradient;
      }

      &.-selected- {
        color: #fff;
        font-weight: bold;
        background: $primaryGradient;
      }

      &.-other-decade- {
        &.-focus- {
          color: #fff;
        }

        &.-selected- {
          background: $primaryGradient;
        }

        &.-in-range- {
          color: $darkShade25;
          background: $primaryGradientTransparent25;

          &.-focus- {
            color: #fff;
          }
        }
      }

      &.-in-range- {
        background: $primaryGradientTransparent25;

        &.-current- {
          background: $secondaryGradientTransparent;
        }

        &.-focus- {
          background: $primaryGradient;
        }
      }

      &.-range-from-,
      &.-range-to- {
        background: $primaryGradient;
        border: none;
      }
    }

    &.-month- {
      &.-current- {
        color: #fff;
        font-weight: bold;
        background: $secondaryGradient;
      }

      &.-focus- {
        color: #fff;
        font-weight: bold;
        background: $primaryGradient;
      }

      &.-selected- {
        color: #fff;
        font-weight: bold;
        background: $primaryGradient;
      }

      &.-other-decade- {
        &.-focus- {
          color: #fff;
        }

        &.-selected- {
          background: $primaryGradient;
        }

        &.-in-range- {
          color: $darkShade25;
          background: $primaryGradientTransparent25;

          &.-focus- {
            color: #fff;
          }
        }
      }

      &.-in-range- {
        background: $primaryGradientTransparent25;

        &.-current- {
          background: $secondaryGradientTransparent;
        }

        &.-focus- {
          background: $primaryGradient;
        }
      }

      &.-range-from-,
      &.-range-to- {
        background: $primaryGradient;
        border: none;
      }
    }

    &.-day- {
      height: rem(40);
      border-radius: 22px;

      &.-focus- {
        color: #fff;
        font-weight: bold;
        background: $primaryGradient;
      }

      &.-current- {
        color: #fff;
        font-weight: bold;
        background: $secondaryGradient;

        &.-in-range- {
          color: $darkShade50;
          font-weight: normal;
        }

        &.-focus- {
          background: $primaryGradient;
        }
      }

      &.-in-range- {
        background: none;

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          background: $primaryGradientTransparent25;
          content: '';
        }

        &.-focus- {
          color: #fff;
          background: $primaryGradient;
          border-radius: 22px;
        }
      }

      &.-range-from- {
        color: #fff;
        font-weight: bold;
        background: $primaryGradient;
        border: none;
        border-radius: 22px;

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          background: $primaryGradientTransparent25;
          border-radius: 50% 0 0 50%;
          content: '';
        }
      }

      &.-range-to- {
        color: #fff;
        font-weight: bold;
        background: $primaryGradient;
        border: none;
        border-radius: 22px;

        &::before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          background: $primaryGradientTransparent25;
          border-radius: 0 50% 50% 0;
          content: '';
        }
      }

      &.-range-from-.-range-to- {
        border-radius: 22px;
      }

      &.-selected- {
        color: #fff;
        font-weight: bold;
        background: $primaryGradient;
        border: none;

        &.-current- {
          color: #fff;
          background: $primaryGradient;
        }

        &.-focus- {
          background: $primaryGradientTransparent25;
        }

        &.-range-from- {
          &.-range-to- {
            &::after {
              border-radius: 22px;
            }

            &::before {
              border-radius: 22px;
            }
          }
        }
      }

      &.-other-month- {
        color: $darkShade25;

        &.-range-from-,
        &.-range-to- {
          color: #fff;
          background: $primaryGradientTransparent;
        }

        &.-focus- {
          color: #fff;
          background: $primaryGradientTransparent;
        }

        &.-in-range- {
          color: $darkShade25;
          background: none;

          &.-focus- {
            color: #fff;
            background: $primaryGradientTransparent;
          }
        }

        &.-selected- {
          &.-focus- {
            background: $primaryGradientTransparent;
          }
        }
      }
    }
  }

  &--buttons {
    padding: 0 rem(19) rem(19) rem(19);
    border: none;
  }

  &-buttons {
    grid-auto-columns: auto;
    justify-content: space-between;
  }

  &-button {
    width: auto;
    height: auto;
    color: $purple;
    font-weight: bold;
    font-size: rem(12);
    font-family: inherit;
    line-height: rem(15);
    text-transform: uppercase;
    border-radius: 0;
    outline: none;
    cursor: pointer;

    &:focus,
    &:hover {
      color: $purple;
      text-decoration: $focusUnderline;
      background: none;
    }

    &:active {
      background: none;
      opacity: 0.5;
    }

    &--hidden {
      visibility: hidden;
    }
  }

  &--size-small {
    min-width: rem(266);

    .air-datepicker {
      &-body {
        &--day-name {
          height: rem(32);
        }
      }

      &-cell {
        &.-day- {
          height: rem(32);
        }
      }
    }
  }
}
