.room-selection {
  @media screen and (max-width: 479px) {
    max-width: rem(380);
  }

  &__heading {
    margin-bottom: rem(22);
  }

  &__rooms {
    display: grid;
    grid-row-gap: rem(20);
    grid-column-gap: rem(12);
    grid-template-columns: repeat(auto-fit, rem(270));
    justify-content: center;
    max-width: rem(835);
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;

    // @media screen and (max-width: 1023px) {
    //   max-width: rem(860);
    // }

    @media screen and (max-width: 767px) {
      max-width: rem(580);
    }

    // @media screen and (max-width: 479px) {
    //   max-width: rem(380);
    // }
  }

  // &__room {
  //   margin-bottom: rem(22);

  //   &:nth-child(1),
  //   &:nth-child(2),
  //   &:nth-child(3) {
  //     margin-bottom: rem(21);
  //   }

  //   &:nth-child(10),
  //   &:nth-child(11),
  //   &:nth-child(12) {
  //     margin-bottom: 0;
  //   }

  //   @media screen and (max-width: 767px) {
  //     &:nth-child(10) {
  //       margin-bottom: rem(22);
  //     }
  //   }

  //   @media screen and (max-width: 479px) {
  //     &:nth-child(11) {
  //       margin-bottom: rem(22);
  //     }
  //   }
  // }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: rem(41);
  }
}
