include ~/components/text/text
include ~/components/room-card/room-card
include ~/components/pagination/pagination

mixin rooms()
  -
    const rooms = [
      {
        roomNumber: '888',
        roomPrice: '9 990₽',
        roomReviews: '145',
        luxe: true,
        sliderClassForJs: 'js-room-slider',
        ratingClassForJs: 'js-room-rating-0',
        roomImgs: [
          'room-888.jpg',
          'room-888.jpg',
          'room-888.jpg',
          'room-888.jpg',
        ]
      },
      {
        roomNumber: '840',
        roomPrice: '9 900₽',
        roomReviews: '65',
        sliderClassForJs: 'js-room-slider',
        ratingClassForJs: 'js-room-rating-1',
        roomImgs: [
          'room-840.jpg',
          'room-840.jpg',
          'room-840.jpg',
          'room-840.jpg',
        ]
      },
      {
        roomNumber: '980',
        roomPrice: '8 500₽',
        roomReviews: '35',
        luxe: true,
        sliderClassForJs: 'js-room-slider',
        ratingClassForJs: 'js-room-rating-2',
        roomImgs: [
          'room-980.jpg',
          'room-980.jpg',
          'room-980.jpg',
          'room-980.jpg',
        ]
      },
      {
        roomNumber: '856',
        roomPrice: '7 300₽',
        roomReviews: '19',
        sliderClassForJs: 'js-room-slider',
        ratingClassForJs: 'js-room-rating-3',
        roomImgs: [
          'room-856.jpg',
          'room-856.jpg',
          'room-856.jpg',
          'room-856.jpg',
        ]
      },
      {
        roomNumber: '740',
        roomPrice: '6 000₽',
        roomReviews: '44',
        sliderClassForJs: 'js-room-slider',
        ratingClassForJs: 'js-room-rating-4',
        roomImgs: [
          'room-740.jpg',
          'room-740.jpg',
          'room-740.jpg',
          'room-740.jpg',
        ]
      },
      {
        roomNumber: '982',
        roomPrice: '5 800₽',
        roomReviews: '56',
        sliderClassForJs: 'js-room-slider',
        ratingClassForJs: 'js-room-rating-5',
        roomImgs: [
          'room-982.jpg',
          'room-982.jpg',
          'room-982.jpg',
          'room-982.jpg',
        ]
      },
      {
        roomNumber: '678',
        roomPrice: '5 500₽',
        roomReviews: '45',
        sliderClassForJs: 'js-room-slider',
        ratingClassForJs: 'js-room-rating-6',
        roomImgs: [
          'room-678.jpg',
          'room-678.jpg',
          'room-678.jpg',
          'room-678.jpg',
        ]
      },
      {
        roomNumber: '450',
        roomPrice: '5 300₽',
        roomReviews: '39',
        sliderClassForJs: 'js-room-slider',
        ratingClassForJs: 'js-room-rating-7',
        roomImgs: [
          'room-450.jpg',
          'room-450.jpg',
          'room-450.jpg',
          'room-450.jpg',
        ]
      },
      {
        roomNumber: '350',
        roomPrice: '5 000₽',
        roomReviews: '77',
        sliderClassForJs: 'js-room-slider',
        ratingClassForJs: 'js-room-rating-8',
        roomImgs: [
          'room-350.jpg',
          'room-350.jpg',
          'room-350.jpg',
          'room-350.jpg',
        ]
      },
      {
        roomNumber: '666',
        roomPrice: '5 000₽',
        roomReviews: '25',
        sliderClassForJs: 'js-room-slider',
        ratingClassForJs: 'js-room-rating-9',
        roomImgs: [
          'room-666.jpg',
          'room-666.jpg',
          'room-666.jpg',
          'room-666.jpg',
        ]
      },
      {
        roomNumber: '444',
        roomPrice: '5 000₽',
        roomReviews: '15',
        sliderClassForJs: 'js-room-slider',
        ratingClassForJs: 'js-room-rating-10',
        roomImgs: [
          'room-444.jpg',
          'room-444.jpg',
          'room-444.jpg',
          'room-444.jpg',
        ]
      },
      {
        roomNumber: '352',
        roomPrice: '5 000₽',
        roomReviews: '55',
        sliderClassForJs: 'js-room-slider',
        ratingClassForJs: 'js-room-rating-11',
        roomImgs: [
          'room-352.jpg',
          'room-352.jpg',
          'room-352.jpg',
          'room-352.jpg',
        ]
      },
    ]

  section.rooms
    .rooms__heading
      +text({ text: 'Номера, которые мы для вас подобрали', type: 'h1', color: 'dark-shade-100', bold: true })
    ul.rooms__rooms
      each room in rooms
        li.rooms__room
          a(class='rooms__room-card' href='./room-details.html')
            +roomCard(room)
    .rooms__pagination
      +pagination({ classForJs: 'js-rooms-pagination' })
