include ~/templates/UI-kit/form-elements/features/features
include ~/templates/UI-kit/form-elements/comments/comments

mixin room-info()
  .room-info 
    .room-info__container 
      .room-info__features
        +features({
          items: [
            { icon: 'insert_emoticon', title: 'Комфорт', description: 'Шумопоглощающие стены', withBorder: true },
            { icon: 'location_city', title: 'Удобство', description: 'Окно в каждой из спален', withBorder: true },
          ]})
      .room-info__comments 
        +comments({
          items: [
            {
              name: 'Мурад Сарафанов',
              avatar: '/src/templates/UI-kit/form-elements/comments/img/murad.jpg',
              time: '5 дней назад',
              text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
              likeButtonCount: 12,
              likeButtonIsActived: true,
              likeButtonClassForJs: 'js-like-button' }
          ]
        })
  

      