include ~/components/features/features
include ~/components/comment/comment

mixin room-info(roomInfo = {})
  .room-info
    .room-info__container
      .room-info__features
        +features(roomInfo.features)
      .room-info__comments
        +comment(roomInfo.comment)
