@import '~/components/features/features';
@import '~/components/comments/comments';

.room-info {
  &__container {
    display: flex;
    width: 100%;
  }

  &__features {
    min-width: rem(280);
    margin-right: rem(166);
  }

  &__comments {
    margin-top: rem(11);
  }
}
