.types {
  &__item {
    margin-bottom: rem(52);
  }

  &__item:nth-child(3) {
    margin-bottom: rem(46);
  }

  &__item:last-child {
    margin-bottom: 0;
  }
}

.type {
  display: flex;

  &--h1 {
    color: $darkShade100;
    font-weight: 700;
    font-size: rem(24);
    line-height: rem(29);
  }

  &--h2 {
    color: $darkShade100;
    font-weight: 700;
    font-size: rem(19);
    line-height: rem(23.5);
  }

  &--h3 {
    color: $darkShade100;
    font-weight: 700;
    font-size: rem(12);
    line-height: rem(15);
  }

  &__header {
    width: 37px;
    margin-right: rem(30);
    color: $darkShade25;
    font-weight: normal;
    text-align: right;
  }

  &__header--upper {
    text-transform: uppercase;
  }

  &__text--h1 {
    max-width: rem(370);
  }

  &__text--h2 {
    max-width: rem(312);
  }

  &__text--h3 {
    text-transform: uppercase;
  }

  &__text--body {
    max-width: rem(301);
  }
}
