mixin type(options)
  -
    const { type, typeDescriptionClass, typeDescription, typeContentHasUpper } = options
    let typeClass = 'type' + ' types__type'
    let typeContentClass = 'type__type'

    if (type) {
      typeClass += ` type--with-type-${type}`
    }

    if (typeContentHasUpper) {
      typeContentClass += ' type__type--upper'
    }

  div(class=typeClass)
    p(class=typeContentClass)=type
    p(class=typeDescriptionClass)=typeDescription
