include ~/components/text-field/text-field
include ~/components/dropdown/dropdown
include ~/components/date-dropdown/date-dropdown

mixin fields(fields = {})
  section.fields
    .fields__container
      each textField in fields.textFields
        .fields__text-field
          +text-field(textField)
      .fields__dropdown
        +dropdown(fields.dropdown)
      .fields__masked-text-field
        +text-field(fields.maskedTextField)
      .fields__date-dropdown
        +date-dropdown(fields.dateDropdown)
      .fields__filter-date-dropdown
        +date-dropdown(fields.filterDateDropdown)
      .fields__subscription-text-field
        +text-field(fields.subscriptionTextField)
