include ~/components/text-field/text-field
include ~/components/dropdown/dropdown
include ~/components/date-dropdown/date-dropdown

mixin fields()
  section.fields
    .fields__container
      .fields__text-field
        +text-field({
          hasTitle: true,
          title: 'text field',
          subtitle: 'default',
          type: 'text',
          name: 'textField',
          placeholder: 'Email'
        })
      .fields__text-field
        +text-field({
          hasTitle: true,
          title: 'text field',
          subtitle: 'hover / focus',
          focused: true,
          type: 'text',
          name: 'textFieldFocused',
          placeholder: 'Email',
          value: 'This is pretty awesome'
        })
      .fields__dropdown
        +dropdown({ hasTitle: true, title: 'dropdown', value: 'Сколько гостей' })
      .fields__masked-text-field
        +text-field({
          hasTitle: true,
          title: 'masked text field',
          type: 'text',
          name: 'date',
          placeholder: 'ДД.ММ.ГГГГ',
          classForJs: 'js-masked-text-field'
        })
      .fields__date-dropdown
        +date-dropdown({
            hasTwoInputs: true,
            type: 'text',
            dataType: 'date-dropdown-start',
            dataTypeEnd: 'date-dropdown-end',
            name: 'date-start',
            nameEnd: 'date-end',
            placeholder: 'ДД.ММ.ГГГГ',
            hasArrow: true,
            isReadonly: true,
            title: 'date dropdown',
            titleEnd: 'date dropdown',
            classForJs: 'js-date-dropdown',
            props: {
              hasTwoInputs: true,
              initialDates: ['2019-08-19', '2019-08-23'],
            },
          })
      .fields__filter-date-dropdown
        +date-dropdown({
          type: 'text',
          dataType: 'filter-date-dropdown',
          name: 'date',
          placeholder: 'ДД.ММ - ДД.ММ',
          hasArrow: true,
          readonly: true,
          isLowerCase: true,
          title: 'filter date dropdown',
          classForJs: 'js-filter-date-dropdown',
          props: {
            initialDates: ['2019-08-19', '2019-08-23'],
            size: 'small',
          },
        })
      .fields__subscription-text-field
        +text-field({
          hasTitle: true,
          title: 'subscription text field',
          type: 'text',
          name: 'subscription',
          placeholder: 'Email',
          isSubscribe: true
        })
