include ~/components/heading/heading
include ~/components/checkbox-list/checkbox-list
include ~/components/bullet-list/bullet-list

mixin checkboxs(checkboxs = {})
  .checkboxs
    .checkboxs__container
      .checkboxs__expandable-checkboxs
        each checkboxList in checkboxs.checkboxsLists
          .checkboxs__expandable-checkbox
            +checkbox-list(checkboxList)
      .checkboxs__rich-checkboxs
        +checkbox-list(checkboxs.richCheckboxList)
      .checkboxs__bullet-list
        .checkboxs__bullet-list-heading
          +heading(checkboxs.bulletList.heading)
        .checkboxs__bullet-list-wrapper
          +bullet-list(checkboxs.bulletList.items)
