@import '~/components/checkbox-list/checkbox-list';
@import '~/components/bullet-list/bullet-list';

.checkboxs__container {
  display: flex;
  margin-bottom: rem(40.5);
}

.checkboxs__expandable-checkboxs {
  width: 266px;
  margin-right: rem(180);
}

.checkboxs__expandable-checkbox:first-child {
  margin-bottom: rem(20.5);
}

.checkboxs__rich-checkboxs {
  margin-right: rem(126.5);
  margin-top: rem(15);
}

.checkboxs__bullet-lists {
  margin-top: rem(15);
}

.checkboxs__bullet-lists-title {
  margin-bottom: rem(13);
}
