@import '~/scss/variables';
@import '~/scss/mixins';

.bullet-list {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    margin-bottom: rem(10);
    margin-left: rem(21);
    color: $darkShade50;

    &:last-child {
      margin-bottom: 0;
    }

    &-text {
      color: $darkShade75;

      &::before {
        position: absolute;
        top: rem(7);
        left: rem(-21);
        width: rem(10);
        height: rem(10);
        background: $darkShade25;
        border-radius: 50%;
        content: '';
      }
    }
  }
}
