mixin features(options)
  -
    const { items } = options
    let iconClass = 'features__item-icon material-icons'
  
  .features 
    ul.features__list 
      each item in items 
        -
          const { icon, title, description, withBorder } = item
          let itemClass = 'features__item'

          if (withBorder) {
            itemClass += ' features__item--with-border'
          }
        
        li(class=itemClass)
          .features__item-icon-wrapper 
            span(class=iconClass)=icon 
          .features__item-text-wrapper
            p.features__item-title=title
            p.features__item-description=description
  
