include ~/components/dropdown/dropdown
include ~/components/date-dropdown/date-dropdown
include ~/components/range-slider/range-slider
include ~/components/checkbox-list/checkbox-list

mixin sidebar({} = {})
  aside.sidebar.js-sidebar
    .sidebar__filter
      .sidebar__date-dropdown
        +date-dropdown({
          type: 'text',
          dataType: 'filter-date-dropdown',
          name: 'date',
          placeholder: 'ДД.ММ - ДД.ММ',
          hasArrow: true,
          readonly: true,
          isLowerCase: true,
          title: 'Даты пребывания в отеле',
          classForJs: 'js-sidebar-date-dropdown',
          props: {
            initialDates: ['2019-08-19', '2019-08-23'],
            size: 'small',
          },
        })
      .sidebar__dropdown-guests
        +dropdown({
          hasTitle: true,
          title: 'Гости',
          classForJs: 'js-sidebar-dropdown-guests',
          withButtons: true,
          name: 'guests',
          placeholder: 'Сколько гостей',
          items: [
            { text: 'Взрослые', counter: '2', dataId: 'adults' },
            { text: 'Дети', counter: '0', dataId: 'children' },
            { text: 'Младенцы', counter: '1', dataId: 'babies' },
          ]
        },
        {
          type: 'guests',
          maxLengthItems: {
            item0: 10,
            item1: 15,
            item2: 6,
          },
          plurals: {
            guests: ['гость', 'гостя', 'гостей'],
            babies: ['младенец', 'младенца', 'младенцев'],
          },
        })
      .sidebar__range-slider
        +range-slider({
          title: 'Диапазон цены',
          description: 'Стоимость за сутки пребывания в номере',
          classForJs: 'js-sidebar-range-slider',
        },
        {
          min: 0,
          max: 15000,
          step: 50,
          minStartValue: 5000,
          maxStartValue: 10000,
        })
      .sidebar__checkboxs
        +checkbox-list({
          title: 'Правила дома',
          items: [
            { title: 'Можно курить', name: 'smoke' },
            { title: 'Можно с питомцами', name: 'pets', isChecked: true },
            { title: 'Можно пригласить гостей (до\u00A010\u00A0человек)', name: 'guests', isChecked: true },
          ]
        })
      .sidebar__rich-checkboxs
        +checkbox-list({
          title: 'Доступность',
          isRich: true,
          items: [
            {
              title: 'Широкий коридор',
              description: `Ширина коридоров в номере не\u00A0менее 91 см.`,
              name: 'wide-corridor',
            },
            {
              title: 'Помощник для инвалидов',
              description: `На 1 этаже вас встретит специалист и\u00A0проводит до номера.`,
              name: 'assistant-for-disabled-persons',
            },
          ]
        })
      .sidebar__dropdown-comfort
        +dropdown({
          hasTitle: true,
          title: 'Удобства номера',
          placeholder: 'Удобства номера',
          name: 'comfort',
          classForJs: 'js-sidebar-dropdown-comfort',
          items: [
            { text: 'Спальни', counter: '2', dataId: 'bedrooms' },
            { text: 'Кровати', counter: '2', dataId: 'beds' },
            { text: 'Ванные комнаты', counter: '0', dataId: 'bathrooms' },
          ]
        },
        {
          type: 'comfort',
          maxLengthItems: {
            item0: 10,
            item1: 15,
            item2: 6,
          },
          plurals: {
            bedrooms: ['спальня', 'спальни', 'спален'],
            beds: ['кровать', 'кровати', 'кроватей'],
            bathrooms: ['ванная комната', 'ванные комнаты', 'ванных комнат'],
          },
        })
      .sidebar__expandable-checkboxs
        +checkbox-list({
          title: 'Дополнительные удобства',
          expandable: true,
          classForJs: 'js-sidebar-checkbox-list-comfort',
          items: [
            { title: 'Завтрак', name: 'breakfast' },
            { title: 'Письменный стол', name: 'table', isChecked: true },
            { title: 'Стул для кормления', name: 'chair', isChecked: true },
            { title: 'Кроватка', name: 'bed', isChecked: true },
            { title: 'Телевизор', name: 'tv1' },
            { title: 'Шампунь', name: 'shampoo1' },
            { title: 'Телевизор', name: 'tv2' },
            { title: 'Шампунь', name: 'shampoo2' },
          ]
        })
    .sidebar__button.js-sidebar__button(tabindex='0')
