@import '~/scss/variables';
@import '~/scss/mixins';

.features {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    margin-bottom: rem(20);

    &--with-border {
      border-bottom: $featuresBorder;
      padding-bottom: rem(13);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-icon {
      font-size: rem(48);
      user-select: none;

      &--purple-gradient {
        @include text-gradient-fill($primaryGradient);
      }

      &-wrapper {
        margin-right: rem(10);
      }
    }

    &-description {
      color: $darkShade75;
    }

    &-title {
      margin: 0;
      font-weight: bold;
    }

    &-subtitle {
      margin: 0;
    }
  }
}
