mixin types( typeList=[] )
  -
    const types = [ 'h1', 'h2', 'h3', 'body' ]

  .types
    .types__container
      ul.types__list

        each item in typeList
          -
            const { type, typeHeaderHasUpper } = item
            const typeModifier = types.includes(type) && type
            let typeHeaderClass = `type__header`

            if (typeHeaderHasUpper) typeHeaderClass += ` type__header--upper`

          li(class=`type types__item type--${typeModifier}`)
            p(class=typeHeaderClass)=item.title
            p(class=`type__text type__text--${typeModifier}`)=item.text
