mixin types( typeList=[] )
  -
    const types = [ 'h1', 'h2', 'h3', 'body' ]

  .types
    .types__container
      ul.types__list

        each item in typeList
          -
            const { type, typeHeaderHasUpper } = item
            const itemModifier = types.includes(type) && type
            const itemHeaderUpper =
              typeHeaderHasUpper && 'types__item-header--upper'

          li(class=`types__item types__item--${itemModifier}`)
            p(class=['types__item-header', itemHeaderUpper])=item.title
            p&attributes({
              class: [
                'types__item-text',
                `types__item-text--${itemModifier}`
              ]
            })=item.text
