include ~/components/logo/logo
include ~/components/heading/heading
include ~/components/text-field/text-field
include ~/components/menu/menu
include ~/components/copyright-bar/copyright-bar

mixin footer({ logoLink } = {})
  footer.footer
    .footer__widgets
      .footer__widgets-container
        .footer__company
          +logo({ active: true, link: logoLink })
          p.footer__company-presentation
            | Бронирование номеров в лучшем отеле 2019 года по версии
            | ассоциации «Отельные взгляды»
        .footer__menu
          .footer__menu-heading
            +heading({
              title: 'Навигация',
              titleType: 'h3',
              titleColor: 'dark-shade-100',
              titleBold: true,
              titleHasUpper: true
            })
          +menu({ 
            options: {
              column: true
            },
            items: [
              { text: 'О нас', link: './error-page.html' },
              { text: 'Новости', link: './error-page.html' },
              { text: 'Служба поддержки', link: './error-page.html' },
              { text: 'Услуги', link: './error-page.html' },
            ]
          })
        .footer__menu
          .footer__menu-heading
            +heading({
              title: 'О нас',
              titleType: 'h3',
              titleColor: 'dark-shade-100',
              titleBold: true,
              titleHasUpper: true
            })
          +menu({ 
            options: {
              column: true
            },
            items: [
              { text: 'О сервисе', link: './error-page.html' },
              { text: 'Наша команда', link: './error-page.html' },
              { text: 'Вакансии', link: './error-page.html' },
              { text: 'Инвесторы', link: './error-page.html' },
            ]
          })
        .footer__menu
          .footer__menu-heading
            +heading({
              title: 'Служба поддержки',
              titleType: 'h3',
              titleColor: 'dark-shade-100',
              titleBold: true,
              titleHasUpper: true
            })
          +menu({
            options: {
              column: true
            },
            items: [
              { text: 'Соглашения', link: './error-page.html' },
              { text: 'Сообщества', link: './error-page.html' },
              { text: 'Связь с нами', link: './error-page.html' },
            ]
          })
        .footer__subscription
          .footer__subscription-heading
            +heading({
              title: 'Подписка',
              titleType: 'h3',
              titleColor: 'dark-shade-100',
              titleBold: true,
              titleHasUpper: true
            })
          p.footer__subscription-text
            | Получайте специальные предложения и новости сервиса
          form.footer__subscription-form
            +text-field({
              type: 'email',
              placeholder: 'Email',
              name: 'email',
              isSubscribe: true,
              autocomplete: 'on',
            })
    .footer__copyright-bar
      +copyright-bar({
        socialItems: [
          {
            fontAwesomeIconClass: 'fa-twitter',
            link: 'https://twitter.com'
          },
          {
            fontAwesomeIconClass: 'fa-facebook-square',
            link: 'https://www.facebook.com'
          },
          {
            fontAwesomeIconClass: 'fa-instagram',
            link: 'https://www.instagram.com'
          },
        ]
      })