@import '~/scss/variables';
@import '~/scss/mixins';

.footer {
  flex: 0 0 auto;

  @media screen and (max-width: 1023px) {
    display: none;
  }

  &__widgets {
    padding: rem(100) rem(30);
    background: $headerFooterBackground;
    box-shadow: $footerWidgetsShadow;

    &-container {
      display: flex;
      justify-content: space-between;
      max-width: rem(1160);
      margin: 0 auto;
    }
  }

  &__company {
    max-width: rem(260);
    margin-right: rem(40);

    &-presentation {
      margin-top: rem(17);
    }

    @media screen and (max-width: 1439px) {
      margin-right: 0;
    }
  }

  &__menu {
    & > .text {
      margin-top: rem(4);
      margin-bottom: rem(22);
    }

    &:nth-child(2) {
      margin-right: rem(57.5);
    }

    &:nth-child(3) {
      margin-right: rem(93);
    }

    &:nth-child(4) {
      margin-right: rem(51.8);
    }

    @media screen and (max-width: 1439px) {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        margin-right: 0;
      }
    }
  }

  &__subscription {
    max-width: rem(260);
    margin-top: rem(4);

    & > .text {
      margin-bottom: rem(18);
    }

    &-text {
      margin-bottom: rem(23.5);
    }
  }

  &__copyright-bar {
    padding: rem(23) rem(30);
    background: $headerFooterBackground;
    border-top: 1px solid $uiKitPagesBackground;
    box-shadow: $secondaryBoxShadow;
  }
}
