.checkbox-button {
  max-width: rem(222);

  line-height: 20px;
  color: $darkShade50
}

.checkbox-buttons__item {
  margin-bottom: 10px;
}

.checkbox-buttons__item:last-child {
  margin-bottom: 0;
}

.checkbox-button__label {
  display: inline-block;
  position: relative;
  margin-left: 30px;
  cursor: pointer;
}

.checkbox-button__input {
  position: absolute;
  appearance: none;
  outline: none;
}

.checkbox-button__span::before {
  position: absolute;
  top: 0;
  left: -30px;

  content: '';
  width: 20px;
  height: 20px;
  
  border: 1px solid $darkShade25;
  border-radius: 4px;
}

.checkbox-button__input:checked + .checkbox-button__span::before {
  background: url(form-elements/checkbox-button/checkbox-checked.svg) no-repeat center;
  border-color: $purple;
}

.checkbox-button__input:focus + .checkbox-button__span::before {
  box-shadow: 0 0 0 1px $purple;
}

.checkbox-button__input:focus + .checkbox-button__span {
  color: $darkShade75;
}

.checkbox-button__label:hover > .checkbox-button__span::before {
  box-shadow: 0 0 0 1px $purple;
}

.checkbox-button__label:hover {
  color: $darkShade75;
}
