.checkbox-button__input {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;
}

.checkbox-button__input:checked ~ .checkbox-button__label::before {
  background: url(form-elements/checkbox-button/checkbox-checked.svg) no-repeat center;
  border-color: #BC9CFF;
}

.checkbox-button__container {
  margin-bottom: 10px;
}

.checkbox-button:last-of-type > .checkbox-button__container {
  margin-bottom: 0;
}

.checkbox-button__label {
  display: flex;
  
  max-width: 222px;

  cursor: pointer;
  font-size: 14px;
  line-height: 18px;  
  color: rgba(31, 32, 65, 0.5);
}

.checkbox-button__label::before {
  flex-shrink: 0;
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  margin-right: 10px;
}

.label-checkbox__text {
  margin-top: 1px;
}
