.checkbox-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.checkbox__heading {
  margin-bottom: 12px;
}

.checkbox-heading__button {
  background: transparent;
  border: none;
  color: $darkShade50;
  cursor: pointer;
}

.checkbox-button {
  max-width: 222px;

  line-height: 20px;
  color: $darkShade50
}

.checkbox-buttons--hidden {
  display: none;
}

.checkbox-button--wide {
  max-width: 266px;
}

.checkbox-buttons__item {
  margin-bottom: 10px;
}

.checkbox-buttons__item:last-child {
  margin-bottom: 0;
}

.checkbox-button__label {
  display: inline-block;
  position: relative;
  margin-left: 30px;
  cursor: pointer;
}

.checkbox-button__input {
  position: absolute;
  appearance: none;
  outline: none;
}

.checkbox-button__span::before {
  position: absolute;
  top: 0;
  left: -30px;

  content: '';
  width: 20px;
  height: 20px;
  
  border: 1px solid $darkShade25;
  border-radius: 4px;
}

.checkbox-button__input:checked + .checkbox-button__span::before {
  background: url(form-elements/checkbox-button/checkbox-checked.svg) no-repeat center;
  border-color: $purple;
}

.checkbox-button__input:focus-visible + .checkbox-button__span::before {
  outline: 2px solid $purple;
}

.checkbox-button__input:focus-visible + .checkbox-button__span {
  color: $darkShade75;
}

.checkbox-button__label:hover > .checkbox-button__span::before {
  border-color: $purple;
}

.checkbox-button__label:hover {
  color: $darkShade75;
}

.checkbox-button__description {
  display: inline-block;
  margin-top: 3px;
  white-space: pre-line;
}

.checkbox-button__rich-item {
  margin-bottom: 8px;
}
