.radio-buttons__list {
  display: flex;
  max-width: rem(220);
}

.radio-buttons__item {
  max-width: rem(98);
  line-height: rem(20);
  color: $darkShade50
}

.radio-buttons__item:first-child {
  margin-right: rem(20);
}

.radio-buttons__item-label {
  display: inline-block;
  position: relative;
  margin-left: rem(30);
  cursor: pointer;
}

.radio-buttons__item-label:hover {
  color: $darkShade75;
}

.radio-buttons__item-input {
  position: absolute;
  appearance: none;
  outline: none;
}

.radio-buttons__item-text::before {
  position: absolute;
  top: 0;
  left: rem(-30);

  content: '';
  width: rem(20);
  height: rem(20);
  
  border: 1px solid $darkShade25;
  border-radius: 10px;
}

.radio-buttons__item-text::after {
  display: none;
  position: absolute;
  top: rem(4);
  left: rem(-26);

  content: '';
  width: rem(12);
  height: rem(12);

  border-radius: 50%;
  background: $primaryGradient;
}

.radio-buttons__item-input:checked + .radio-buttons__item-text::after {
  display: block;
}

.radio-buttons__item-input:checked + .radio-buttons__item-text::before {
  border-color: $purple;
}

.radio-buttons__item-input:focus-visible + .radio-buttons__item-text::before {
  outline: 2px solid $purple;
}

.radio-buttons__item-input:checked + .radio-buttons__item-text {
  color: $darkShade75;
}

.radio-buttons__item-label:hover > .radio-buttons__item-text::before {
  border-color: $purple;
}