.radio-buttons {
  display: flex;
  max-width: rem(220);
}

.radio-button {
  max-width: rem(98);

  line-height: 20px;
  color: $darkShade50
}

.radio-button__item:first-child {
  margin-right: 20px;
}

.radio-button__label {
  display: inline-block;
  position: relative;
  margin-left: 30px;
  cursor: pointer;
}

.radio-button__input {
  position: absolute;
  appearance: none;
  outline: none;
}

.radio-button__span::before {
  position: absolute;
  top: 0;
  left: -30px;

  content: '';
  width: 20px;
  height: 20px;
  
  border: 1px solid $darkShade25;
  border-radius: 10px;
}

.radio-button__span::after {
  display: none;
  position: absolute;
  top: 4px;
  left: -26px;

  content: '';
  width: 12px;
  height: 12px;

  border-radius: 50%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.radio-button__input:checked + .radio-button__span::after {
  display: block;
}

.radio-button__input:checked + .radio-button__span::before {
  border-color: $purple;
}

.radio-button__input:focus + .radio-button__span::before {
  box-shadow: 0 0 0 1px $purple;
}

.radio-button__input:checked + .radio-button__span {
  color: $darkShade75;
}

.radio-button__label:hover > .radio-button__span::before {
  box-shadow: 0 0 0 1px $purple;
}

.radio-button__label:hover {
  color: $darkShade75;
}
