.radio-buttons__list {
  display: flex;
  max-width: rem(220);
}

.radio-button {
  max-width: rem(98);

  line-height: rem(20);
  color: $darkShade50
}

.radio-button__item:first-child {
  margin-right: rem(20);
}

.radio-button__label {
  display: inline-block;
  position: relative;
  margin-left: rem(30);
  cursor: pointer;
}

.radio-button__input {
  position: absolute;
  appearance: none;
  outline: none;
}

.radio-button__span::before {
  position: absolute;
  top: 0;
  left: rem(-30);

  content: '';
  width: rem(20);
  height: rem(20);
  
  border: 1px solid $darkShade25;
  border-radius: 10px;
}

.radio-button__span::after {
  display: none;
  position: absolute;
  top: rem(4);
  left: rem(-26);

  content: '';
  width: rem(12);
  height: rem(12);

  border-radius: 50%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.radio-button__input:checked + .radio-button__span::after {
  display: block;
}

.radio-button__input:checked + .radio-button__span::before {
  border-color: $purple;
}

.radio-button__input:focus-visible + .radio-button__span::before {
  outline: 2px solid $purple;
}

.radio-button__input:checked + .radio-button__span {
  color: $darkShade75;
}

.radio-button__label:hover > .radio-button__span::before {
  border-color: $purple;
}

.radio-button__label:hover {
  color: $darkShade75;
}
