include ~/templates/UI-kit/logo/logo
include ~/templates/UI-kit/headers-footers/menu/menu
include ~/templates/UI-kit/form-elements/button/button

mixin header(options)
  -
    const { logIn, logoLink, firstMenuItemActive } = options 

  header.header 
    .header__container
      +logo({ active: true, link: logoLink })
      .header__menu-wrapper
        .header__menu
          +menu({
              items: [
                {
                  linkText: 'О нас',
                  link: 'change-me',
                  isActive: firstMenuItemActive,
                },
                {
                  linkText: 'Услуги',
                  subMenu: true,
                  subItems: [
                    { subLinkText: 'Услуги', subLink: 'change-me' },
                    { subLinkText: 'Услуги', subLink: 'change-me' }
                  ]
                },
                {
                  linkText: 'Вакансии',
                  link: 'change-me',
                },
                {
                  linkText: 'Новости',
                  link: 'change-me',
                },
                {
                  linkText: 'Соглашения',
                  subMenu: true,
                  subItems: [
                    { subLinkText: 'Соглашения', subLink: 'change-me' },
                    { subLinkText: 'Соглашения', subLink: 'change-me' }
                  ]
                }
              ]
            })
        if (!logIn)
          .header__authorization
            +button({ text: 'Войти', isLink: true, variant: 'border', size: 'medium', link: 'change-me' })
            +button({ text: 'Зарегистрироваться', isLink: true, size: 'medium', link: 'change-me' })
        else
          .header__authorization-complete
            span.header__user='Юлий Цезарь'
    .header__burger-container
      div(class='header__burger-button js-header-burger-button', tabindex='0')
        .header__burger-line.js-header-burger-line
        .header__burger-line.js-header-burger-line
        .header__burger-line.js-header-burger-line
        .header__burger-line.js-header-burger-line
      .header__burger-menu-wrapper.js-header-burger-menu-wrapper
        .header__burger-menu
          +menu({
              items: [
                {
                  linkText: 'О нас',
                  link: 'change-me',
                  isActive: true,
                },
                {
                  linkText: 'Услуги',
                  subMenu: true,
                  subItems: [
                    { subLinkText: 'Услуги', subLink: 'change-me' },
                    { subLinkText: 'Услуги', subLink: 'change-me' }
                  ]
                },
                {
                  linkText: 'Вакансии',
                  link: 'change-me',
                },
                {
                  linkText: 'Новости',
                  link: 'change-me',
                },
                {
                  linkText: 'Соглашения',
                  subMenu: true,
                  subItems: [
                    { subLinkText: 'Соглашения', subLink: 'change-me' },
                    { subLinkText: 'Соглашения', subLink: 'change-me' }
                  ]
                }
              ]
            })
        if (!logIn)
          .header__burger-authorization
            +button({ text: 'Войти', isLink: true, variant: 'border', size: 'medium', link: 'change-me' })
            +button({ text: 'Зарегистрироваться', isLink: true, size: 'medium', link: 'change-me' })
        else
          .header__burger-authorization-complete
            span.header__user='Юлий Цезарь'
          
          

