include ~/components/heading/heading
include ~/components/button/button
include ~/components/pagination/pagination
include ~/components/range-slider/range-slider

mixin buttons(buttons = {})
  .buttons
    .buttons__container
      .buttons__range-slider
        +range-slider(buttons.rangeSlider)
      .buttons__buttons
        .buttons__heading
          +heading(buttons.buttonsBlock.heading)
        .buttons__buttons-wrapper
          each buttonGroup in buttons.buttonsBlock.buttons
            .buttons__buttons-group
              each button in buttonGroup
                +button(button)
      .buttons__pagination
        .buttons__heading
          +heading(buttons.pagination.heading)
        .buttons__pagination-wrapper
          +pagination(buttons.pagination.options)
