include ~/components/range-slider/range-slider
include ~/components/button/button
include ~/components/pagination/pagination

mixin buttons()
  .buttons
    .buttons__container
      .buttons__range-slider
        +rangeSlider({title: 'Range slider', classForJs: 'js-range-slider'})
      .buttons__buttons
        .buttons__heading
          +text({ text: 'buttons', type: 'h3', color: 'dark-shade-100', bold: true, hasUpper: true })
        .buttons__buttons-wrapper
          .buttons__buttons-group
            +button({ text: 'click me', variant: 'background', size: 'small', color: 'white' })
            +button({ text: 'click me', variant: 'background', size: 'small', color: 'white', disabled: true })
          .buttons__buttons-group
            +button({ text: 'click me', variant: 'fill-white', size: 'small', color: 'purple' })
            +button({ text: 'click me', variant: 'fill-white', size: 'small', color: 'purple', disabled: true })
          .buttons__buttons-group
            +button({ text: 'click me', variant: 'inline', color: 'purple' })
            +button({ text: 'click me', variant: 'inline', color: 'purple', disabled: true })
          .buttons__buttons-group
            +button({ text: 'перейти к оплате', color: 'white', size: 'large', variant: 'with-arrow' })
      .buttons__pagination
        .buttons__heading
          +text({ text: 'pagination', type: 'h3', color: 'dark-shade-100', bold: true, hasUpper: true })
        .buttons__pagination-wrapper
          +pagination({ classForJs: 'js-pagination' })
