@import '~/scss/mixins';

.buttons {
  &__container {
    min-width: rem(320);
  }

  &__range-slider {
    max-width: rem(266);
    margin-bottom: rem(44.5);
  }

  &__buttons {
    margin-bottom: rem(40);

    &-group {
      display: flex;
      gap: 20px;
      max-width: rem(218);
      margin-bottom: rem(30);

      &:nth-child(3) {
        gap: 15px;
        margin-bottom: rem(28);
      }

      &:last-child {
        max-width: rem(320);
        margin-bottom: 0;
      }
    }
  }

  &__heading {
    margin-bottom: rem(16);
  }

  &__pagination-wrapper {
    max-width: 240px;
  }
}
