@import 'form-elements/range-slider/range-slider';
@import 'form-elements/button/button';
@import 'form-elements/pagination/pagination';

.buttons-container {
  flex-basis: 33%;
  max-width: rem(320);
}

.buttons__range-slider {
  max-width: rem(266);
  margin-bottom: 44px;
}

.buttons__buttons {
  margin-bottom: 41px;
}

.buttons__buttons-wrap {
  display: flex;
  flex-wrap: wrap;
}

.buttons__buttons-group {
  width: 100%;
  max-width: rem(218);
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}

.buttons__buttons-group:nth-child(3) {
  max-width: rem(142);
  margin-bottom: 30.5px;
}

.buttons__buttons-group:last-child {
  max-width: rem(320);
  margin-bottom: 0;
}

.buttons__heading {
  margin-bottom: 16px;
}