include ~/components/like-button/like-button

mixin comments( commentsList=[] )
  .comments
    each comment in commentsList
      -
        const {
          imgName,
          name,
          dateOfComment,
          text,
          likeCount,
          likeIsActive
        } = comment

      .comments__comment
        .comments__comment-header
          .comments__comment-avatar-wrapper
            img&attributes({
              class: 'comments__comment-avatar',
              src: require(`@pages/room-details/img/avatars/${imgName}`),
              alt:'avatar',
            })
          .comments__comment-info
            p.comments__comment-name=name
            p.comments__comment-date-of-comment=dateOfComment
        .comments__comment-body
          .comments__comment-like-wrapper
            +likeButton({ count: likeCount, isActive: likeIsActive })
          .comments__comments-text-wrapper
            span.comments__comments-text=text
