-
  let maskedTextFieldSettings = [
    {heading: 'masked text field'}
  ]

mixin maskedTextField(maskedTextFieldSettings)
  .text-field.masked-text-field
    span.text-field__heading=maskedTextFieldSettings.heading
    input(type='text', placeholder='ДД.ММ.ГГГГ').input.input--focus.input--hover