.toggle-button__input {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;
}

.toggle-button__input:checked ~ .toggle-button__label::before {
  background: url('../radio-button/radio-checked.svg') no-repeat 24px;
  border-color: #BC9CFF;
}

.toggle-button__label {
  display: flex;
  
  max-width: 260px;

  cursor: pointer;
  font-size: 14px;
  line-height: 18px;  
  color: rgba(31, 32, 65, 0.75);
}

.toggle-button__label::before {
  flex-shrink: 0;
  content: '';
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  background: url('./toggle-button-disabled.svg') no-repeat 4px;

  margin-right: 10px;

  transition-property: background;
  transition-duration: 0.5s;
}

