@import '~/scss/variables';
@import '~/scss/mixins';

.room-card {
  max-width: rem(270);
  background: #fff;
  border-radius: $cardBorderRadius;
  box-shadow: $secondaryBoxShadow;

  &__info {
    padding: rem(19) rem(17) rem(18) rem(20);
  }

  &__main-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: rem(11);
    border-bottom: $featuresBorder;
  }

  &__number {
    display: flex;
    align-items: flex-end;

    &-info > .text {
      margin-bottom: rem(1.5);
      margin-left: rem(1);
    }

    &-text {
      color: $darkShade100;
      font-weight: bold;
      font-size: rem(19);
      line-height: rem(23.75);
    }

    &-symbol {
      margin-right: rem(4);
      font-size: rem(14);
      line-height: rem(17.07);
    }
  }

  &__price {
    color: $darkShade50;
    line-height: rem(18);

    &-value {
      font-weight: bold;
      font-size: rem(14);
    }

    &-text {
      margin-left: rem(4);
      font-size: rem(12);
    }
  }

  &__additional-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(8);
  }

  &__reviews {
    margin-right: rem(3);
    color: $darkShade50;
    font-size: rem(14);
    line-height: rem(18);

    &-value {
      font-weight: bold;
    }

    &-text {
      margin-left: rem(4);
    }
  }
}
