@import '~/scss/mixins';

.room-selection {
  @media screen and (max-width: 479px) {
    max-width: rem(380);
  }

  &__heading {
    margin-bottom: rem(22);

    @media screen and (max-width: 479px) {
      text-align: center;
    }
  }

  &__rooms {
    display: grid;
    grid-gap: rem(21.5) rem(12);
    grid-template-columns: repeat(auto-fit, rem(270));
    justify-content: center;
    max-width: rem(835);
    margin: 0;
    padding: 0;
    list-style: none;

    @media screen and (max-width: 767px) {
      max-width: rem(580);
    }

    @media screen and (max-width: 479px) {
      grid-template-columns: auto;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: rem(41.5);
  }
}
