include ~/components/text/text
include ~/components/room-card/room-card
include ~/components/pagination/pagination

mixin room-selection({ title, rooms = [] } = {})
  section.room-selection
    .room-selection__heading
      +text({ text: title, type: 'h1', color: 'dark-shade-100', bold: true })
    ul.room-selection__rooms
      each room in rooms
        li.room-selection__room
          +room-card(room)
    .room-selection__pagination
      +pagination({ classForJs: 'js-room-selection-pagination' })
