include ~/components/heading/heading
include ~/components/room-card/room-card
include ~/components/pagination/pagination

mixin room-selection({ title, rooms = [] } = {})
  section.room-selection
    .room-selection__heading
      +heading({
        title: title,
        titleType: 'h1',
        titleColor: 'dark-shade-100',
        titleBold: true
      })
    ul.room-selection__rooms
      each room in rooms
        li.room-selection__room
          +room-card(room)
    .room-selection__pagination
      +pagination({
      countOfItems: 180,
      itemsPerPage: 12,
    })
