.input {
  width: 100%;
  padding: 12px 15px 12px 15px;

  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;

  font-size: 14px;
  line-height: 18px;
  outline: none;
}

.input--focus:focus, .input--hover:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.input--focus:focus::placeholder, .input--hover:hover::placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.label {
  display: flex;
  
  max-width: 222px;

  cursor: pointer;
  font-size: 14px;
  line-height: 18px;  
  color: rgba(31, 32, 65, 0.5);
}

.label::before {
  flex-shrink: 0;
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  margin-right: 10px;
}

.label__text {
  margin-top: 1px;
}