@font-face {
    font-family: 'Montserrat';
    src: url('~/assets/fonts/montserrat/regular/montserrat.eot');
    src: local('Montserrat'), local('Montserrat-Regular'), url('~/assets/fonts/montserrat/regular/montserrat.woff2') format('woff2'), url('~/assets/fonts/montserrat/regular/montserrat.woff') format('woff'), url('~/assets/fonts/montserrat/regular/montserrat.ttf') format('truetype'), url('~/assets/fonts/montserrat/regular/montserrat.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('~/assets/fonts/montserrat/bold/montserratbold.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('~/assets/fonts/montserrat/bold/montserratbold.woff2') format('woff2'), url('~/assets/fonts/montserrat/bold/montserratbold.woff') format('woff'), url('~/assets/fonts/montserrat/bold/montserratbold.ttf') format('truetype'), url('~/assets/fonts/montserrat/bold/montserratbold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
