@import '~/scss/variables';
@import '~/scss/mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  color: $darkShade75;
  font-weight: $mainFontWeight;
  font-size: $mainFontSize;
  font-family: $mainFont;
  background: #fff;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
  }

  @media screen and (max-width: 1023px) {
    font-size: 11px;
  }
}

body {
  height: 100%;
  font-size: rem(14);
  line-height: rem(24);
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

h1 {
  margin: 0;
}
