// Font
$mainFont: 'Montserrat', Arial, sans-serif;
$mainFontSize: 14px;
$mainFontWeight: 400;

// Size
$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Colors
$darkShade100: rgba(31, 32, 65, 1);
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade10: rgba(31, 32, 65, 0.1);
$darkShade5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$yellow: #FFE39C;
$black: #3D4975;
$primaryGradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$secondaryGradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$yellowGradient: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
$blackGradient: linear-gradient(180deg, #919191 0%, #3D4975 100%);

// Borders
$mainBorder: 1px solid $darkShade25;
$focusBorder: 1px solid $darkShade50;
$mainBorderRadius: 4px;
$dropdownInputDropBorderRadius: 4px 4px 0 0;
$dropdownDropBorderRadius: 0 0 4px 4px;

// Shadows
$mainBoxShadow: 0 0 25px rgba(0, 0, 0, 0.2);
$secondaryBoxShadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

// Focused
$focusOutline: 3px solid $purple;
$secondaryFocusOutline: 3px solid $green;
