// Font
$mainFont: 'Montserrat', Arial, sans-serif;
$mainFontSize: 14px;
$mainFontWeight: 400;

// Size
$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Colors
$darkShade100: rgba(31, 32, 65, 1);
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade10: rgba(31, 32, 65, 0.1);
$darkShade5: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;
$yellow: #ffe39c;
$black: #3d4975;
$cardBackground: #fff;
$primaryGradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$secondaryGradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$primaryGradientTransparent: linear-gradient(
  180deg,
  rgba(#bc9cff, 0.5) 0%,
  rgba(#8ba4f9, 0.5) 100%
);
$primaryGradientTransparent25: linear-gradient(
  180deg,
  rgba(#bc9cff, 0.25) 0%,
  rgba(#8ba4f9, 0.25) 100%
);
$secondaryGradientTransparent: linear-gradient(
  180deg,
  rgba(#6fcf97, 0.5) 0%,
  rgba(#66d2ea, 0.5) 100%
);
$yellowGradient: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
$blackGradient: linear-gradient(180deg, #919191 0%, #3d4975 100%);

// Borders
$mainBorder: 1px solid $darkShade25;
$focusBorder: 1px solid $darkShade50;
$featuresBorder: 1px solid $darkShade10;
$cardBorder: 1px solid rgba(0, 0, 0, 0.12);
$avatarBorder: 2px solid #fff;
$mainBorderRadius: 4px;
$cardBorderRadius: 4px;
$dropdownInputDropBorderRadius: 4px 4px 0 0;
$dropdownDropBorderRadius: 0 0 4px 4px;

// Shadows
$mainBoxShadow: 0 0 25px rgba(0, 0, 0, 0.2);
$secondaryBoxShadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
$avatarBoxShadow: 0px 10px 20px rgba(31, 32, 65, 0.1);

// Focused
$focusOutline: 3px solid $purple;
$thinFocusOutline: 2px solid $purple;
$secondaryFocusOutline: 3px solid $green;
$focusUnderline: 2px underline $purple;
