extends ~/layouts/UI-kit-layout/UI-kit-layout
include ~/components/find-room-card/find-room-card
include ~/components/sign-up-card/sign-up-card
include ~/components/booking-card/booking-card
include ~/components/sign-in-card/sign-in-card
include ~/components/room-card/room-card

block variables
  -
    const title = 'Toxin cards'
    const description = 'Toxin cards description'
    const keywords = 'Toxin cards keywords'
    const faviconPaths = {
      apple: 'static/favicon/inactive/apple-touch-icon.png',
      big: 'static/favicon/inactive/favicon-32x32.png',
      small: 'static/favicon/inactive/favicon-16x16.png',
      manifest: `static/favicon/inactive/site.webmanifest`,
      pinned: 'static/favicon/inactive/safari-pinned-tab.svg',
    }

    const pageParams = require('@pages/cards/data/page-data.json')

block content
  .cards
    .cards__container
      .cards__wrapper
        .cards__find-room-card
          +find-room-card(pageParams.findRoomCard)
        .cards__sing-up-card
          +sign-up-card(pageParams.signUpCard)
      .cards__wrapper
        .cards__booking-card
          +booking-card(pageParams.bookingCard)
        .cards__sing-in-card
          +sign-in-card(pageParams.signInCard)
      .cards__wrapper
        .cards__datepicker
          +date-dropdown(pageParams.datepicker)
        .cards__room-cards
          each card in pageParams.roomCards
            .cards__room-card
              +room-card(card)
            
