@import '~normalize.css';
@import '~/scss/montserrat';
@import '~/scss/material-icons';
@import '~/scss/variables';
@import '~/scss/mixins';
@import '~/scss/settings';
@import '~/components/logo/logo';
@import '~/components/text/text';
@import '~/components/text-field/text-field';
@import '~/components/dropdown/dropdown';
@import '~/components/date-dropdown/date-dropdown';
@import '~/components/radio-button/radio-button';
@import '~/components/toggle-button/toggle-button';
@import '~/components/star-rating/star-rating';
@import '~/components/button/button';
@import '~/components/find-room-card/find-room-card';
@import '~/components/sign-up-card/sign-up-card';
@import '~/components/booking-card/booking-card';
@import '~/components/sign-in-card/sign-in-card';
@import '~/components/datepicker/datepicker';
@import '~/components/room-card/room-card';
@import '@libs/swiper/swiper';

.cards {
  background-color: $uiKitPagesBackground;

  &__container {
    display: flex;
    max-width: rem(1440);
    padding: rem(150) rem(140) rem(140) rem(140);
  }

  &__wrapper {
    width: 100%;
    max-width: rem(380);
    margin-right: rem(40);

    &:last-child {
      margin-right: 0;
    }
  }

  &__find-room-card {
    margin-bottom: rem(40);
  }

  &__booking-card {
    margin-bottom: rem(39);
  }

  &__datepicker {
    margin-bottom: rem(40);
  }

  &__room-card {
    margin-bottom: rem(41);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
