extends ~/templates/UI-kit/base-UI-kit/base-UI-kit
include ~/templates/UI-kit/logo/logo
include ~/templates/UI-kit/text/text
include ~/templates/UI-kit/cards/find-room-card/find-room-card
include ~/templates/UI-kit/cards/sign-up-card/sign-up-card
include ~/templates/UI-kit/cards/booking-card/booking-card
include ~/templates/UI-kit/cards/sign-in-card/sign-in-card
include ~/templates/UI-kit/cards/datepicker/datepicker
include ~/templates/UI-kit/cards/room-card/room-card

block variables
  -
    const title = 'Toxin cards'
    const description = 'Toxin cards description'
    const keywords = 'Toxin cards keywords'
    const faviconPaths = {
      apple: 'static/favicon/inactive/apple-touch-icon.png',
      big: 'static/favicon/inactive/favicon-32x32.png',
      small: 'static/favicon/inactive/favicon-16x16.png',
      manifest: `static/favicon/inactive/site.webmanifest`,
      pinned: 'static/favicon/inactive/safari-pinned-tab.svg',
    }

block content 
  .cards 
    +logo({ active: false, posAbsolute: true })
    .cards__container
      .cards__wrapper
        .cards__find-room-card 
          +findRoomCard({
            dropdownClassForJs: 'js-find-room-datepicker-dropdown',
            firstInputClassForJs: 'js-find-room-datepicker-1',
            secondInputClassForJs: 'js-find-room-datepicker-2',
            guestsClassForJs: 'js-find-room-guests',
            firstInputName: 'findRoomStartDate',
            secondInputName: 'findRoomFinishDate',
            guestsName: 'findRoomGuests'
          })
        .cards__sing-up-card
          +signUpCard({ logInButtonLink: 'change-me', buttonText: 'Перейти к оплате' })
      .cards__wrapper
        .cards__booking-card 
          +bookingCard({
            luxe: true,
            dropdownClassForJs: 'js-booking-room-datepicker-dropdown',
            firstInputClassForJs: 'js-booking-card-datepicker-1',
            secondInputClassForJs: 'js-booking-card-datepicker-2',
            guestsClassForJs: 'js-booking-card-guests',
            firstInputName: 'bookingRoomStartDate',
            secondInputName: 'bookingRoomFinishDate',
            guestsName: 'bookingRoomGuests'
          })
        .cards__sing-in-card 
          +signInCard({ signUpButtonLink: 'change-me' })
      .cards__wrapper 
        .cards__datepicker
          +datepicker({ classForJs: 'js-datepicker' })
        .cards__room-cards
          .cards__room-card
            +roomCard({
              roomNumber: '888',
              roomPrice: '9 990₽',
              roomReviews: '145',
              luxe: true,
              ratingClassForJs: 'js-room-rating-1',
              roomImgs: [
                'room-888.jpg',
                'room-888.jpg',
                'room-888.jpg',
                'room-888.jpg',
              ]
            })
          .cards__room-card
            +roomCard({
              roomNumber: '840',
              roomPrice: '9 900₽',
              roomReviews: '65',
              ratingClassForJs: 'js-room-rating-2',
              roomImgs: [
                'room-840.jpg',
                'room-840.jpg',
                'room-840.jpg',
                'room-840.jpg',
              ]
            })