@import '~normalize.css';
@import '~/scss/montserrat';
@import '~/scss/material-icons';
@import '~/scss/variables';
@import '~/scss/mixins';
@import '~/scss/settings';
@import '~/components/logo/logo';
@import '~/components/text/text';
@import '~/components/text-field/text-field';
@import '~/components/dropdown/dropdown';
@import '~/components/radio-button/radio-button';
@import '~/components/toggle-button/toggle-button';
@import '~/components/star-rating/star-rating';
@import '~/components/button/button';
@import '~/components/find-room-card/find-room-card';
@import '~/components/sign-up-card/sign-up-card';
@import '~/components/booking-card/booking-card';
@import '~/components/sign-in-card/sign-in-card';
@import '~/components/datepicker/datepicker';
@import '~/components/room-card/room-card';
@import '@libs/swiper/swiper';

.cards {
  background-color: #F4F4F6;
}

.cards__container {
  display: flex;
  padding: rem(150) rem(140) rem(140) rem(140);
}

.cards__wrapper {
  width: 100%;
  max-width: rem(380);
  margin-right: rem(40);
}

.cards__find-room-card {
  margin-bottom: rem(40);
}

.cards__booking-card {
  margin-bottom: rem(40);
}

.cards__datepicker {
  margin-bottom: rem(409);
}

.cards__room-card {
  margin-bottom: rem(41);
}

.cards__room-card:last-child {
  margin-bottom: 0;
}
