include ~/templates/UI-kit/text/text
include ~/templates/UI-kit/form-elements/star-rating/star-rating
include ~/libs/swiper/swiper

mixin roomCard(options)
  -
    const { roomNumber, roomPrice, roomReviews, roomImgs = [], luxe, sliderClassForJs, ratingClassForJs } = options 

  .room-card 
    .room-card__container 
      .room-card__slider
        +slider({
          pagination: true,
          navigation: true,
          classForAllImg: 'room-card__img',
          items: [
            { src: roomImgs[0], alt: 'Фото комнаты 1' },
            { src: roomImgs[1], alt: 'Фото комнаты 2' },
            { src: roomImgs[2], alt: 'Фото комнаты 3' },
            { src: roomImgs[3], alt: 'Фото комнаты 4' },
          ]
        })
      .room-card__room-info 
        .room-card__room-main-info
          .room-card__room-number-info
            h2(class='room-card__room-number').
              #[span.room-card__room-number-symbol № ]
              #[span.room-card__room-number-value=roomNumber]
            if (luxe)
              +text({ text: 'люкс', type: 'h3', color: 'purple', bold: true, hasUpper: true })
          .room-card__room-price-info 
            p(class='room-card__room-price').
              #[span.room-card__room-price-value=roomPrice]
              #[span.room-card__room-price-day в сутки]
        .room-card__room-additional-info 
          .room-card__room-rating-info
            +starRating({ classForJs: ratingClassForJs })
          .room-card__room-reviews-info
            p(class='room-card__room-reviews').
              #[span.room-card__room-reviews-value=roomReviews]
              #[span.room-card__room-reviews-text Отзывов]