@import '~/scss/variables';
@import '~/scss/mixins';

.start-page {
  display: flex;
  min-height: 100vh;
  padding: rem(20) 0 0 0;
  background: $black;

  &__container {
    max-width: rem(1440);
    margin: 0 auto;
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: rem(250);

    &-link {
      display: flex;

      &:focus-visible {
        outline: $focusOutline;
      }
    }
  }

  &__heading {
    min-height: rem(30);
    margin-bottom: rem(20);
    color: transparent;
    font-size: rem(29);
    line-height: rem(24);
    text-align: center;
    background-clip: text;
  }

  &__UI-kit-menu {
    margin-bottom: rem(50);

    .start-page {
      &__heading {
        background-image: $primaryGradient;
      }
    }

    .menu {
      &__item {
        &-link {
          color: $purple;

          &::after {
            background-color: $purple;
          }
        }
      }
    }
  }

  &__site-menu {
    .start-page {
      &__heading {
        background-image: $secondaryGradient;
      }
    }

    .menu {
      &__item {
        &-link {
          color: $green;

          &::after {
            background-color: $green;
          }
        }
      }
    }
  }

  &__UI-kit-menu,
  &__site-menu {
    min-height: rem(80);

    .menu {
      &__list {
        justify-content: center;
      }

      &__item {
        @media screen and (max-width: 1023px) {
          border-bottom: none;
        }

        &-link {
          font-weight: bold;
          font-size: rem(18);
          transition: font 0.5s ease;

          &::after {
            position: absolute;
            bottom: rem(-8);
            left: 0;
            width: 0;
            height: rem(3);
            transition: width 0.5s ease;
            content: '';

            @media screen and (max-width: 1023px) {
              bottom: 0;
            }
          }

          &:hover,
          &:focus-visible {
            font-size: rem(24);

            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
