.text-field {
  &__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: rem(5);
  }

  &__wrapper {
    position: relative;
  }

  &__input {
    width: 100%;
    padding: rem(12) rem(14);
    color: $darkShade75;
    font-size: rem(14);
    font-family: inherit;
    border: $mainBorder;
    border-radius: $mainBorderRadius;
    outline: none;

    &::placeholder {
      color: $darkShade25;
    }

    &:hover,
    &:focus {
      border: $focusBorder;

      &::placeholder {
        color: $darkShade75;
      }
    }

    &--focused {
      border: $focusBorder;
    }

    &--with-button {
      padding: rem(12) rem(44) rem(12) rem(14);
    }

    &--lowercase {
      text-transform: lowercase;
    }
  }

  &__arrow-button {
    position: absolute;
    top: rem(10);
    right: rem(10);
    color: $darkShade50;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.4s ease;

    &:focus-visible {
      outline: $focusOutline;
    }

    &--rotate {
      transform: rotateX(180deg);
    }
  }

  &__button {
    position: absolute;
    top: rem(10);
    right: rem(10);
    font-size: rem(24);
    border: none;
    cursor: pointer;

    @include text-gradient-fill($primaryGradient);

    &:focus-visible {
      outline: $focusOutline;
    }
  }
}
