include ~/components/text/text

mixin text-field( options={} )
  -
    const {
      type,
      placeholder,
      hasTitle,
      title,
      subtitle,
      name,
      value,
      dataType,
      hasArrow,
      isSubscribe,
      isMasked,
      isReadonly,
      isLowerCase,
      withSpellcheck,
      focused,
      autocomplete='off'
    } = options

    const mainClass = 'text-field__input'
    const maskedClass = isMasked && 'js-masked-text-field'
    const focusedModifier = focused && 'text-field__input--focused'
    const inputWithButtonModifier = withButton && 'text-field__input--with-button'
    const arrowClass = 'text-field__arrow-button material-icons js-text-field__arrow-button'
    const subscribeButtonClass = 'text-field__button material-icons'
    const buttonModifier = isSubscribe && 'text-field__input--with-button'
    const lowerCaseModifier = isLowerCase && 'text-field__input--lowercase'

    const attrs = {
      class: [
        mainClass,
        focusedModifier,
        inputWithButtonModifier,
        lowerCaseModifier,
        buttonModifier,
        maskedClass
      ],
      type: type,
      'data-type': dataType,
      name: name,
      value: value,
      placeholder: placeholder,
      autocomplete: autocomplete,
      spellcheck: withSpellcheck,
      readOnly: isReadonly
    }

  .text-field
    if (hasTitle)
      .text-field__title
        +text({
          text: title,
          type: 'h3',
          color: 'dark-shade-100',
          bold: true,
          hasUpper: true
        })
        if (subtitle)
          +text({
            text: subtitle,
            type: 'h3',
            color: 'dark-shade-50',
            hasUpper: true
          })
    .text-field__wrapper
      input&attributes(attrs)
      if (hasArrow)
        button&attributes({
          class: arrowClass,
          type: 'button',
          'data-type': 'arrow',
        })='expand_more'
      if (isSubscribe)
        button(class=subscribeButtonClass type='submit' name='subscribe')='arrow_forward'
