@import '~/scss/variables';
@import '~/scss/mixins';

.sub-menu {
  position: absolute;
  top: rem(30);
  left: 50%;
  z-index: 1;
  width: rem(150);
  padding: rem(10) 0;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: $mainBoxShadow;
  transform: translate(-59%, 0);

  &::before {
    position: absolute;
    top: -10px;
    left: 50%;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-bottom-color: #fff;
    transform: translate(-50%, 0);
    content: '';
  }

  @media screen and (max-width: 1023px) {
    top: 100%;
    left: 50%;
    z-index: 5;
    width: 100%;
    max-width: none;
    padding: 0;
    transform: translateX(-50%);
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    margin-bottom: rem(10);

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: 1023px) {
      margin: 0;
      border-bottom: 1px solid #f4f4f6;

      &:last-child {
        border-bottom: 0;
      }
    }

    &-link {
      color: $darkShade50;
      text-decoration: none;

      &:focus-visible {
        color: $darkShade75;
        outline: none;
      }

      &:hover {
        color: $darkShade75;
      }

      @media screen and (max-width: 1023px) {
        display: block;
        padding: rem(10) 0;
      }
    }
  }
}
