mixin date-dropdown(heading, info)
 block date-dropdown
  .dropdown.dropdown--size-s.date-dropdown
    span.dropdown__heading=heading 
    button(type='button').input.dropdown__button=info
      .dropdown__arrow
        img(src='assets/img/dropdown-arrow.png')
