mixin button({ text, withBackground, withBorder, withArrow, disabled })
  -
    let buttonContainerClass = 'button'
    let buttonClass = 'button__button' + ' text--with-type-h3'

    if (!withBackground && !withBorder && disabled && !withArrow) {
      buttonClass += ' button__button--disabled'
      buttonContainerClass += ' button--width-auto'
    }

    if (!withBackground && !withBorder && !disabled && !withArrow) {
      buttonClass += ' button__button--hovered'
      buttonContainerClass += ' button--width-auto'
    }

    if (withBackground) {
      buttonClass += ' button__button--with-background'
    }

    if (withBackground && disabled) {
      buttonClass += ' button__button--with-background-disabled'
    }

    if (withBorder) {
      buttonClass += ' button__button--with-border'
    }

    if (withBorder && disabled) {
      buttonClass += ' button__button--with-border-disabled'
    }

    if (withArrow) {
      buttonClass += ' button__button--with-arrow'
      buttonContainerClass += ' button--width-large'
    }
    
  div(class=buttonContainerClass)
    button(class=buttonClass, disabled=disabled)=text