.button {
  width: 100%;
  max-width: 99px;
  text-align: center;
  border-radius: 22px;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.button--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button:hover {
  opacity: 0.5;
}

.button--size-medium {
  width: auto;
  max-width: none;
}

.button__button {
  display: block;
  width: 100%;
  padding: 14.5px 0;
  border: none;
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  font-size: rem(12);
  line-height: rem(14.63);
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.button__button--disabled {
  cursor: not-allowed;
}

.button__button--size-medium {
  padding: 9.5px 20px;
}

.button__button--hidden {
  display: none;
}

.button__button:focus-visible {
  outline: 3px solid $purple;
}

.button--variant-border {
  padding: 2px 2px;
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  cursor: pointer;
}

.button--variant-border-size-medium {
  width: auto;
}

.button__button--variant-border {
  padding: 12.5px 0;
  color: $purple;
  background: #fff;
}

.button__button--variant-border-size-medium {
  padding: 7.5px 18.5px;
}

.button--variant-text {
  width: auto;
  max-width: none;
}

.button--variant-text-disabled {
  opacity: 1;
  color: $darkShade50;
}

.button--variant-text-disabled:hover {
  opacity: 1;
}

.button__button--variant-text {
  padding: 0;
  border-radius: 0;
  color: $purple;
  background: transparent;
}

.button__button--variant-text-disabled {
  color: $darkShade50;
}

.button--variant-with-arrow {
  width: 100%;
  max-width: 320px;
}
  
.button__button--variant-with-arrow {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
  
.button__button--variant-with-arrow::after {
  position: absolute;
  top: 10px;
  right: 10px;
  content: 'arrow_forward';
  font-family: 'Material Icons', Arial, sans-serif;
  font-size: rem(24);
  line-height: rem(24);
  text-transform: none;
  font-weight: normal;
}