.features__item {
  display: flex;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  margin-bottom: rem(20);
  padding-bottom: rem(14);
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__item-icon-wrapper {
  margin-right: rem(10);
}

.features__item-icon {
  font-size: rem(48);
  background: $primaryGradient;
  background-clip: text;
  color: transparent;
  user-select: none;
}

.features__item-text-wrapper {
  color: $darkShade75;
  user-select: none;
}

.features__item-title {
  display: inline-block;
  font-weight: bold;
}

.features__item-description {
  display: inline-block;
}