mixin features(options)
  -
    const { items } = options
    let iconClass = 'features__item-icon material-icons'
  
  .features 
    ul.features__list 
      each item in items 
        -
          const { icon, title, description } = item 
        
        li.features__item
          .features__item-icon-wrapper 
            span(class=iconClass)=icon 
          .features__item-text-wrapper
            span.features__item-title=title
            span.features__item-description=description
  
